{% extends "en-us/PageLayout.htm" %}
{% block htmMetaPageLayout %}
    <meta property="site:pageId" content="powered-by-fiware-platform-on-openshift"/>
    <meta property="site:uri" content="/en-us/service/{{ pageId }}"/>
    <meta property="site:name" content="Powered by FIWARE Platform on OpenShift"/>
    <meta property="site:title" content="{{ name }}"/>
    <meta property="site:description" content="Work together with computate to launch your own Powered by FIWARE platform in the cloud to Red Hat OpenShift"/>
{% endblock htmMetaPageLayout %}
{% block htmStylePageLayout %}
.intro-background {
	background: linear-gradient(130deg, var(--sl-color-pink-300), var(--sl-color-purple-300));
	color: white;
	padding: calc(var(--sl-spacing-3x-large) * 1.875) 0 var(--sl-spacing-3x-large) 0;
}
.gradient-button {
  &:not(sl-button), &:is(sl-button)::part(base) {
    background: linear-gradient(90deg, var(--sl-color-pink-300), var(--sl-color-purple-300));
    border: solid 1px var(--sl-color-purple-300);
    transition: transform 100ms, box-shadow 100ms;
  }
  &:is(sl-button)::part(base):hover {
    box-shadow: var(--sl-shadow-medium);
    transform: scale(105%);
  }
  &:is(sl-button)::part(base):active {
    box-shadow: inset var(--sl-shadow-small);
    transform: scale(100%);
  }
}
.intro-content {
	max-width: var(--content-width);
	margin-inline: auto;
	padding-inline: var(--sl-spacing-2x-large);
}
.intro-details {
	display: flex;
	align-items: center;
	gap: 1.5rem;
	flex-wrap: wrap;
	background-color: var(--sl-color-gray-200);
	border-radius: 0.75rem;
	font-size: 0.875rem;
	padding: 1.5rem;
}

.summary-wrapper {
	max-width: var(--content-width);
	margin-block: var(--sl-spacing-3x-large);
	margin-inline: auto;
	padding-inline: var(--sl-spacing-3x-large);
}
.summary {
	background-color: var(--sl-color-gray-200);
	border-radius: 1.125rem;
	color: white;
	padding: var(--sl-spacing-2x-large);
}
.summary {
  & > * + * {
    margin-block-start: 2rem;
  }
}
.summary-grid {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(min(30ch, 100%), 1fr));
	gap: 2rem;
}
#order-button {
  &::part(label) {
    font-weight: bold;
  }
  margin-inline: auto;
}
{% endblock htmStylePageLayout %}
{% block htmTitlePageLayout %}
    <title>{{ title }}</title>
{% endblock htmTitlePageLayout %}
{% block htmBodyMiddlePageLayout %}

        <div class="intro-background">
          <div class="intro-content">
            <div class="wa-crown">
              <i class="fa-duotone fa-solid fa-browser fa-5x "></i>
            </div>
            <h1 class="brand-font">
              {{ description }}
            </h1>
            <h2 class="brand-font">
              with the {{ name }}
            </h2>
            <div class="intro-details">
              <div>For more information, please contact </div>
              <sl-button id="order-button" class="gradient-button" href="mailto:services@computate.org" variant="neutral">
                <i class="fa-solid fa-person-running-fast"></i>
                services@computate.org
              </sl-button>
            </div>
          </div>
        </div>

        <div class="summary-wrapper">
          <div class="summary">
            <h2 class="brand-font anchor-heading" id="whats-web-awesome">
              What is the {{ name }}?
            </h2>
            <p>
              Work with Computate to launch your own Powered by FIWARE to Red Hat OpenShift in the cloud. 
            </p>
            <div class="summary-grid">

              <div>
                <div class="icon-heading">
                  <i class="fa-solid fa-code"></i>
                  <h3>
                    Develop
                  </h3>
                </div>
                <p>
                  Build a custom data-driven website and OpenAPI based on your own business data and Smart Data Models. 
                  See the <a href="{{ SITE_BASE_URL }}/en-us/product/smart-device-platform-builder">Computate Smart Device Platform Builder</a>
                </p>
              </div>

              <div>
                <div class="icon-heading">
                  <i class="fa-solid fa-cloud-arrow-up"></i>
                  <h3>
                    Containerize
                  </h3>
                </div>
                <p>
                  After developing your new data-driven website locally, learn how to containerize the application for running in the cloud the open source way. 
                  See the <a href="{{ SITE_BASE_URL }}/en-us/course/powered-by-fiware-smart-developer-challenge">Powered by FIWARE Smart Developer Challenge</a>
                </p>
              </div>

              <div>
                <div class="icon-heading">
                  <i class="fa-solid fa-cloud-arrow-up"></i>
                  <h3>
                    Deploy
                  </h3>
                </div>
                <p>
                  Learn how to deploy your newly developed and containerized data-driven website to the cloud. 
                  See the <a href="{{ SITE_BASE_URL }}/en-us/course/powered-by-fiware-smart-cloud-challenge">Powered by FIWARE Smart Cloud Challenge</a>
                </p>
              </div>

            </div>
          </div>
        </div>
{% endblock %}
