{% extends "en-us/PageLayout.htm" %}

{%- block htmTitlePageLayout %}
{%- block htmTitleCompanyServicePage %}
    <title>{% if resultCount == 0 %}no service found{% else %}services{% endif %}</title>
{%- endblock htmTitleCompanyServicePage %}
{%- endblock htmTitlePageLayout %}

{%- block htmStylesPageLayout %}
{{ super() }}
    <link rel="stylesheet" href="{{ staticBaseUrl }}/css/service/CompanyService.css"/>
{%- block htmStylesCompanyServicePage %}
{%- endblock htmStylesCompanyServicePage %}
{%- endblock htmStylesPageLayout %}

{%- block htmStylePageLayout %}
{{ super() }}
{%- block htmStyleCompanyServicePage %}
{%- endblock htmStyleCompanyServicePage %}
{%- endblock htmStylePageLayout %}

{%- block htmScriptsPageLayout %}
{{ super() }}
{%- block htmScriptsCompanyServicePage %}
    <script src="{{staticBaseUrl}}/js/service/CompanyService.js"></script>
    <script type="module" src="{{staticBaseUrl}}/js/service/CompanyServiceSearch.js"></script>
{%- endblock htmScriptsCompanyServicePage %}
{%- endblock htmScriptsPageLayout %}

{%- block htmScriptPageLayout %}
{%- block htmScriptCompanyServicePage %}
    <script>

      function jsWebsocketCompanyService(id, vars, $response) {
{%- block jsWebsocketCompanyServicePage %}{%- endblock %}
      }

      function jsTooltipCompanyService(e, feature) {
{%- block jsTooltipCompanyServicePage %}{%- endblock %}
      }

      function htmTooltipCompanyService(feature, layer) {
        return `{%- block htmTooltipCompanyServicePage %}
<h3><i class="{{ classIconCssClasses }}  "></i><a href="${quoteattr(feature.properties.pageUrlPk)}">${feature.properties.objectTitle}</a></h3>
{%- endblock htmTooltipCompanyServicePage %}`;
      }
    </script>
    <script type="module">
{% if DEFAULT_MAP_LOCATION is defined %}
      window.DEFAULT_MAP_LOCATION = { lat: {{ DEFAULT_MAP_LOCATION.lat }}, lon: {{ DEFAULT_MAP_LOCATION.lon }} };
{% endif %}
{% if DEFAULT_MAP_ZOOM is defined %}
      window.DEFAULT_MAP_ZOOM = {{ DEFAULT_MAP_ZOOM }};
{% endif %}
      window.DEFAULT_ZONE_ID = '{{ defaultZoneId }}';
      Promise.all([
        customElements.whenDefined('sl-button')
        , customElements.whenDefined('sl-input')
      ]).then(() => {

        var id = {% if id is defined %}{{ id }}{% else %}null{% endif %};

        if(id == null) {
          document.querySelector('#grid-toggle-details')?.addEventListener('click', () => {
            document.querySelector('#site-results-grid').classList.remove('grid-mode-list', 'grid-mode-card');
            document.querySelector('#site-results-grid').classList.add('grid-mode-details');
          });
          document.querySelector('#grid-toggle-list')?.addEventListener('click', () => {
            document.querySelector('#site-results-grid').classList.remove('grid-mode-details', 'grid-mode-card');
            document.querySelector('#site-results-grid').classList.add('grid-mode-list');
          });
          document.querySelector('#grid-toggle-card')?.addEventListener('click', () => {
            document.querySelector('#site-results-grid').classList.remove('grid-mode-details', 'grid-mode-list');
            document.querySelector('#site-results-grid').classList.add('grid-mode-card');
          });
        } else {
          var o = document.querySelector('.pageForm .result')?.value;
          if(o)
            window.result = JSON.parse(o);
        {% if id is defined %}
        {% endif %}
        }
        var l = document.querySelector('.pageForm .listCompanyService')?.value;
        if(l)
          window.listCompanyService = JSON.parse(l);
        window.varsFq = JSON.parse('{{ toJsonObjectStringInApostrophes(varsFq) }}');
        window.varsRange = JSON.parse('{{ toJsonObjectStringInApostrophes(varsRange) }}');
        window.defaultRangeVar = '{{ defaultRangeVar }}';
        pageGraphCompanyService();
        {% for key, value in varsQ.items() %}

        document.querySelector('#qCompanyService_{{ key }}')?.addEventListener('sl-{% if var == 'objectSuggest' %}keyup{% else %}change{% endif %}', event => {
          qChange('CompanyService', event.target, document.querySelector('#qCompanyServiceDiv_{{ key }}'));
        });
        {% endfor %}

        document.querySelector('#qCompanyService_rows')?.addEventListener('sl-change', event => {
          paramChange('CompanyService', event.target, document.querySelector('#qCompanyServiceDiv_rows'));
        });

        document.querySelector('#qCompanyService_start')?.addEventListener('sl-change', event => {
          paramChange('CompanyService', event.target, document.querySelector('#qCompanyServiceDiv_start'));
        });


        var submitForm_patchCompanyService = document.querySelector('#htmForm_patchCompanyService')?.addEventListener('submit', event => {
          event.preventDefault();
          return false;
        });
        document.querySelector('#htmFormButton_patchCompanyService')?.addEventListener('click', event => {
          event.preventDefault();
          patchCompanyService(null, document.querySelector('#htmForm_patchCompanyService'), document.querySelector('#htmFormButton_patchCompanyService'), event.target.getAttribute('data-id'));
          return false;
        });

        var submitForm_postCompanyService = document.querySelector('#htmForm_postCompanyService')?.addEventListener('submit', event => {
          event.preventDefault();
          return false;
        });
        document.querySelector('#htmFormButton_postCompanyService')?.addEventListener('click', event => {
          event.preventDefault();
          postCompanyService(document.querySelector('#htmForm_postCompanyService'), document.querySelector('#htmFormButton_postCompanyService'), (response, target) => { response.json().then((json) => { window.location.href = json.pageUrlPk; }); });
          return false;
        });

        var submitForm_putimportCompanyService = document.querySelector('#htmForm_putimportCompanyService')?.addEventListener('submit', event => {
          event.preventDefault();
          return false;
        });
        document.querySelector('#htmFormButton_putimportCompanyService')?.addEventListener('click', event => {
          event.preventDefault();
          putimportCompanyService(document.querySelector('#htmForm_putimportCompanyService'), document.querySelector('#htmFormButton_putimportCompanyService'));
          return false;
        });

        var submitForm_searchpageCompanyService = document.querySelector('#htmForm_searchpageCompanyService')?.addEventListener('submit', event => {
          event.preventDefault();
          return false;
        });
        document.querySelector('#htmFormButton_searchpageCompanyService')?.addEventListener('click', event => {
          event.preventDefault();
          searchpageCompanyService();
          return false;
        });
      });
    </script>
{%- endblock htmScriptCompanyServicePage %}
{%- endblock htmScriptPageLayout %}

{%- block websocketPageLayout %}
{%- block websocketCompanyServicePage %}
        window.eventBus = new EventBus('/eventbus');
        window.eventBus.enableReconnect(true);
        websocketCompanyService(websocketCompanyServiceInner);
{%- endblock websocketCompanyServicePage %}
{%- endblock websocketPageLayout %}

{%- block htmUrlCompanyServicePage %}{{pageUri}}?q={{query.q}}&amp;rows={% if rows is defined %}{{rows}}{% else %}{{pagination.rows}}{% endif %}&amp;rows={% if start is defined %}{{start}}{% else %}{{pagination.start}}{% endif %}{% for item query.fq %}{% if fq == item %}{% else %}&fq={{fq}}:{{val}}{% endif %}{% endfor %}{% for item in query.sort %}{% if sort == item %}{% else %}&sort={{var}} {{order}}{% endif %}{% endfor %}{%- endblock htmUrlCompanyServicePage %}

{%- block htmBodyStartPageLayout %}
{{ super() }}
{%- block htmBodyStartCompanyServicePage %}
{%- endblock htmBodyStartCompanyServicePage %}
{%- endblock htmBodyStartPageLayout %}

{%- block htmBodyMiddlePageLayout %}
{%- block htmBodyMiddleCompanyServicePage %}
{%- include service/CompanyServiceSidebar.htm %}
{%- include service/CompanyServiceSuggestedSearch.htm %}
{% if resultCount == 0 %}
        <div>
          <sl-tooltip content="back to all services">
            <sl-button href="{{ SITE_BASE_URL }}{{ pageUri }}">
              <i class="fa-solid fa-angle-left"></i>
              all services
            </sl-button>
          </sl-tooltip>
        </div>
        <h1>
          <i class="fa-regular fa-conveyor-belt"></i>
          <span>services</span>
        </h1>
{% include service/CompanyServiceSearchButtons.htm %}
{% include service/CompanyServiceSearchForm.htm %}
        <h2>
          <span>
  {% if classIconCssClasses is defined %}
            <i class="{{ classIconCssClasses }}  site-menu-icon "></i>
  {% endif %}
            <span class="">no service found</span>
          </span>
        </h2>
{% else %}
        <div class="pageContent ">
          <div id="site-calendar-box">
            <div id="site-calendar"><!-- // --></div>
          </div>
          <div>
            <sl-tooltip content="back to all services">
              <sl-button href="{{ SITE_BASE_URL }}{{ pageUri }}">
                <i class="fa-solid fa-angle-left"></i>
                all services
              </sl-button>
            </sl-tooltip>
          </div>
          <h1>
            <a href="{{pageUri}}">
              <i class="fa-regular fa-conveyor-belt"></i>
              <span>services</span>
            </a>
          </h1>
{% include service/CompanyServiceSearchButtons.htm %}
{% include service/CompanyServiceSearchForm.htm %}
{% include service/CompanyServicePaginationButtons.htm %}
          <div class="grid-mode-details border-radius-x-large" id="site-results-grid">
            <div>
              <sl-dropdown id="htmDropdown_name">
                <sl-button slot="trigger" caret>service name</sl-button>
                <sl-menu>
                  <sl-menu-item type="checkbox" data-action="sort">
                    <i class="fa-solid fa-arrow-down-a-z"></i>
                    sort by service name ascending
                  </sl-menu-item>
                  <sl-menu-item type="checkbox" data-action="sort">
                    <i class="fa-solid fa-arrow-down-z-a"></i>
                    sort by service name descending
                  </sl-menu-item>
                </sl-menu>
              </sl-dropdown>
              <sl-dropdown id="htmDropdown_description">
                <sl-button slot="trigger" caret>service description</sl-button>
                <sl-menu>
                  <sl-menu-item type="checkbox" data-action="sort">
                    <i class="fa-solid fa-arrow-down-a-z"></i>
                    sort by service description ascending
                  </sl-menu-item>
                  <sl-menu-item type="checkbox" data-action="sort">
                    <i class="fa-solid fa-arrow-down-z-a"></i>
                    sort by service description descending
                  </sl-menu-item>
                </sl-menu>
              </sl-dropdown>
            </div>
            {% for item in listCompanyService%}
            <div>
              <a href="{{ item.pageUrlPk }}">
                <i class="fa-regular fa-conveyor-belt"></i>
              {{ item.name }}
              </a>
              <a href="{{ item.pageUrlPk }}">
              {{ item.description }}
              </a>
            </div>
            {% endfor %}
              {% if getColumnName is defined %}
                <div>
                </div>
              {% endif %}
              {% if getColumnDescription is defined %}
                <div>
                </div>
              {% endif %}
          </div>
{% endif %}
{%- endblock htmBodyMiddleCompanyServicePage %}
{%- endblock htmBodyMiddlePageLayout %}

{%- block htmBodyEndPageLayout %}
  {{ super() }}
{%- block htmBodyEndCompanyServicePage %}
{%- endblock htmBodyEndCompanyServicePage %}
{%- endblock htmBodyEndPageLayout %}
