{{#eq classSimpleName "ComputateEvent"}}
{{#partial "htmHead"}}{{> htmHeadComputateEventPage}}{{/partial}}
{{#partial "htmTitle"}}{{> htmTitleComputateEventPage}}{{/partial}}
{{#partial "htmMeta"}}{{> htmMetaComputateEventPage}}{{/partial}}
{{#partial "htmStyle"}}{{> htmStyleComputateEventPage}}{{/partial}}
{{#partial "htmScripts"}}{{> htmScriptsComputateEventPage}}{{/partial}}
{{#partial "htmScript"}}{{> htmScriptComputateEventPage}}{{/partial}}
{{#partial "websocket"}}{{> websocketComputateEventPage}}{{/partial}}
{{#partial "jsWebsocket"}}{{> jsWebsocketComputateEventPage}}{{/partial}}
{{#partial "jsTooltip"}}{{> jsTooltipComputateEventPage}}{{/partial}}
{{#partial "htmTooltip"}}{{> htmTooltipComputateEventPage}}{{/partial}}
{{#partial "jsLegend"}}{{> jsLegendComputateEventPage}}{{/partial}}
{{#partial "htmLegend"}}{{> htmLegendComputateEventPage}}{{/partial}}
{{#partial "jsStyle"}}{{> jsStyleComputateEventPage}}{{/partial}}
{{#partial "htmBodySidebar"}}{{> htmBodySidebarComputateEventPage}}{{/partial}}
{{#partial "htmBodyStart"}}{{> htmBodyStartComputateEventPage}}{{/partial}}
{{#partial "htmBodyMiddle"}}{{> htmBodyMiddleComputateEventPage}}{{/partial}}
{{#partial "htmBodyEnd"}}{{> htmBodyEndComputateEventPage}}{{/partial}}
{{#partial "htmBody"}}{{> htmBodyComputateEventPage}}{{/partial}}
{{#partial "htmBodySearch"}}{{> htmBodySearchComputateEventPage}}{{/partial}}
{{#partial "htmBodyFilters"}}{{> htmBodyFiltersComputateEventPage}}{{/partial}}
{{#partial "htmBodyRange"}}{{> htmBodyRangeComputateEventPage}}{{/partial}}
{{#partial "htmBodyPivot"}}{{> htmBodyPivotComputateEventPage}}{{/partial}}
{{#partial "htmBodyFieldList"}}{{> htmBodyFieldListComputateEventPage}}{{/partial}}
{{#partial "htmBodyStats"}}{{> htmBodyStatsComputateEventPage}}{{/partial}}
{{#partial "htmBodyMenu"}}{{> htmBodyMenuComputateEventPage}}{{/partial}}
{{#partial "htmBodyGraph"}}{{> htmBodyGraphComputateEventPage}}{{/partial}}
{{#partial "htmBodyGraphLocation"}}{{> htmBodyGraphLocationComputateEventPage}}{{/partial}}
{{#partial "htmBodyCount0"}}{{> htmBodyCount0ComputateEventPage}}{{/partial}}
{{#partial "htmBodyCount1"}}{{> htmBodyCount1ComputateEventPage}}{{/partial}}
{{#partial "htmBodyAll"}}{{> htmBodyAllComputateEventPage}}{{/partial}}
{{#partial "htmForm"}}{{> htmFormComputateEventPage}}{{/partial}}
{{#partial "htmForms"}}{{> htmFormsComputateEventPage}}{{/partial}}
{{#partial "htmBodySuggested"}}{{> htmBodySuggestedComputateEventPage}}{{/partial}}
{{#partial "htmButton_patchComputateEvent"}}{{> htmButtonComputateEventPage_patchComputateEvent classApiMethodMethod="PATCH"}}{{/partial}}
{{#partial "htmForm_patchComputateEvent"}}{{> htmFormComputateEventPage_patchComputateEvent classApiMethodMethod="PATCH"}}{{/partial}}
{{#partial "htmFormButton_patchComputateEvent"}}{{> htmFormButtonComputateEventPage_patchComputateEvent classApiMethodMethod="PATCH"}}{{/partial}}
{{#partial "htmButton_postComputateEvent"}}{{> htmButtonComputateEventPage_postComputateEvent classApiMethodMethod="POST"}}{{/partial}}
{{#partial "htmForm_postComputateEvent"}}{{> htmFormComputateEventPage_postComputateEvent classApiMethodMethod="POST"}}{{/partial}}
{{#partial "htmFormButton_postComputateEvent"}}{{> htmFormButtonComputateEventPage_postComputateEvent classApiMethodMethod="POST"}}{{/partial}}
{{#partial "htmButton_putimportComputateEvent"}}{{> htmButtonComputateEventPage_putimportComputateEvent classApiMethodMethod="PUT"}}{{/partial}}
{{#partial "htmForm_putimportComputateEvent"}}{{> htmFormComputateEventPage_putimportComputateEvent classApiMethodMethod="PUT"}}{{/partial}}
{{#partial "htmFormButton_putimportComputateEvent"}}{{> htmFormButtonComputateEventPage_putimportComputateEvent classApiMethodMethod="PUT"}}{{/partial}}
{{#partial "htmButton_searchpageComputateEvent"}}{{> htmButtonComputateEventPage_searchpageComputateEvent classApiMethodMethod="Page"}}{{/partial}}
{{#partial "htmForm_searchpageComputateEvent"}}{{> htmFormComputateEventPage_searchpageComputateEvent classApiMethodMethod="Page"}}{{/partial}}
{{#partial "htmFormButton_searchpageComputateEvent"}}{{> htmFormButtonComputateEventPage_searchpageComputateEvent classApiMethodMethod="Page"}}{{/partial}}
{{/eq}}
{{> ComputateEventGenPage}}
