{% extends "en-us/PageLayout.htm" %}
{%- block htmTitlePageLayout %}
{%- block htmTitleCompanyWebsitePage %}
    <title>{{ result.objectTitle }}</title>
{%- endblock htmTitleCompanyWebsitePage %}
{%- endblock htmTitlePageLayout %}

{%- block htmStylesPageLayout %}
{{ super() }}
    <link rel="stylesheet" href="{{ staticBaseUrl }}/css/en-us/search/website/CompanyWebsite.css"/>
{%- block htmStylesCompanyWebsitePage %}
{%- endblock htmStylesCompanyWebsitePage %}
{%- endblock htmStylesPageLayout %}

{%- block htmStylePageLayout %}
{{ super() }}
{%- block htmStyleCompanyWebsitePage %}
{%- endblock htmStyleCompanyWebsitePage %}
{%- endblock htmStylePageLayout %}

{%- block htmScriptsPageLayout %}
{{ super() }}
{%- block htmScriptsCompanyWebsitePage %}
    <script src="{{staticBaseUrl}}/js/en-us/search/website/CompanyWebsite.js"></script>
    <script type="module" src="{{staticBaseUrl}}/js/en-us/search/website/CompanyWebsiteSearch.js"></script>
    <script type="module" src="{{staticBaseUrl}}/js/en-us/search/website/CompanyWebsiteEdit.js"></script>
{%- endblock htmScriptsCompanyWebsitePage %}
{%- endblock htmScriptsPageLayout %}

{%- block htmScriptPageLayout %}
{%- block htmScriptCompanyWebsitePage %}
    <script>

      function jsWebsocketCompanyWebsite(id, vars, $response) {
{%- block jsWebsocketCompanyWebsitePage %}{%- endblock %}
      }

      function jsTooltipCompanyWebsite(e, feature) {
{%- block jsTooltipCompanyWebsitePage %}{%- endblock %}
      }

      function htmTooltipCompanyWebsite(feature, layer) {
        return `{%- block htmTooltipCompanyWebsitePage %}
<h3><i class="{{ classIconCssClasses }}  "></i><a href="${quoteattr(feature.properties.pageUrlPk)}">${feature.properties.objectTitle}</a></h3>
{%- endblock htmTooltipCompanyWebsitePage %}`;
      }
    </script>
    <script type="module">
{% if DEFAULT_MAP_LOCATION is defined %}
      window.DEFAULT_MAP_LOCATION = { lat: {{ DEFAULT_MAP_LOCATION.lat }}, lon: {{ DEFAULT_MAP_LOCATION.lon }} };
{% endif %}
{% if DEFAULT_MAP_ZOOM is defined %}
      window.DEFAULT_MAP_ZOOM = {{ DEFAULT_MAP_ZOOM }};
{% endif %}
      window.DEFAULT_ZONE_ID = '{{ defaultZoneId }}';
      Promise.all([
        customElements.whenDefined('sl-button')
        , customElements.whenDefined('sl-input')
      ]).then(() => {

        var id = {% if id is defined %}{{ id }}{% else %}null{% endif %};

        if(id == null) {
          document.querySelector('#grid-toggle-details')?.addEventListener('click', () => {
            document.querySelector('#site-results-grid').classList.remove('grid-mode-list', 'grid-mode-card');
            document.querySelector('#site-results-grid').classList.add('grid-mode-details');
          });
          document.querySelector('#grid-toggle-list')?.addEventListener('click', () => {
            document.querySelector('#site-results-grid').classList.remove('grid-mode-details', 'grid-mode-card');
            document.querySelector('#site-results-grid').classList.add('grid-mode-list');
          });
          document.querySelector('#grid-toggle-card')?.addEventListener('click', () => {
            document.querySelector('#site-results-grid').classList.remove('grid-mode-details', 'grid-mode-list');
            document.querySelector('#site-results-grid').classList.add('grid-mode-card');
          });
        } else {
          var o = document.querySelector('.pageForm .result')?.value;
          if(o)
            window.result = JSON.parse(o);
        {% if id is defined %}
        {% endif %}
        }
        var l = document.querySelector('.pageForm .listCompanyWebsite')?.value;
        if(l)
          window.listCompanyWebsite = JSON.parse(l);
        window.varsFq = JSON.parse('{{ toJsonObjectStringInApostrophes(varsFq) }}');
        window.varsRange = JSON.parse('{{ toJsonObjectStringInApostrophes(varsRange) }}');
        window.defaultRangeVar = '{{ defaultRangeVar }}';
        pageGraphCompanyWebsite();
        {% for key, value in varsQ.items() %}

        document.querySelector('#qCompanyWebsite_{{ key }}')?.addEventListener('sl-{% if var == 'objectSuggest' %}keyup{% else %}change{% endif %}', event => {
          qChange('CompanyWebsite', event.target, document.querySelector('#qCompanyWebsiteDiv_{{ key }}'));
        });
        {% endfor %}

        document.querySelector('#qCompanyWebsite_rows')?.addEventListener('sl-change', event => {
          paramChange('CompanyWebsite', event.target, document.querySelector('#qCompanyWebsiteDiv_rows'));
        });

        document.querySelector('#qCompanyWebsite_start')?.addEventListener('sl-change', event => {
          paramChange('CompanyWebsite', event.target, document.querySelector('#qCompanyWebsiteDiv_start'));
        });


        var submitForm_patchCompanyWebsite = document.querySelector('#htmForm_patchCompanyWebsite')?.addEventListener('submit', event => {
          event.preventDefault();
          return false;
        });
        document.querySelector('#htmFormButton_patchCompanyWebsite')?.addEventListener('click', event => {
          event.preventDefault();
          patchCompanyWebsite(null, document.querySelector('#htmForm_patchCompanyWebsite'), document.querySelector('#htmFormButton_patchCompanyWebsite'), event.target.getAttribute('data-id'));
          return false;
        });

        var submitForm_postCompanyWebsite = document.querySelector('#htmForm_postCompanyWebsite')?.addEventListener('submit', event => {
          event.preventDefault();
          return false;
        });
        document.querySelector('#htmFormButton_postCompanyWebsite')?.addEventListener('click', event => {
          event.preventDefault();
          postCompanyWebsite(document.querySelector('#htmForm_postCompanyWebsite'), document.querySelector('#htmFormButton_postCompanyWebsite'), (response, target) => { response.json().then((json) => { window.location.href = json.pageUrlPk; }); });
          return false;
        });

        var submitForm_putimportCompanyWebsite = document.querySelector('#htmForm_putimportCompanyWebsite')?.addEventListener('submit', event => {
          event.preventDefault();
          return false;
        });
        document.querySelector('#htmFormButton_putimportCompanyWebsite')?.addEventListener('click', event => {
          event.preventDefault();
          putimportCompanyWebsite(document.querySelector('#htmForm_putimportCompanyWebsite'), document.querySelector('#htmFormButton_putimportCompanyWebsite'));
          return false;
        });

        var submitForm_searchpageCompanyWebsite = document.querySelector('#htmForm_searchpageCompanyWebsite')?.addEventListener('submit', event => {
          event.preventDefault();
          return false;
        });
        document.querySelector('#htmFormButton_searchpageCompanyWebsite')?.addEventListener('click', event => {
          event.preventDefault();
          searchpageCompanyWebsite();
          return false;
        });
      });
    </script>
{%- endblock htmScriptCompanyWebsitePage %}
{%- endblock htmScriptPageLayout %}

{%- block websocketPageLayout %}
{%- block websocketCompanyWebsitePage %}
        window.eventBus = new EventBus('/eventbus');
        window.eventBus.enableReconnect(true);
        websocketCompanyWebsite(websocketCompanyWebsiteInner);
{%- endblock websocketCompanyWebsitePage %}
{%- endblock websocketPageLayout %}

{%- block htmUrlCompanyWebsitePage %}{{pageUri}}?q={{query.q}}&amp;rows={% if rows is defined %}{{rows}}{% else %}{{pagination.rows}}{% endif %}&amp;rows={% if start is defined %}{{start}}{% else %}{{pagination.start}}{% endif %}{% for item query.fq %}{% if fq == item %}{% else %}&fq={{fq}}:{{val}}{% endif %}{% endfor %}{% for item in query.sort %}{% if sort == item %}{% else %}&sort={{var}} {{order}}{% endif %}{% endfor %}{%- endblock htmUrlCompanyWebsitePage %}

{%- block htmBodyStartPageLayout %}
    {{ super() }}
{%- block htmBodyStartCompanyWebsitePage %}
{%- endblock htmBodyStartCompanyWebsitePage %}
{%- endblock htmBodyStartPageLayout %}

{%- block htmBodyMiddlePageLayout %}
{%- block htmBodyMiddleCompanyWebsitePage %}
{%- include en-us/search/website/CompanyWebsiteSidebar.htm %}
{%- include en-us/search/website/CompanyWebsiteSuggestedSearch.htm %}
{% if resultCount == 0 %}
        <div>
          <sl-tooltip content="back to all websites">
            <sl-button href="{{ SITE_BASE_URL }}{{ pageUri }}">
              <i class="fa-solid fa-angle-left"></i>
              all websites
            </sl-button>
          </sl-tooltip>
        </div>
        <h1>
          <i class="fa-regular fa-globe-pointer"></i>
          <span>websites</span>
        </h1>
{% include en-us/search/website/CompanyWebsiteSearchButtons.htm %}
{% include en-us/search/website/CompanyWebsiteSearchForm.htm %}
        <h2>
          <span>
  {% if classIconCssClasses is defined %}
            <i class="{{ classIconCssClasses }}  site-menu-icon "></i>
  {% endif %}
            <span class="">no website found</span>
          </span>
        </h2>
{% else %}
  {% if resultCount == 1 %}
    {% if id is defined %}
        <div>
          <sl-tooltip content="back to all websites">
            <sl-button href="{{ SITE_BASE_URL }}{{ pageUri }}">
              <i class="fa-solid fa-angle-left"></i>
              all websites
            </sl-button>
          </sl-tooltip>
        </div>
{% include en-us/search/website/CompanyWebsiteSearchButtons.htm %}
{% include en-us/search/website/CompanyWebsiteSearchForm.htm %}
        <h1>
          <i class="fa-regular fa-globe-pointer"></i>
          {{result.objectTitle}}
        </h1>
    {% else %}
        <div>
          <sl-tooltip content="back to all websites">
            <sl-button href="{{ SITE_BASE_URL }}{{ pageUri }}">
              <i class="fa-solid fa-angle-left"></i>
              all websites
            </sl-button>
          </sl-tooltip>
        </div>
        <h1>
          <i class="fa-regular fa-globe-pointer"></i>
          <span>websites</span>
        </h1>
{% include en-us/search/website/CompanyWebsiteSearchButtons.htm %}
{% include en-us/search/website/CompanyWebsiteSearchForm.htm %}
        <h2>
          <span>
  {% if classIconCssClasses is defined %}
            <i class="{{ classIconCssClasses }}  site-menu-icon "></i>
  {% endif %}
            <span class="">no website found</span>
          </span>
        </h2>
    {% endif %}
  {% else %}
        <div>
          <sl-tooltip content="back to all websites">
            <sl-button href="{{ SITE_BASE_URL }}{{ pageUri }}">
              <i class="fa-solid fa-angle-left"></i>
              all websites
            </sl-button>
          </sl-tooltip>
        </div>
        <h1>
          <i class="fa-regular fa-globe-pointer"></i>
          <span>websites</span>
        </h1>
{% include en-us/search/website/CompanyWebsiteSearchButtons.htm %}
{% include en-us/search/website/CompanyWebsiteSearchForm.htm %}
        <h2>
          <span>
  {% if classIconCssClasses is defined %}
            <i class="{{ classIconCssClasses }}  site-menu-icon "></i>
  {% endif %}
            <span class="">no website found</span>
          </span>
        </h2>
  {% endif %}
{% endif %}
{%- block htmFormCompanyWebsitePage %}
        <form action="/en-us/api/website" id="CompanyWebsiteForm" class="pageForm " style="" onsubmit="event.preventDefault(); return false; ">
{% if id is defined %}
          <input name="id" class="valueId" type="hidden" value="{{id}}"/>
          {% endif %}
          <input name="focusId" type="hidden"/>
          <input name="pageResponse" id="pageResponse" class="pageResponse"  value='{{ toJsonObjectStringInApostrophes(pageResponse) }}' type="hidden"/>
          <input name="result" id="result" class="result"  value='{{ toJsonObjectStringInApostrophes(result_) }}' type="hidden"/>
          <input name="listCompanyWebsite" id="listCompanyWebsite" class="listCompanyWebsite"  value='{{ toJsonArrayStringInApostrophes(listCompanyWebsite) }}' type="hidden"/>
        </form>
  {% if id is defined %}
        {{ htmButton_searchpageCompanyWebsite() }}
        {{ htmForm_searchpageCompanyWebsite() }}
  {% endif %}
{%- endblock htmFormCompanyWebsitePage %}
{%- endblock htmBodyMiddleCompanyWebsitePage %}
{%- endblock htmBodyMiddlePageLayout %}

{%- block htmBodyEndPageLayout %}
      {{ super() }}
{%- block htmBodyEndCompanyWebsitePage %}
{%- endblock htmBodyEndCompanyWebsitePage %}
{%- endblock htmBodyEndPageLayout %}
{%- macro inputCreatedCompanyWebsitePage(classApiMethodMethod, authForWrite=authForWrite, authForRead=authForRead) %}
  {%- if 'Page' == classApiMethodMethod %}
                <form class="subgrid-2col " id="PageForm_created">
  {%- endif %}
                  <sl-input
                      type="text"
                      readonly
                      placeholder="created"
                      help-text="A created timestamp for this record in the database"
                      label="created"
                      class="label-on-left {{classApiMethodMethod}}_created datetimepicker setCreated classCompanyWebsite inputCompanyWebsite{{id}}Created "
                      placeholder="MM/dd/yyyy h:mm a '['VV']'"
                      data-timeformat="MM/dd/yyyy h:mm a '['VV']'"
                      id="{{classApiMethodMethod}}_created"
                      value="{%- if companyWebsite_.created is defined %}{{ formatZonedDateTime(companyWebsite_.created, "MM/dd/yyyy h:mm a '['VV']'", defaultLocaleId, defaultZoneId) | e }}{%- endif %}"
  {%- if 'Page' == classApiMethodMethod %}
  {%- endif %}
                      data-id="{{ id }}"
                      >
                  </sl-input>
  {%- if 'Page' == classApiMethodMethod %}
                </form>
  {%- endif %}
{%- endmacro %}

{%- macro htmCreatedCompanyWebsitePage(classApiMethodMethod, authForWriteBool=false, authForReadBool=false) %}
                            {{ inputCreatedCompanyWebsitePage(classApiMethodMethod=classApiMethodMethod, authForWrite=authForWrite, authForRead=authForRead) }}
{%- endmacro %}
{%- macro inputModifiedCompanyWebsitePage(classApiMethodMethod, authForWrite=authForWrite, authForRead=authForRead) %}
  {%- if 'Page' == classApiMethodMethod %}
                <form class="subgrid-2col " id="PageForm_modified">
  {%- endif %}
                  <sl-input
                      type="text"
                      readonly
                      placeholder="modified"
                      help-text="A modified timestamp for this record in the database"
                      label="modified"
                      class="label-on-left {{classApiMethodMethod}}_modified datetimepicker setModified classCompanyWebsite inputCompanyWebsite{{id}}Modified "
                      placeholder="MM/dd/yyyy h:mm a '['VV']'"
                      data-timeformat="MM/dd/yyyy h:mm a '['VV']'"
                      id="{{classApiMethodMethod}}_modified"
                      value="{%- if companyWebsite_.modified is defined %}{{ formatZonedDateTime(companyWebsite_.modified, "MM/dd/yyyy h:mm a '['VV']'", defaultLocaleId, defaultZoneId) | e }}{%- endif %}"
  {%- if 'Page' == classApiMethodMethod %}
  {%- endif %}
                      data-id="{{ id }}"
                      >
                  </sl-input>
  {%- if 'Page' == classApiMethodMethod %}
                </form>
  {%- endif %}
{%- endmacro %}

{%- macro htmModifiedCompanyWebsitePage(classApiMethodMethod, authForWriteBool=false, authForReadBool=false) %}
                            {{ inputModifiedCompanyWebsitePage(classApiMethodMethod=classApiMethodMethod, authForWrite=authForWrite, authForRead=authForRead) }}
{%- endmacro %}
{%- macro inputObjectIdCompanyWebsitePage(classApiMethodMethod, authForWrite=authForWrite, authForRead=authForRead) %}
  {%- if 'Page' == classApiMethodMethod %}
                <form class="subgrid-2col " id="PageForm_objectId">
  {%- endif %}
                  <sl-input
                      {% if authForWriteBool == true %}clearable{% else %}readonly{% endif %}
                      placeholder="[String] ID"
                      label="ID"
                      help-text="
A URL friendly unique ID for this object"
                      id="{{classApiMethodMethod}}_objectId"
  {%- if "Page" == classApiMethodMethod %}
                      data-id="{{ id }}"
                      class="label-on-left {{classApiMethodMethod}}_objectId setObjectId classCompanyWebsite inputCompanyWebsite{{id}}ObjectId "
                      name="setObjectId"
  {%- else %}
    {%- if "PATCH" == classApiMethodMethod %}
                      class="label-on-left {{classApiMethodMethod}}_objectId setObjectId classCompanyWebsite inputCompanyWebsite{{id}}ObjectId "
                      name="setObjectId"
    {%- else %}
                      class="label-on-left {{classApiMethodMethod}}_objectId valueObjectId classCompanyWebsite inputCompanyWebsite{{id}}ObjectId "
                      name="objectId"
    {%- endif %}
  {%- endif %}
  {%- if "Page" == classApiMethodMethod %}
                      value="{{companyWebsite_.objectId | e }}"
  {%- endif %}
                      ></sl-input>

  {%- if 'Page' == classApiMethodMethod %}
                </form>
  {%- endif %}
{%- endmacro %}

{%- macro htmObjectIdCompanyWebsitePage(classApiMethodMethod, authForWriteBool=false, authForReadBool=false) %}
                            {{ inputObjectIdCompanyWebsitePage(classApiMethodMethod=classApiMethodMethod, authForWrite=authForWrite, authForRead=authForRead) }}
{%- endmacro %}
{%- macro inputArchivedCompanyWebsitePage(classApiMethodMethod, authForWrite=authForWrite, authForRead=authForRead) %}
  {%- if 'Page' == classApiMethodMethod %}
                <form class="subgrid-2col " id="PageForm_archived">
  {%- endif %}
  {%- if 'Page' == classApiMethodMethod %}
                  <sl-button
                      id="{{classApiMethodMethod}}_archived"
                      placeholder="archived"
                      label="archived"
                      help-text="For archiving this record"
                      class="label-on-left {{classApiMethodMethod}}_archived classCompanyWebsite inputCompanyWebsite{{id}}Archived "
                      name="setArchived"
                      data-id="{{ id }}"
                      data-val="{{ companyWebsite_.archived | e }}"
                      >archived</sl-button>
  {%- else %}
  {%- if 'Page' == classApiMethodMethod %}
                  <sl-checkbox
                      id="{{classApiMethodMethod}}_archived"
                      value="true"
  {%- else %}
                  <sl-select
                      id="{{classApiMethodMethod}}_archived"
  {%- endif %}
                      {% if authForWriteBool == true %}clearable{% else %}readonly{% endif %}
                      placeholder="archived"
                      label="archived"
                      help-text="For archiving this record"
  {%- if 'Page' == classApiMethodMethod %}
                      class="label-on-left {{classApiMethodMethod}}_archived classCompanyWebsite inputCompanyWebsite{{id}}Archived "
                      name="setArchived"
  {%- else %}
    {%- if 'Page' == classApiMethodMethod %}
                      class="label-on-left {{classApiMethodMethod}}_archived classCompanyWebsite inputCompanyWebsite{{id}}Archived "
                      name="setArchived"
    {%- else %}
                      class="label-on-left {{classApiMethodMethod}}_archived setArchived valueArchived classCompanyWebsite inputCompanyWebsite{{id}}Archived "
                      name="setArchived"
    {%- endif %}
  {%- endif %}
  {%- if 'Page' == classApiMethodMethod %}
    {%- if companyWebsite_.archived == true %}
                      checked
    {%- endif %}
                      data-id="{{ id }}"
                      >archived</sl-checkbox>
  {%- else %}
                      >
                    <sl-option value="" selected="selected"></sl-option>
                    <sl-option value="true">true</sl-option>
                    <sl-option value="false">false</sl-option>
                  </sl-select>
  {%- endif %}
  {%- endif %}
  {%- if 'Page' == classApiMethodMethod %}
                </form>
  {%- endif %}
{%- endmacro %}

{%- macro htmArchivedCompanyWebsitePage(classApiMethodMethod, authForWriteBool=false, authForReadBool=false) %}
                            {{ inputArchivedCompanyWebsitePage(classApiMethodMethod=classApiMethodMethod, authForWrite=authForWrite, authForRead=authForRead) }}
{%- endmacro %}
{%- macro inputNameCompanyWebsitePage(classApiMethodMethod, authForWrite=authForWrite, authForRead=authForRead) %}
  {%- if 'Page' == classApiMethodMethod %}
                <form class="subgrid-2col " id="PageForm_name">
  {%- endif %}
                  <sl-input
                      {% if authForWriteBool == true %}clearable{% else %}readonly{% endif %}
                      placeholder="[String] service name"
                      label="service name"
                      help-text="
The service name. "
                      id="{{classApiMethodMethod}}_name"
  {%- if "Page" == classApiMethodMethod %}
                      data-id="{{ id }}"
                      class="label-on-left {{classApiMethodMethod}}_name setName classCompanyWebsite inputCompanyWebsite{{id}}Name "
                      name="setName"
  {%- else %}
    {%- if "PATCH" == classApiMethodMethod %}
                      class="label-on-left {{classApiMethodMethod}}_name setName classCompanyWebsite inputCompanyWebsite{{id}}Name "
                      name="setName"
    {%- else %}
                      class="label-on-left {{classApiMethodMethod}}_name valueName classCompanyWebsite inputCompanyWebsite{{id}}Name "
                      name="name"
    {%- endif %}
  {%- endif %}
  {%- if "Page" == classApiMethodMethod %}
                      value="{{companyWebsite_.name | e }}"
  {%- endif %}
                      ></sl-input>

  {%- if 'Page' == classApiMethodMethod %}
                </form>
  {%- endif %}
{%- endmacro %}

{%- macro htmNameCompanyWebsitePage(classApiMethodMethod, authForWriteBool=false, authForReadBool=false) %}
                            {{ inputNameCompanyWebsitePage(classApiMethodMethod=classApiMethodMethod, authForWrite=authForWrite, authForRead=authForRead) }}
{%- endmacro %}
{%- macro inputDescriptionCompanyWebsitePage(classApiMethodMethod, authForWrite=authForWrite, authForRead=authForRead) %}
  {%- if 'Page' == classApiMethodMethod %}
                <form class="subgrid-2col " id="PageForm_description">
  {%- endif %}
                  <sl-input
                      {% if authForWriteBool == true %}clearable{% else %}readonly{% endif %}
                      placeholder="[String] service description"
                      label="service description"
                      help-text="
The service description. "
                      id="{{classApiMethodMethod}}_description"
  {%- if "Page" == classApiMethodMethod %}
                      data-id="{{ id }}"
                      class="label-on-left {{classApiMethodMethod}}_description setDescription classCompanyWebsite inputCompanyWebsite{{id}}Description "
                      name="setDescription"
  {%- else %}
    {%- if "PATCH" == classApiMethodMethod %}
                      class="label-on-left {{classApiMethodMethod}}_description setDescription classCompanyWebsite inputCompanyWebsite{{id}}Description "
                      name="setDescription"
    {%- else %}
                      class="label-on-left {{classApiMethodMethod}}_description valueDescription classCompanyWebsite inputCompanyWebsite{{id}}Description "
                      name="description"
    {%- endif %}
  {%- endif %}
  {%- if "Page" == classApiMethodMethod %}
                      value="{{companyWebsite_.description | e }}"
  {%- endif %}
                      ></sl-input>

  {%- if 'Page' == classApiMethodMethod %}
                </form>
  {%- endif %}
{%- endmacro %}

{%- macro htmDescriptionCompanyWebsitePage(classApiMethodMethod, authForWriteBool=false, authForReadBool=false) %}
                            {{ inputDescriptionCompanyWebsitePage(classApiMethodMethod=classApiMethodMethod, authForWrite=authForWrite, authForRead=authForRead) }}
{%- endmacro %}
{%- macro inputUriCompanyWebsitePage(classApiMethodMethod, authForWrite=authForWrite, authForRead=authForRead) %}
  {%- if 'Page' == classApiMethodMethod %}
                <form class="subgrid-2col " id="PageForm_uri">
  {%- endif %}
                  <sl-input
                      {% if authForWriteBool == true %}clearable{% else %}readonly{% endif %}
                      placeholder="[String] URI"
                      label="URI"
                      help-text="
The relative URI for this page. "
                      id="{{classApiMethodMethod}}_uri"
  {%- if "Page" == classApiMethodMethod %}
                      data-id="{{ id }}"
                      class="label-on-left {{classApiMethodMethod}}_uri setUri classCompanyWebsite inputCompanyWebsite{{id}}Uri "
                      name="setUri"
  {%- else %}
    {%- if "PATCH" == classApiMethodMethod %}
                      class="label-on-left {{classApiMethodMethod}}_uri setUri classCompanyWebsite inputCompanyWebsite{{id}}Uri "
                      name="setUri"
    {%- else %}
                      class="label-on-left {{classApiMethodMethod}}_uri valueUri classCompanyWebsite inputCompanyWebsite{{id}}Uri "
                      name="uri"
    {%- endif %}
  {%- endif %}
  {%- if "Page" == classApiMethodMethod %}
                      value="{{companyWebsite_.uri | e }}"
  {%- endif %}
                      ></sl-input>

  {%- if 'Page' == classApiMethodMethod %}
                </form>
  {%- endif %}
{%- endmacro %}

{%- macro htmUriCompanyWebsitePage(classApiMethodMethod, authForWriteBool=false, authForReadBool=false) %}
                            {{ inputUriCompanyWebsitePage(classApiMethodMethod=classApiMethodMethod, authForWrite=authForWrite, authForRead=authForRead) }}
{%- endmacro %}
{%- macro inputUrlCompanyWebsitePage(classApiMethodMethod, authForWrite=authForWrite, authForRead=authForRead) %}
  {%- if 'Page' == classApiMethodMethod %}
                <form class="subgrid-2col " id="PageForm_url">
  {%- endif %}
                  <sl-input
                      {% if authForWriteBool == true %}clearable{% else %}readonly{% endif %}
                      placeholder="[String] URL"
                      label="URL"
                      help-text="
The URL for this page. "
                      id="{{classApiMethodMethod}}_url"
  {%- if "Page" == classApiMethodMethod %}
                      data-id="{{ id }}"
                      class="label-on-left {{classApiMethodMethod}}_url setUrl classCompanyWebsite inputCompanyWebsite{{id}}Url "
                      name="setUrl"
  {%- else %}
    {%- if "PATCH" == classApiMethodMethod %}
                      class="label-on-left {{classApiMethodMethod}}_url setUrl classCompanyWebsite inputCompanyWebsite{{id}}Url "
                      name="setUrl"
    {%- else %}
                      class="label-on-left {{classApiMethodMethod}}_url valueUrl classCompanyWebsite inputCompanyWebsite{{id}}Url "
                      name="url"
    {%- endif %}
  {%- endif %}
  {%- if "Page" == classApiMethodMethod %}
                      value="{{companyWebsite_.url | e }}"
  {%- endif %}
                      ></sl-input>

  {%- if 'Page' == classApiMethodMethod %}
                </form>
  {%- endif %}
{%- endmacro %}

{%- macro htmUrlCompanyWebsitePage(classApiMethodMethod, authForWriteBool=false, authForReadBool=false) %}
                            {{ inputUrlCompanyWebsitePage(classApiMethodMethod=classApiMethodMethod, authForWrite=authForWrite, authForRead=authForRead) }}
{%- endmacro %}
{%- macro inputPageIdCompanyWebsitePage(classApiMethodMethod, authForWrite=authForWrite, authForRead=authForRead) %}
  {%- if 'Page' == classApiMethodMethod %}
                <form class="subgrid-2col " id="PageForm_pageId">
  {%- endif %}
                  <sl-input
                      {% if authForWriteBool == true %}clearable{% else %}readonly{% endif %}
                      placeholder="[String] Page ID"
                      label="Page ID"
                      help-text="
The ID for this page. "
                      id="{{classApiMethodMethod}}_pageId"
  {%- if "Page" == classApiMethodMethod %}
                      data-id="{{ id }}"
                      class="label-on-left {{classApiMethodMethod}}_pageId setPageId classCompanyWebsite inputCompanyWebsite{{id}}PageId "
                      name="setPageId"
  {%- else %}
    {%- if "PATCH" == classApiMethodMethod %}
                      class="label-on-left {{classApiMethodMethod}}_pageId setPageId classCompanyWebsite inputCompanyWebsite{{id}}PageId "
                      name="setPageId"
    {%- else %}
                      class="label-on-left {{classApiMethodMethod}}_pageId valuePageId classCompanyWebsite inputCompanyWebsite{{id}}PageId "
                      name="pageId"
    {%- endif %}
  {%- endif %}
  {%- if "Page" == classApiMethodMethod %}
                      value="{{companyWebsite_.pageId | e }}"
  {%- endif %}
                      ></sl-input>

  {%- if 'Page' == classApiMethodMethod %}
                </form>
  {%- endif %}
{%- endmacro %}

{%- macro htmPageIdCompanyWebsitePage(classApiMethodMethod, authForWriteBool=false, authForReadBool=false) %}
                            {{ inputPageIdCompanyWebsitePage(classApiMethodMethod=classApiMethodMethod, authForWrite=authForWrite, authForRead=authForRead) }}
{%- endmacro %}
