{% extends "en-us/PageLayout.htm" %}
{%- block htmTitlePageLayout %}
{%- block htmTitleCompanyResearchPage %}
    <title>{{ result.objectTitle }}</title>
{%- endblock htmTitleCompanyResearchPage %}
{%- endblock htmTitlePageLayout %}

{%- block htmStylesPageLayout %}
{{ super() }}
    <link rel="stylesheet" href="{{ staticBaseUrl }}/css/en-us/search/research/CompanyResearch.css"/>
{%- block htmStylesCompanyResearchPage %}
{%- endblock htmStylesCompanyResearchPage %}
{%- endblock htmStylesPageLayout %}

{%- block htmStylePageLayout %}
{{ super() }}
{%- block htmStyleCompanyResearchPage %}
{%- endblock htmStyleCompanyResearchPage %}
{%- endblock htmStylePageLayout %}

{%- block htmScriptsPageLayout %}
{{ super() }}
{%- block htmScriptsCompanyResearchPage %}
    <script src="{{staticBaseUrl}}/js/en-us/search/research/CompanyResearch.js"></script>
    <script type="module" src="{{staticBaseUrl}}/js/en-us/search/research/CompanyResearchSearch.js"></script>
    <script type="module" src="{{staticBaseUrl}}/js/en-us/search/research/CompanyResearchEdit.js"></script>
{%- endblock htmScriptsCompanyResearchPage %}
{%- endblock htmScriptsPageLayout %}

{%- block htmScriptPageLayout %}
{%- block htmScriptCompanyResearchPage %}
    <script>

      function jsWebsocketCompanyResearch(id, vars, $response) {
{%- block jsWebsocketCompanyResearchPage %}{%- endblock %}
      }

      function jsTooltipCompanyResearch(e, feature) {
{%- block jsTooltipCompanyResearchPage %}{%- endblock %}
      }

      function htmTooltipCompanyResearch(feature, layer) {
        return `{%- block htmTooltipCompanyResearchPage %}
<h3><i class="{{ classIconCssClasses }}  "></i><a href="${quoteattr(feature.properties.pageUrlPk)}">${feature.properties.objectTitle}</a></h3>
{%- endblock htmTooltipCompanyResearchPage %}`;
      }
    </script>
    <script type="module">
{% if DEFAULT_MAP_LOCATION is defined %}
      window.DEFAULT_MAP_LOCATION = { lat: {{ DEFAULT_MAP_LOCATION.lat }}, lon: {{ DEFAULT_MAP_LOCATION.lon }} };
{% endif %}
{% if DEFAULT_MAP_ZOOM is defined %}
      window.DEFAULT_MAP_ZOOM = {{ DEFAULT_MAP_ZOOM }};
{% endif %}
      window.DEFAULT_ZONE_ID = '{{ defaultZoneId }}';
      Promise.all([
        customElements.whenDefined('sl-button')
        , customElements.whenDefined('sl-input')
      ]).then(() => {

        var id = {% if id is defined %}{{ id }}{% else %}null{% endif %};

        if(id == null) {
          document.querySelector('#grid-toggle-details')?.addEventListener('click', () => {
            document.querySelector('#site-results-grid').classList.remove('grid-mode-list', 'grid-mode-card');
            document.querySelector('#site-results-grid').classList.add('grid-mode-details');
          });
          document.querySelector('#grid-toggle-list')?.addEventListener('click', () => {
            document.querySelector('#site-results-grid').classList.remove('grid-mode-details', 'grid-mode-card');
            document.querySelector('#site-results-grid').classList.add('grid-mode-list');
          });
          document.querySelector('#grid-toggle-card')?.addEventListener('click', () => {
            document.querySelector('#site-results-grid').classList.remove('grid-mode-details', 'grid-mode-list');
            document.querySelector('#site-results-grid').classList.add('grid-mode-card');
          });
        } else {
          var o = document.querySelector('.pageForm .result')?.value;
          if(o)
            window.result = JSON.parse(o);
        {% if id is defined %}
        {% endif %}
        }
        var l = document.querySelector('.pageForm .listCompanyResearch')?.value;
        if(l)
          window.listCompanyResearch = JSON.parse(l);
        window.varsFq = JSON.parse('{{ toJsonObjectStringInApostrophes(varsFq) }}');
        window.varsRange = JSON.parse('{{ toJsonObjectStringInApostrophes(varsRange) }}');
        window.defaultRangeVar = '{{ defaultRangeVar }}';
        pageGraphCompanyResearch();
        {% for key, value in varsQ.items() %}

        document.querySelector('#qCompanyResearch_{{ key }}')?.addEventListener('sl-{% if var == 'objectSuggest' %}keyup{% else %}change{% endif %}', event => {
          qChange('CompanyResearch', event.target, document.querySelector('#qCompanyResearchDiv_{{ key }}'));
        });
        {% endfor %}

        document.querySelector('#qCompanyResearch_rows')?.addEventListener('sl-change', event => {
          paramChange('CompanyResearch', event.target, document.querySelector('#qCompanyResearchDiv_rows'));
        });

        document.querySelector('#qCompanyResearch_start')?.addEventListener('sl-change', event => {
          paramChange('CompanyResearch', event.target, document.querySelector('#qCompanyResearchDiv_start'));
        });


        var submitForm_patchCompanyResearch = document.querySelector('#htmForm_patchCompanyResearch')?.addEventListener('submit', event => {
          event.preventDefault();
          return false;
        });
        document.querySelector('#htmFormButton_patchCompanyResearch')?.addEventListener('click', event => {
          event.preventDefault();
          patchCompanyResearch(null, document.querySelector('#htmForm_patchCompanyResearch'), document.querySelector('#htmFormButton_patchCompanyResearch'), event.target.getAttribute('data-id'));
          return false;
        });

        var submitForm_postCompanyResearch = document.querySelector('#htmForm_postCompanyResearch')?.addEventListener('submit', event => {
          event.preventDefault();
          return false;
        });
        document.querySelector('#htmFormButton_postCompanyResearch')?.addEventListener('click', event => {
          event.preventDefault();
          postCompanyResearch(document.querySelector('#htmForm_postCompanyResearch'), document.querySelector('#htmFormButton_postCompanyResearch'), (response, target) => { response.json().then((json) => { window.location.href = json.pageUrlPk; }); });
          return false;
        });

        var submitForm_putimportCompanyResearch = document.querySelector('#htmForm_putimportCompanyResearch')?.addEventListener('submit', event => {
          event.preventDefault();
          return false;
        });
        document.querySelector('#htmFormButton_putimportCompanyResearch')?.addEventListener('click', event => {
          event.preventDefault();
          putimportCompanyResearch(document.querySelector('#htmForm_putimportCompanyResearch'), document.querySelector('#htmFormButton_putimportCompanyResearch'));
          return false;
        });

        var submitForm_searchpageCompanyResearch = document.querySelector('#htmForm_searchpageCompanyResearch')?.addEventListener('submit', event => {
          event.preventDefault();
          return false;
        });
        document.querySelector('#htmFormButton_searchpageCompanyResearch')?.addEventListener('click', event => {
          event.preventDefault();
          searchpageCompanyResearch();
          return false;
        });
      });
    </script>
{%- endblock htmScriptCompanyResearchPage %}
{%- endblock htmScriptPageLayout %}

{%- block websocketPageLayout %}
{%- block websocketCompanyResearchPage %}
        window.eventBus = new EventBus('/eventbus');
        window.eventBus.enableReconnect(true);
        websocketCompanyResearch(websocketCompanyResearchInner);
{%- endblock websocketCompanyResearchPage %}
{%- endblock websocketPageLayout %}

{%- block htmUrlCompanyResearchPage %}{{pageUri}}?q={{query.q}}&amp;rows={% if rows is defined %}{{rows}}{% else %}{{pagination.rows}}{% endif %}&amp;rows={% if start is defined %}{{start}}{% else %}{{pagination.start}}{% endif %}{% for item query.fq %}{% if fq == item %}{% else %}&fq={{fq}}:{{val}}{% endif %}{% endfor %}{% for item in query.sort %}{% if sort == item %}{% else %}&sort={{var}} {{order}}{% endif %}{% endfor %}{%- endblock htmUrlCompanyResearchPage %}

{%- block htmBodyStartPageLayout %}
    {{ super() }}
{%- block htmBodyStartCompanyResearchPage %}
{%- endblock htmBodyStartCompanyResearchPage %}
{%- endblock htmBodyStartPageLayout %}

{%- block htmBodyMiddlePageLayout %}
{%- block htmBodyMiddleCompanyResearchPage %}
{%- include en-us/search/research/CompanyResearchSidebar.htm %}
{%- include en-us/search/research/CompanyResearchSuggestedSearch.htm %}
{% if resultCount == 0 %}
        <div>
          <sl-tooltip content="back to all research">
            <sl-button href="{{ SITE_BASE_URL }}{{ pageUri }}">
              <i class="fa-solid fa-angle-left"></i>
              all research
            </sl-button>
          </sl-tooltip>
        </div>
        <h1>
          <i class="fa-duotone fa-solid fa-school"></i>
          <span>research</span>
        </h1>
{% include en-us/search/research/CompanyResearchSearchButtons.htm %}
{% include en-us/search/research/CompanyResearchSearchForm.htm %}
        <h2>
          <span>
  {% if classIconCssClasses is defined %}
            <i class="{{ classIconCssClasses }}  site-menu-icon "></i>
  {% endif %}
            <span class="">no research found</span>
          </span>
        </h2>
{% else %}
  {% if resultCount == 1 %}
    {% if id is defined %}
        <div>
          <sl-tooltip content="back to all research">
            <sl-button href="{{ SITE_BASE_URL }}{{ pageUri }}">
              <i class="fa-solid fa-angle-left"></i>
              all research
            </sl-button>
          </sl-tooltip>
        </div>
{% include en-us/search/research/CompanyResearchSearchButtons.htm %}
{% include en-us/search/research/CompanyResearchSearchForm.htm %}
        <h1>
          <i class="fa-duotone fa-solid fa-school"></i>
          {{result.objectTitle}}
        </h1>
    {% else %}
        <div>
          <sl-tooltip content="back to all research">
            <sl-button href="{{ SITE_BASE_URL }}{{ pageUri }}">
              <i class="fa-solid fa-angle-left"></i>
              all research
            </sl-button>
          </sl-tooltip>
        </div>
        <h1>
          <i class="fa-duotone fa-solid fa-school"></i>
          <span>research</span>
        </h1>
{% include en-us/search/research/CompanyResearchSearchButtons.htm %}
{% include en-us/search/research/CompanyResearchSearchForm.htm %}
        <h2>
          <span>
  {% if classIconCssClasses is defined %}
            <i class="{{ classIconCssClasses }}  site-menu-icon "></i>
  {% endif %}
            <span class="">no research found</span>
          </span>
        </h2>
    {% endif %}
  {% else %}
        <div>
          <sl-tooltip content="back to all research">
            <sl-button href="{{ SITE_BASE_URL }}{{ pageUri }}">
              <i class="fa-solid fa-angle-left"></i>
              all research
            </sl-button>
          </sl-tooltip>
        </div>
        <h1>
          <i class="fa-duotone fa-solid fa-school"></i>
          <span>research</span>
        </h1>
{% include en-us/search/research/CompanyResearchSearchButtons.htm %}
{% include en-us/search/research/CompanyResearchSearchForm.htm %}
        <h2>
          <span>
  {% if classIconCssClasses is defined %}
            <i class="{{ classIconCssClasses }}  site-menu-icon "></i>
  {% endif %}
            <span class="">no research found</span>
          </span>
        </h2>
  {% endif %}
{% endif %}
{%- block htmFormCompanyResearchPage %}
        <form action="/en-us/api/research" id="CompanyResearchForm" class="pageForm " style="" onsubmit="event.preventDefault(); return false; ">
{% if id is defined %}
          <input name="id" class="valueId" type="hidden" value="{{id}}"/>
          {% endif %}
          <input name="focusId" type="hidden"/>
          <input name="pageResponse" id="pageResponse" class="pageResponse"  value='{{ toJsonObjectStringInApostrophes(pageResponse) }}' type="hidden"/>
          <input name="result" id="result" class="result"  value='{{ toJsonObjectStringInApostrophes(result_) }}' type="hidden"/>
          <input name="listCompanyResearch" id="listCompanyResearch" class="listCompanyResearch"  value='{{ toJsonArrayStringInApostrophes(listCompanyResearch) }}' type="hidden"/>
        </form>
  {% if id is defined %}
        {{ htmButton_searchpageCompanyResearch() }}
        {{ htmForm_searchpageCompanyResearch() }}
  {% endif %}
{%- endblock htmFormCompanyResearchPage %}
{%- endblock htmBodyMiddleCompanyResearchPage %}
{%- endblock htmBodyMiddlePageLayout %}

{%- block htmBodyEndPageLayout %}
      {{ super() }}
{%- block htmBodyEndCompanyResearchPage %}
{%- endblock htmBodyEndCompanyResearchPage %}
{%- endblock htmBodyEndPageLayout %}
{%- macro inputCreatedCompanyResearchPage(classApiMethodMethod, authForWrite=authForWrite, authForRead=authForRead) %}
  {%- if 'Page' == classApiMethodMethod %}
                <form class="subgrid-2col " id="PageForm_created">
  {%- endif %}
                  <sl-input
                      type="text"
                      readonly
                      placeholder="created"
                      help-text="A created timestamp for this record in the database"
                      label="created"
                      class="label-on-left {{classApiMethodMethod}}_created datetimepicker setCreated classCompanyResearch inputCompanyResearch{{id}}Created "
                      placeholder="MM/dd/yyyy h:mm a '['VV']'"
                      data-timeformat="MM/dd/yyyy h:mm a '['VV']'"
                      id="{{classApiMethodMethod}}_created"
                      value="{%- if companyResearch_.created is defined %}{{ formatZonedDateTime(companyResearch_.created, "MM/dd/yyyy h:mm a '['VV']'", defaultLocaleId, defaultZoneId) | e }}{%- endif %}"
  {%- if 'Page' == classApiMethodMethod %}
  {%- endif %}
                      data-id="{{ id }}"
                      >
                  </sl-input>
  {%- if 'Page' == classApiMethodMethod %}
                </form>
  {%- endif %}
{%- endmacro %}

{%- macro htmCreatedCompanyResearchPage(classApiMethodMethod, authForWriteBool=false, authForReadBool=false) %}
                            {{ inputCreatedCompanyResearchPage(classApiMethodMethod=classApiMethodMethod, authForWrite=authForWrite, authForRead=authForRead) }}
{%- endmacro %}
{%- macro inputModifiedCompanyResearchPage(classApiMethodMethod, authForWrite=authForWrite, authForRead=authForRead) %}
  {%- if 'Page' == classApiMethodMethod %}
                <form class="subgrid-2col " id="PageForm_modified">
  {%- endif %}
                  <sl-input
                      type="text"
                      readonly
                      placeholder="modified"
                      help-text="A modified timestamp for this record in the database"
                      label="modified"
                      class="label-on-left {{classApiMethodMethod}}_modified datetimepicker setModified classCompanyResearch inputCompanyResearch{{id}}Modified "
                      placeholder="MM/dd/yyyy h:mm a '['VV']'"
                      data-timeformat="MM/dd/yyyy h:mm a '['VV']'"
                      id="{{classApiMethodMethod}}_modified"
                      value="{%- if companyResearch_.modified is defined %}{{ formatZonedDateTime(companyResearch_.modified, "MM/dd/yyyy h:mm a '['VV']'", defaultLocaleId, defaultZoneId) | e }}{%- endif %}"
  {%- if 'Page' == classApiMethodMethod %}
  {%- endif %}
                      data-id="{{ id }}"
                      >
                  </sl-input>
  {%- if 'Page' == classApiMethodMethod %}
                </form>
  {%- endif %}
{%- endmacro %}

{%- macro htmModifiedCompanyResearchPage(classApiMethodMethod, authForWriteBool=false, authForReadBool=false) %}
                            {{ inputModifiedCompanyResearchPage(classApiMethodMethod=classApiMethodMethod, authForWrite=authForWrite, authForRead=authForRead) }}
{%- endmacro %}
{%- macro inputObjectIdCompanyResearchPage(classApiMethodMethod, authForWrite=authForWrite, authForRead=authForRead) %}
  {%- if 'Page' == classApiMethodMethod %}
                <form class="subgrid-2col " id="PageForm_objectId">
  {%- endif %}
                  <sl-input
                      {% if authForWriteBool == true %}clearable{% else %}readonly{% endif %}
                      placeholder="[String] ID"
                      label="ID"
                      help-text="
A URL friendly unique ID for this object"
                      id="{{classApiMethodMethod}}_objectId"
  {%- if "Page" == classApiMethodMethod %}
                      data-id="{{ id }}"
                      class="label-on-left {{classApiMethodMethod}}_objectId setObjectId classCompanyResearch inputCompanyResearch{{id}}ObjectId "
                      name="setObjectId"
  {%- else %}
    {%- if "PATCH" == classApiMethodMethod %}
                      class="label-on-left {{classApiMethodMethod}}_objectId setObjectId classCompanyResearch inputCompanyResearch{{id}}ObjectId "
                      name="setObjectId"
    {%- else %}
                      class="label-on-left {{classApiMethodMethod}}_objectId valueObjectId classCompanyResearch inputCompanyResearch{{id}}ObjectId "
                      name="objectId"
    {%- endif %}
  {%- endif %}
  {%- if "Page" == classApiMethodMethod %}
                      value="{{companyResearch_.objectId | e }}"
  {%- endif %}
                      ></sl-input>

  {%- if 'Page' == classApiMethodMethod %}
                </form>
  {%- endif %}
{%- endmacro %}

{%- macro htmObjectIdCompanyResearchPage(classApiMethodMethod, authForWriteBool=false, authForReadBool=false) %}
                            {{ inputObjectIdCompanyResearchPage(classApiMethodMethod=classApiMethodMethod, authForWrite=authForWrite, authForRead=authForRead) }}
{%- endmacro %}
{%- macro inputArchivedCompanyResearchPage(classApiMethodMethod, authForWrite=authForWrite, authForRead=authForRead) %}
  {%- if 'Page' == classApiMethodMethod %}
                <form class="subgrid-2col " id="PageForm_archived">
  {%- endif %}
  {%- if 'Page' == classApiMethodMethod %}
                  <sl-button
                      id="{{classApiMethodMethod}}_archived"
                      placeholder="archived"
                      label="archived"
                      help-text="For archiving this record"
                      class="label-on-left {{classApiMethodMethod}}_archived classCompanyResearch inputCompanyResearch{{id}}Archived "
                      name="setArchived"
                      data-id="{{ id }}"
                      data-val="{{ companyResearch_.archived | e }}"
                      >archived</sl-button>
  {%- else %}
  {%- if 'Page' == classApiMethodMethod %}
                  <sl-checkbox
                      id="{{classApiMethodMethod}}_archived"
                      value="true"
  {%- else %}
                  <sl-select
                      id="{{classApiMethodMethod}}_archived"
  {%- endif %}
                      {% if authForWriteBool == true %}clearable{% else %}readonly{% endif %}
                      placeholder="archived"
                      label="archived"
                      help-text="For archiving this record"
  {%- if 'Page' == classApiMethodMethod %}
                      class="label-on-left {{classApiMethodMethod}}_archived classCompanyResearch inputCompanyResearch{{id}}Archived "
                      name="setArchived"
  {%- else %}
    {%- if 'Page' == classApiMethodMethod %}
                      class="label-on-left {{classApiMethodMethod}}_archived classCompanyResearch inputCompanyResearch{{id}}Archived "
                      name="setArchived"
    {%- else %}
                      class="label-on-left {{classApiMethodMethod}}_archived setArchived valueArchived classCompanyResearch inputCompanyResearch{{id}}Archived "
                      name="setArchived"
    {%- endif %}
  {%- endif %}
  {%- if 'Page' == classApiMethodMethod %}
    {%- if companyResearch_.archived == true %}
                      checked
    {%- endif %}
                      data-id="{{ id }}"
                      >archived</sl-checkbox>
  {%- else %}
                      >
                    <sl-option value="" selected="selected"></sl-option>
                    <sl-option value="true">true</sl-option>
                    <sl-option value="false">false</sl-option>
                  </sl-select>
  {%- endif %}
  {%- endif %}
  {%- if 'Page' == classApiMethodMethod %}
                </form>
  {%- endif %}
{%- endmacro %}

{%- macro htmArchivedCompanyResearchPage(classApiMethodMethod, authForWriteBool=false, authForReadBool=false) %}
                            {{ inputArchivedCompanyResearchPage(classApiMethodMethod=classApiMethodMethod, authForWrite=authForWrite, authForRead=authForRead) }}
{%- endmacro %}
{%- macro inputNameCompanyResearchPage(classApiMethodMethod, authForWrite=authForWrite, authForRead=authForRead) %}
  {%- if 'Page' == classApiMethodMethod %}
                <form class="subgrid-2col " id="PageForm_name">
  {%- endif %}
                  <sl-input
                      {% if authForWriteBool == true %}clearable{% else %}readonly{% endif %}
                      placeholder="[String] research name"
                      label="research name"
                      help-text="
The research name. "
                      id="{{classApiMethodMethod}}_name"
  {%- if "Page" == classApiMethodMethod %}
                      data-id="{{ id }}"
                      class="label-on-left {{classApiMethodMethod}}_name setName classCompanyResearch inputCompanyResearch{{id}}Name "
                      name="setName"
  {%- else %}
    {%- if "PATCH" == classApiMethodMethod %}
                      class="label-on-left {{classApiMethodMethod}}_name setName classCompanyResearch inputCompanyResearch{{id}}Name "
                      name="setName"
    {%- else %}
                      class="label-on-left {{classApiMethodMethod}}_name valueName classCompanyResearch inputCompanyResearch{{id}}Name "
                      name="name"
    {%- endif %}
  {%- endif %}
  {%- if "Page" == classApiMethodMethod %}
                      value="{{companyResearch_.name | e }}"
  {%- endif %}
                      ></sl-input>

  {%- if 'Page' == classApiMethodMethod %}
                </form>
  {%- endif %}
{%- endmacro %}

{%- macro htmNameCompanyResearchPage(classApiMethodMethod, authForWriteBool=false, authForReadBool=false) %}
                            {{ inputNameCompanyResearchPage(classApiMethodMethod=classApiMethodMethod, authForWrite=authForWrite, authForRead=authForRead) }}
{%- endmacro %}
{%- macro inputDescriptionCompanyResearchPage(classApiMethodMethod, authForWrite=authForWrite, authForRead=authForRead) %}
  {%- if 'Page' == classApiMethodMethod %}
                <form class="subgrid-2col " id="PageForm_description">
  {%- endif %}
                  <sl-input
                      {% if authForWriteBool == true %}clearable{% else %}readonly{% endif %}
                      placeholder="[String] research description"
                      label="research description"
                      help-text="
The research description. "
                      id="{{classApiMethodMethod}}_description"
  {%- if "Page" == classApiMethodMethod %}
                      data-id="{{ id }}"
                      class="label-on-left {{classApiMethodMethod}}_description setDescription classCompanyResearch inputCompanyResearch{{id}}Description "
                      name="setDescription"
  {%- else %}
    {%- if "PATCH" == classApiMethodMethod %}
                      class="label-on-left {{classApiMethodMethod}}_description setDescription classCompanyResearch inputCompanyResearch{{id}}Description "
                      name="setDescription"
    {%- else %}
                      class="label-on-left {{classApiMethodMethod}}_description valueDescription classCompanyResearch inputCompanyResearch{{id}}Description "
                      name="description"
    {%- endif %}
  {%- endif %}
  {%- if "Page" == classApiMethodMethod %}
                      value="{{companyResearch_.description | e }}"
  {%- endif %}
                      ></sl-input>

  {%- if 'Page' == classApiMethodMethod %}
                </form>
  {%- endif %}
{%- endmacro %}

{%- macro htmDescriptionCompanyResearchPage(classApiMethodMethod, authForWriteBool=false, authForReadBool=false) %}
                            {{ inputDescriptionCompanyResearchPage(classApiMethodMethod=classApiMethodMethod, authForWrite=authForWrite, authForRead=authForRead) }}
{%- endmacro %}
{%- macro inputUriCompanyResearchPage(classApiMethodMethod, authForWrite=authForWrite, authForRead=authForRead) %}
  {%- if 'Page' == classApiMethodMethod %}
                <form class="subgrid-2col " id="PageForm_uri">
  {%- endif %}
                  <sl-input
                      {% if authForWriteBool == true %}clearable{% else %}readonly{% endif %}
                      placeholder="[String] URI"
                      label="URI"
                      help-text="
The relative URI for this page. "
                      id="{{classApiMethodMethod}}_uri"
  {%- if "Page" == classApiMethodMethod %}
                      data-id="{{ id }}"
                      class="label-on-left {{classApiMethodMethod}}_uri setUri classCompanyResearch inputCompanyResearch{{id}}Uri "
                      name="setUri"
  {%- else %}
    {%- if "PATCH" == classApiMethodMethod %}
                      class="label-on-left {{classApiMethodMethod}}_uri setUri classCompanyResearch inputCompanyResearch{{id}}Uri "
                      name="setUri"
    {%- else %}
                      class="label-on-left {{classApiMethodMethod}}_uri valueUri classCompanyResearch inputCompanyResearch{{id}}Uri "
                      name="uri"
    {%- endif %}
  {%- endif %}
  {%- if "Page" == classApiMethodMethod %}
                      value="{{companyResearch_.uri | e }}"
  {%- endif %}
                      ></sl-input>

  {%- if 'Page' == classApiMethodMethod %}
                </form>
  {%- endif %}
{%- endmacro %}

{%- macro htmUriCompanyResearchPage(classApiMethodMethod, authForWriteBool=false, authForReadBool=false) %}
                            {{ inputUriCompanyResearchPage(classApiMethodMethod=classApiMethodMethod, authForWrite=authForWrite, authForRead=authForRead) }}
{%- endmacro %}
{%- macro inputUrlCompanyResearchPage(classApiMethodMethod, authForWrite=authForWrite, authForRead=authForRead) %}
  {%- if 'Page' == classApiMethodMethod %}
                <form class="subgrid-2col " id="PageForm_url">
  {%- endif %}
                  <sl-input
                      {% if authForWriteBool == true %}clearable{% else %}readonly{% endif %}
                      placeholder="[String] URL"
                      label="URL"
                      help-text="
The URL for this page. "
                      id="{{classApiMethodMethod}}_url"
  {%- if "Page" == classApiMethodMethod %}
                      data-id="{{ id }}"
                      class="label-on-left {{classApiMethodMethod}}_url setUrl classCompanyResearch inputCompanyResearch{{id}}Url "
                      name="setUrl"
  {%- else %}
    {%- if "PATCH" == classApiMethodMethod %}
                      class="label-on-left {{classApiMethodMethod}}_url setUrl classCompanyResearch inputCompanyResearch{{id}}Url "
                      name="setUrl"
    {%- else %}
                      class="label-on-left {{classApiMethodMethod}}_url valueUrl classCompanyResearch inputCompanyResearch{{id}}Url "
                      name="url"
    {%- endif %}
  {%- endif %}
  {%- if "Page" == classApiMethodMethod %}
                      value="{{companyResearch_.url | e }}"
  {%- endif %}
                      ></sl-input>

  {%- if 'Page' == classApiMethodMethod %}
                </form>
  {%- endif %}
{%- endmacro %}

{%- macro htmUrlCompanyResearchPage(classApiMethodMethod, authForWriteBool=false, authForReadBool=false) %}
                            {{ inputUrlCompanyResearchPage(classApiMethodMethod=classApiMethodMethod, authForWrite=authForWrite, authForRead=authForRead) }}
{%- endmacro %}
{%- macro inputPageIdCompanyResearchPage(classApiMethodMethod, authForWrite=authForWrite, authForRead=authForRead) %}
  {%- if 'Page' == classApiMethodMethod %}
                <form class="subgrid-2col " id="PageForm_pageId">
  {%- endif %}
                  <sl-input
                      {% if authForWriteBool == true %}clearable{% else %}readonly{% endif %}
                      placeholder="[String] Page ID"
                      label="Page ID"
                      help-text="
The ID for this page. "
                      id="{{classApiMethodMethod}}_pageId"
  {%- if "Page" == classApiMethodMethod %}
                      data-id="{{ id }}"
                      class="label-on-left {{classApiMethodMethod}}_pageId setPageId classCompanyResearch inputCompanyResearch{{id}}PageId "
                      name="setPageId"
  {%- else %}
    {%- if "PATCH" == classApiMethodMethod %}
                      class="label-on-left {{classApiMethodMethod}}_pageId setPageId classCompanyResearch inputCompanyResearch{{id}}PageId "
                      name="setPageId"
    {%- else %}
                      class="label-on-left {{classApiMethodMethod}}_pageId valuePageId classCompanyResearch inputCompanyResearch{{id}}PageId "
                      name="pageId"
    {%- endif %}
  {%- endif %}
  {%- if "Page" == classApiMethodMethod %}
                      value="{{companyResearch_.pageId | e }}"
  {%- endif %}
                      ></sl-input>

  {%- if 'Page' == classApiMethodMethod %}
                </form>
  {%- endif %}
{%- endmacro %}

{%- macro htmPageIdCompanyResearchPage(classApiMethodMethod, authForWriteBool=false, authForReadBool=false) %}
                            {{ inputPageIdCompanyResearchPage(classApiMethodMethod=classApiMethodMethod, authForWrite=authForWrite, authForRead=authForRead) }}
{%- endmacro %}
