{% extends "en-us/PageLayout.htm" %}
{% block htmMetaPageLayout %}
    <meta property="site:pageId" content="powered-by-fiware-smart-developer-challenge"/>
    <meta property="site:uri" content="/en-us/course/{{ pageId }}"/>
    <meta property="site:name" content="Powered by FIWARE Smart Developer Challenge"/>
    <meta property="site:title" content="{{ name }}"/>
    <meta property="site:description" content="Learn how to build new and existing Smart Data Models into an existing Powered by Fiware platform with Computate"/>
    <meta property="site:courseNum" content="2"/>
{% endblock htmMetaPageLayout %}
{% block htmStylePageLayout %}
.intro-background {
	background: linear-gradient(130deg, var(--sl-color-pink-300), var(--sl-color-purple-300));
	color: white;
	padding: calc(var(--sl-spacing-3x-large) * 1.875) 0 var(--sl-spacing-3x-large) 0;
}
.gradient-button {
  &:not(sl-button), &:is(sl-button)::part(base) {
    background: linear-gradient(90deg, var(--sl-color-pink-300), var(--sl-color-purple-300));
    border: solid 1px var(--sl-color-purple-300);
    transition: transform 100ms, box-shadow 100ms;
  }
  &:is(sl-button)::part(base):hover {
    box-shadow: var(--sl-shadow-medium);
    transform: scale(105%);
  }
  &:is(sl-button)::part(base):active {
    box-shadow: inset var(--sl-shadow-small);
    transform: scale(100%);
  }
}
.intro-content {
	max-width: var(--content-width);
	margin-inline: auto;
	padding-inline: var(--sl-spacing-2x-large);
}
.intro-details {
	display: flex;
	align-items: center;
	gap: 1.5rem;
	flex-wrap: wrap;
	background-color: var(--sl-color-gray-200);
	border-radius: 0.75rem;
	font-size: 0.875rem;
	padding: 1.5rem;
}

.summary-wrapper {
	max-width: var(--content-width);
	margin-block: var(--sl-spacing-3x-large);
	margin-inline: auto;
	padding-inline: var(--sl-spacing-3x-large);
}
.summary {
	background-color: var(--sl-color-gray-200);
	border-radius: 1.125rem;
	color: white;
	padding: var(--sl-spacing-2x-large);
}
.summary {
  & > * + * {
    margin-block-start: 2rem;
  }
}
.summary-grid {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(min(30ch, 100%), 1fr));
	gap: 2rem;
}
#order-button {
  &::part(label) {
    font-weight: bold;
  }
  margin-inline: auto;
}
{% endblock htmStylePageLayout %}
{% block htmTitlePageLayout %}
    <title>{{ title }}</title>
{% endblock htmTitlePageLayout %}
{% block htmBodyMiddlePageLayout %}

        <div class="intro-background">
          <div class="intro-content">
            <div class="wa-crown">
              <i class="fa-duotone fa-solid fa-browser fa-5x "></i>
            </div>
            <h1 class="brand-font">
              Learn how to build new and existing Smart Data Models into an existing Powered by Fiware platform with Computate
            </h1>
            <h2 class="brand-font">
              with the {{ name }}
            </h2>
            <div class="intro-details">
              <div>Download the complete course here </div>
              <sl-button id="order-button" class="gradient-button" href="https://store.computate.org/{{ pageId }}" variant="neutral">
                <i class="fa-solid fa-person-running-fast"></i>
                Order the course
              </sl-button>
            </div>
          </div>
        </div>

        <div class="summary-wrapper">
          <div class="summary">
            <h2 class="brand-font anchor-heading" id="whats-web-awesome">
              What is the {{ name }}?
            </h2>
            <p>
              This course builds upon the prerequisite course 
              <a href="{{ SITE_BASE_URL }}/en-us/course/powered-by-fiware-smart-cloud-challenge">Powered by FIWARE Smart Cloud Challenge</a>
            </p>
            <p>
              Learn how to add new and existing <a href="https://github.com/smart-data-models">FIWARE Smart Data Models</a>
              into an existing Powered by FIWARE platform to focus on the IoT device data that you are interested in using. 
            </p>
            <div class="summary-grid">

              <div>
                <div class="icon-heading">
                  <i class="fa-solid fa-code"></i>
                  <h3>
                    Load code generation data
                  </h3>
                </div>
                <p>
                  Learn how to load your own open source source search engine running in your cloud project with data about your code project, 
                  and FIWARE Smart Data Models to generate thousands of lines of code for you in seconds. 
                </p>
              </div>

              <div>
                <div class="icon-heading">
                  <i class="fa-solid fa-code"></i>
                  <h3>
                    Generate Smart Data Model code
                  </h3>
                </div>
                <p>
                  Select a FIWARE Smart Data Model and instantly generate the model code, API code, dashboard code, and more
                  for the Smart Data Models you are interested in. 
                </p>
              </div>

              <div>
                <div class="icon-heading">
                  <i class="fa-solid fa-code"></i>
                  <h3>
                    Generate auth permissions
                  </h3>
                </div>
                <p>
                  Run some simple commands to authorize Keycloak users to create, modify, and view your new Smart Data Model records. 
                </p>
              </div>

              <div>
                <div class="icon-heading">
                  <i class="fa-solid fa-code"></i>
                  <h3>
                    View generated Smart Model Data dashboard
                  </h3>
                </div>
                <p>
                  See the Computate code generation automation for building Smart Data Model dashboards in your updated application 
                  by running the simple commands in the Jupyter Notebook. 
                </p>
              </div>

            </div>
          </div>
        </div>
{% endblock %}
