{% extends "en-us/PageLayout.htm" %}
{% block htmMetaPageLayout %}
    <meta property="site:pageId" content="smart-cloud-powered-by-fiware"/>
    <meta property="site:uri" content="/en-us/course/{{ pageId }}"/>
    <meta property="site:name" content="Smart Cloud Powered by FIWARE"/>
    <meta property="site:title" content="{{ name }}"/>
    <meta property="site:description" content="Learn how to deploy open source smart device microservices to the cloud and try out your own private IoT smart platform with built-in security. "/>
    <meta property="site:courseNum" content="2"/>
    <meta property="site:price" content="200"/>
{% endblock htmMetaPageLayout %}
{% block htmStylePageLayout %}
.intro-background {
	background: linear-gradient(130deg, var(--sl-color-pink-300), var(--sl-color-purple-300));
	color: white;
	padding: calc(var(--sl-spacing-3x-large) * 1.875) 0 var(--sl-spacing-3x-large) 0;
}
.gradient-button {
  &:not(sl-button), &:is(sl-button)::part(base) {
    background: linear-gradient(90deg, var(--sl-color-pink-300), var(--sl-color-purple-300));
    border: solid 1px var(--sl-color-purple-300);
    transition: transform 100ms, box-shadow 100ms;
  }
  &:is(sl-button)::part(base):hover {
    box-shadow: var(--sl-shadow-medium);
    transform: scale(105%);
  }
  &:is(sl-button)::part(base):active {
    box-shadow: inset var(--sl-shadow-small);
    transform: scale(100%);
  }
}
.intro-content {
	max-width: var(--content-width);
	margin-inline: auto;
	padding-inline: var(--sl-spacing-2x-large);
}
.intro-details {
	display: flex;
	align-items: center;
	gap: 1.5rem;
	flex-wrap: wrap;
	background-color: var(--sl-color-gray-200);
	border-radius: 0.75rem;
	font-size: 0.875rem;
	padding: 1.5rem;
}

.summary-wrapper {
	max-width: var(--content-width);
	margin-block: var(--sl-spacing-3x-large);
	margin-inline: auto;
	padding-inline: var(--sl-spacing-3x-large);
}
.summary {
	background-color: var(--sl-color-gray-200);
	border-radius: 1.125rem;
	color: white;
	padding: var(--sl-spacing-2x-large);
}
.summary {
  & > * + * {
    margin-block-start: 2rem;
  }
}
.summary-grid {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(min(30ch, 100%), 1fr));
	gap: 2rem;
}
#order-button {
  &::part(label) {
    font-weight: bold;
  }
  margin-inline: auto;
}
{% endblock htmStylePageLayout %}
{% block htmTitlePageLayout %}
    <title>{{ title }}</title>
{% endblock htmTitlePageLayout %}
{% block htmBodyMiddlePageLayout %}

        <div class="intro-background">
          <div class="intro-content">
            <div class="wa-crown">
              <i class="fa-duotone fa-solid fa-browser fa-5x "></i>
            </div>
            <h1 class="brand-font">
              Learn how to deploy open source smart device microservices to the cloud
            </h1>
            <h2 class="brand-font">
              with the {{ name }}
            </h2>
            <div class="intro-details">
              <div>
                This course will become available for the 
                <a href="https://www.eventbrite.de/e/fiware-tech-training-naples-tickets-920143322447">FIWARE Summit Technical Training</a>
                in Naples, Italy September 18 2024 · 9:30am – September 19 · 5:30pm CEST 
              </div>
              <sl-button id="order-button" class="gradient-button" variant="neutral" href="https://www.eventbrite.de/e/fiware-tech-training-naples-tickets-920143322447">
                <i class="fa-solid fa-person-running-fast"></i>
                Register for the training
              </sl-button>
            </div>
          </div>
        </div>

        <div class="summary-wrapper">
          <div class="summary">
            <h2 class="brand-font anchor-heading" id="whats-web-awesome">
              What is the {{ name }}?
            </h2>
            <p>
              Learn how to deploy open source smart device microservices to the cloud and try out your own private IoT smart platform with built-in security. 
            </p>

            <div class="summary-grid">
              <div>
                <div class="icon-heading">
                  <i class="fa-solid fa-code"></i>
                  <h3>
                    Modern development tools
                  </h3>
                </div>
                <p>
                  Learn how to install all the latest cloud deployment tools on your own computer like VSCode, Jupyter, Ansible, Helm, and OpenShift command line interface, 
                  and start deploying microservices to the cloud like a modern cloud developer. 
                </p>
              </div>

              <div>
                <div class="icon-heading">
                  <i class="fa-solid fa-cloud-arrow-up"></i>
                  <h3>
                    Cloud-native microservices
                  </h3>
                </div>
                <p>
                  Deploy modern microservices to a free Red Hat OpenShift Developer Sandbox environment
                  for certificate management, event bus application clustering, databases, a search engine, and single sign-on server for securing and scaling your data-driven website. 
                </p>
              </div>
            </div>

          </div>
        </div>
{% endblock %}
