{% extends "en-us/PageLayout.htm" %}
{% block htmTitlePageLayout %}
		<title>computate.org — Home of the Smart Device Platform Builder</title>
{% endblock %}
{% block htmStylePageLayout %}
.intro-background {
	background: linear-gradient(130deg, var(--sl-color-pink-300), var(--sl-color-purple-300));
	color: white;
	padding: calc(var(--sl-spacing-3x-large) * 1.875) 0 var(--sl-spacing-3x-large) 0;
}
.gradient-button {
  &:not(sl-button), &:is(sl-button)::part(base) {
    background: linear-gradient(90deg, var(--sl-color-pink-300), var(--sl-color-purple-300));
    border: solid 1px var(--sl-color-purple-300);
    transition: transform 100ms, box-shadow 100ms;
  }
  &:is(sl-button)::part(base):hover {
    box-shadow: var(--sl-shadow-medium);
    transform: scale(105%);
  }
  &:is(sl-button)::part(base):active {
    box-shadow: inset var(--sl-shadow-small);
    transform: scale(100%);
  }
}
.intro-content {
	max-width: var(--content-width);
	margin-inline: auto;
	padding-inline: var(--sl-spacing-2x-large);
}
.intro-details {
	display: flex;
	align-items: center;
	gap: 1.5rem;
	flex-wrap: wrap;
	background-color: var(--sl-color-gray-200);
	border-radius: 0.75rem;
	font-size: 0.875rem;
	padding: 1.5rem;
}

.summary-wrapper {
	max-width: var(--content-width);
	margin-block: var(--sl-spacing-3x-large);
	margin-inline: auto;
	padding-inline: var(--sl-spacing-3x-large);
}
.summary {
	background-color: var(--sl-color-gray-200);
	border-radius: 1.125rem;
	color: white;
	padding: var(--sl-spacing-2x-large);
}
.summary {
  & > * + * {
    margin-block-start: 2rem;
  }
}
.summary-grid {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(min(30ch, 100%), 1fr));
	gap: 2rem;
}
#order-button {
  &::part(label) {
    font-weight: bold;
  }
  margin-inline: auto;
}
{% endblock htmStylePageLayout %}
{% block htmBodyMiddlePageLayout %}
        <div class="intro-background">
          <div class="intro-content">
            <div class="wa-crown">
              <i class="fa-duotone fa-solid fa-browser fa-5x "></i>
            </div>
            <h1 class="brand-font">
              Latest available product — Learn how to deploy open source smart device microservices to the cloud
            </h1>
            <h2 class="brand-font">
              with the Computate Smart Cloud Builder
            </h2>
            <div class="intro-details">
              <div>
                <div>Click to </div>
                <sl-button id="order-button" class="gradient-button" href="{{ SITE_BASE_URL }}/en-us/product/computate-smart-cloud-deployer" variant="neutral">
                  <i class="fa-solid fa-person-running-fast"></i>
                  Learn more
                </sl-button>
              </div>
            </div>
          </div>
        </div>
{% endblock %}
