{% extends "en-us/PageLayout.htm" %}
{% block htmTitlePageLayout %}
		<title>computate.org — Home of the Smart Device Platform Builder</title>
{% endblock %}
{% block htmStylePageLayout %}

@media (max-width:800px) {
  .intro-content > h1 {
    font-size: var(--sl-font-size-large);
  }
  sl-carousel {
    --aspect-ratio: 16/8;
  }
}
@media (min-width:801px) {
  sl-carousel {
    --aspect-ratio: 16/4;
  }
}
{% endblock htmStylePageLayout %}
{% block htmBodyMiddlePageLayout %}
        <div>
          <sl-carousel class="aspect-ratio" autoplay loop navigation pagination autoplay-interval="5000">
            <sl-carousel-item>
              <sl-tooltip placement="left" content="Boston University researchers in Smart Cities meeting together in Boston with Red Hat and FIWARE. ">
                <img src="{{ STATIC_BASE_URL }}/jpg/smartvillage/meet-our-team.jpg">
              </sl-tooltip>
            </sl-carousel-item>
            <sl-carousel-item>
              <sl-tooltip placement="left" content="Hackathon with UNICEF at the Red Hat Tech Exchange 2018 in Orlando Florida, discovering the solution for the Multi-hop Mobility Challenge. ">
                <img src="{{ STATIC_BASE_URL }}/jpg/social-innovation/unicef-hackathon-2018.jpg">
              </sl-tooltip>
            </sl-carousel-item>
            <sl-carousel-item>
              <sl-tooltip placement="left" content="The Smarta Byar Smart Village FIWARE iHub receiving an official certificate at the FIWARE Summit in Vienna, Austria in 2023. ">
                <img src="{{ STATIC_BASE_URL }}/jpg/fiware/fiware-ihub-certificate.jpg">
              </sl-tooltip>
            </sl-carousel-item>
            <sl-carousel-item>
              <sl-tooltip placement="left" content="Hackathon for the ChRIS Project open compute medical imaging with Shaw University students in 2023. ">
                <img src="{{ STATIC_BASE_URL }}/jpg/shaw-university/shaw-hackathon-2023.jpg">
              </sl-tooltip>
            </sl-carousel-item>
            <sl-carousel-item>
              <sl-tooltip placement="left" content="Remote hackathon with the Southern Coaliation for Social Justice on Martin Luther King Jr. Day 2021 to kick off the development of the Open Data Policing website. ">
                <img src="{{ STATIC_BASE_URL }}/png/social-innovation/mlk-day-hackathon-2021.png">
              </sl-tooltip>
            </sl-carousel-item>
            <sl-carousel-item>
              <sl-tooltip placement="left" content="Global outreach panel discussion at the FIWARE Summit in Vienna, Austria in 2023. ">
                <img src="{{ STATIC_BASE_URL }}/jpg/fiware/fiware-summit-2023-vienna-panel.jpg">
              </sl-tooltip>
            </sl-carousel-item>
            <sl-carousel-item>
              <sl-tooltip placement="left" content="FIWARE Cloud-to-Edge Hackathon with students from Shaw University, St. Augustine’s University, and North Carolina Central University in 2024. ">
                <img src="{{ STATIC_BASE_URL }}/jpg/shaw-university/shaw-hackathon-2024.jpg">
              </sl-tooltip>
            </sl-carousel-item>
          </sl-carousel>

          <div class="max-width-content-width margin-inline-auto ">
            <header class="margin-block-spacing-medium ">
              <img class="max-width-100" src="https://computate.neocities.org/svg/computate.org-keys.svg" alt="computate.org logo">
            </header>
            <sl-card style="--border-radius: var(--sl-border-radius-x-large);">
              <p>
                Christopher Tate is a Red Hat Principal Software Engineer and a forever open source software developer. 
                He also: 
              </p>
              <ul>
                <li>
                  advocates for open standards together with Red Hat enterprise open source software in the Cloud
                </li>
                <li>
                  created the Computate Smart Cloud Deployer and Website Builder software
                </li>
                <li>
                  is a lead software engineer for logging, metrics, alerts, and AI/ML smart data research projects in the New England Research Cloud environment
                </li>
                <li>
                  created the Smart Village Operator and Smart Village Platform on Red Hat OpenShift, deploying all things FIWARE including Context Brokers, IoT Agents, and Smart Data Models
                </li>
                <li>
                  is an architect of the Red Hat Social Innovation Program
                </li>
                <li>
                  founded the Smarta Byar Smart Village Community FIWARE Innovation Hub
                </li>
              </ul>
            </sl-card>
          </div>
        </div>

        <div class="pink-purple-background border-radius-x-large">
          <div class="intro-content">
            <div class="wa-crown">
              <i class="fa-duotone fa-solid fa-conveyor-belt fa-5x "></i>
            </div>
            <h1 class="brand-font">
              Latest available product: Learn how to deploy open source smart device microservices to the cloud
              with the Computate Smart Cloud Builder
            </h1>
            <div class="intro-details">
              <div>
                <sl-button pill id="order-button" size="large" class="gradient-button pink-purple-background" href="{{ SITE_BASE_URL }}/en-us/product/computate-smart-cloud-deployer" variant="neutral">
                  <i class="fa-solid fa-person-running-fast"></i>
                  Learn more
                </sl-button>
              </div>
            </div>
          </div>
        </div>

        <div class="blue-teal-background background border-radius-x-large ">
          <div class="intro-content">
            <div class="wa-crown">
              <h1 class="brand-font">
                <i class="fa-duotone fa-solid fa-video fa-2x "></i>
                AI Telemetry Community Webinar
              </h1>
            </div>
            <h2 class="brand-font">
              Come learn how to Computate as we build a brand new custom data-driven platform 
              for AI/ML GPU Telemetry with 
              <i class="fa-brands fa-redhat fa-2xl fa-red" style="color: red; "></i>
              Red Hat Research in the New England Research Cloud! 
            </h2>
            <h3 class="brand-font">
              The AI Telemetry Community Webinar series will occur live weekdays from Sep 2, 2024 — Feb 28, 2025. 
            </h3>

            <div class="zoom-details ">
              <div>
                <sl-button pill id="order-button" size="large" class="gradient-button blue-teal-background" href="{{ SITE_BASE_URL }}/en-us/webinar/ai-telemetry-webinar" variant="neutral">
                  <i class="fa-solid fa-person-running-fast"></i>
                  Learn more
                </sl-button>
              </div>
              <div class="zoom-link font-size-large">
                <i class="fa-duotone fa-solid fa-earth-asia fa-xl"></i>
                <div>
                </div>
                <div>
                  <div>
                    Mondays: Asia Pacific
                  </div>
                  <div class="font-size-x-small">
                    09:00 Indian Time, 11:30 PM US Eastern
                  </div>
                </div>
              </div>
              <div class="zoom-link font-size-large">
                <i class="fa-duotone fa-solid fa-earth-europe fa-xl"></i>
                <div>
                </div>
                <div>
                  <div>
                    Tuesdays: Europe, Middle East, Africa
                  </div>
                  <div class="font-size-x-small">
                    16:00 Central European Time, 10:00 AM US Eastern
                  </div>
                </div>
              </div>
              <div class="zoom-link font-size-large">
                <i class="fa-duotone fa-solid fa-earth-asia fa-xl"></i>
                <div>
                </div>
                <div>
                  <div>
                    Wednesdays: Asia Pacific
                  </div>
                  <div class="font-size-x-small">
                    09:00 Indian Time, 11:30 PM US Eastern
                  </div>
                </div>
              </div>
              <div class="zoom-link font-size-large">
                <i class="fa-duotone fa-solid fa-earth-europe fa-xl"></i>
                <div>
                </div>
                <div>
                  <div>
                    Thursdays: Europe, Middle East, Africa
                  </div>
                  <div class="font-size-x-small">
                    16:00 Central European Time, 10:00 AM US Eastern
                  </div>
                </div>
              </div>
              <div class="zoom-link font-size-large">
                <i class="fa-duotone fa-solid fa-earth-americas fa-xl"></i>
                <div>
                </div>
                <div>
                  <div>
                    Fridays: Americas
                  </div>
                  <div class="font-size-x-small">
                    12:00 PM US Eastern
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

{% endblock %}
