{% extends "en-us/PageLayout.htm" %}

{%- block htmTitlePageLayout %}
{%- block htmTitleCompanyResearchPage %}
    <title>{% if resultCount == 0 %}no research found{% else %}research{% endif %}</title>
{%- endblock htmTitleCompanyResearchPage %}
{%- endblock htmTitlePageLayout %}

{%- block htmStylesPageLayout %}
{{ super() }}
    <link rel="stylesheet" href="{{ staticBaseUrl }}/css/research/CompanyResearch.css"/>
{%- block htmStylesCompanyResearchPage %}
{%- endblock htmStylesCompanyResearchPage %}
{%- endblock htmStylesPageLayout %}

{%- block htmStylePageLayout %}
{{ super() }}
{%- block htmStyleCompanyResearchPage %}
{%- endblock htmStyleCompanyResearchPage %}
{%- endblock htmStylePageLayout %}

{%- block htmScriptsPageLayout %}
{{ super() }}
{%- block htmScriptsCompanyResearchPage %}
    <script src="{{staticBaseUrl}}/js/research/CompanyResearch.js"></script>
    <script type="module" src="{{staticBaseUrl}}/js/research/CompanyResearchSearch.js"></script>
{%- endblock htmScriptsCompanyResearchPage %}
{%- endblock htmScriptsPageLayout %}

{%- block htmScriptPageLayout %}
{%- block htmScriptCompanyResearchPage %}
    <script>

      function jsWebsocketCompanyResearch(id, vars, $response) {
{%- block jsWebsocketCompanyResearchPage %}{%- endblock %}
      }

      function jsTooltipCompanyResearch(e, feature) {
{%- block jsTooltipCompanyResearchPage %}{%- endblock %}
      }

      function htmTooltipCompanyResearch(feature, layer) {
        return `{%- block htmTooltipCompanyResearchPage %}
<h3><i class="{{ classIconCssClasses }}  "></i><a href="${quoteattr(feature.properties.pageUrlPk)}">${feature.properties.objectTitle}</a></h3>
{%- endblock htmTooltipCompanyResearchPage %}`;
      }
    </script>
    <script type="module">
{% if DEFAULT_MAP_LOCATION is defined %}
      window.DEFAULT_MAP_LOCATION = { lat: {{ DEFAULT_MAP_LOCATION.lat }}, lon: {{ DEFAULT_MAP_LOCATION.lon }} };
{% endif %}
{% if DEFAULT_MAP_ZOOM is defined %}
      window.DEFAULT_MAP_ZOOM = {{ DEFAULT_MAP_ZOOM }};
{% endif %}
      window.DEFAULT_ZONE_ID = '{{ defaultZoneId }}';
      Promise.all([
        customElements.whenDefined('sl-button')
        , customElements.whenDefined('sl-input')
      ]).then(() => {

        var id = {% if id is defined %}{{ id }}{% else %}null{% endif %};

        if(id == null) {
          document.querySelector('#grid-toggle-details')?.addEventListener('click', () => {
            document.querySelector('#site-results-grid').classList.remove('grid-mode-list', 'grid-mode-card');
            document.querySelector('#site-results-grid').classList.add('grid-mode-details');
          });
          document.querySelector('#grid-toggle-list')?.addEventListener('click', () => {
            document.querySelector('#site-results-grid').classList.remove('grid-mode-details', 'grid-mode-card');
            document.querySelector('#site-results-grid').classList.add('grid-mode-list');
          });
          document.querySelector('#grid-toggle-card')?.addEventListener('click', () => {
            document.querySelector('#site-results-grid').classList.remove('grid-mode-details', 'grid-mode-list');
            document.querySelector('#site-results-grid').classList.add('grid-mode-card');
          });
        } else {
          var o = document.querySelector('.pageForm .result')?.value;
          if(o)
            window.result = JSON.parse(o);
        {% if id is defined %}
        {% endif %}
        }
        var l = document.querySelector('.pageForm .listCompanyResearch')?.value;
        if(l)
          window.listCompanyResearch = JSON.parse(l);
        window.varsFq = JSON.parse('{{ toJsonObjectStringInApostrophes(varsFq) }}');
        window.varsRange = JSON.parse('{{ toJsonObjectStringInApostrophes(varsRange) }}');
        window.defaultRangeVar = '{{ defaultRangeVar }}';
        pageGraphCompanyResearch();
        {% for key, value in varsQ.items() %}

        document.querySelector('#qCompanyResearch_{{ key }}')?.addEventListener('sl-{% if var == 'objectSuggest' %}keyup{% else %}change{% endif %}', event => {
          qChange('CompanyResearch', event.target, document.querySelector('#qCompanyResearchDiv_{{ key }}'));
        });
        {% endfor %}

        document.querySelector('#qCompanyResearch_rows')?.addEventListener('sl-change', event => {
          paramChange('CompanyResearch', event.target, document.querySelector('#qCompanyResearchDiv_rows'));
        });

        document.querySelector('#qCompanyResearch_start')?.addEventListener('sl-change', event => {
          paramChange('CompanyResearch', event.target, document.querySelector('#qCompanyResearchDiv_start'));
        });


        var submitForm_patchCompanyResearch = document.querySelector('#htmForm_patchCompanyResearch')?.addEventListener('submit', event => {
          event.preventDefault();
          return false;
        });
        document.querySelector('#htmFormButton_patchCompanyResearch')?.addEventListener('click', event => {
          event.preventDefault();
          patchCompanyResearch(null, document.querySelector('#htmForm_patchCompanyResearch'), document.querySelector('#htmFormButton_patchCompanyResearch'), event.target.getAttribute('data-id'));
          return false;
        });

        var submitForm_postCompanyResearch = document.querySelector('#htmForm_postCompanyResearch')?.addEventListener('submit', event => {
          event.preventDefault();
          return false;
        });
        document.querySelector('#htmFormButton_postCompanyResearch')?.addEventListener('click', event => {
          event.preventDefault();
          postCompanyResearch(document.querySelector('#htmForm_postCompanyResearch'), document.querySelector('#htmFormButton_postCompanyResearch'), (response, target) => { response.json().then((json) => { window.location.href = json.pageUrlPk; }); });
          return false;
        });

        var submitForm_putimportCompanyResearch = document.querySelector('#htmForm_putimportCompanyResearch')?.addEventListener('submit', event => {
          event.preventDefault();
          return false;
        });
        document.querySelector('#htmFormButton_putimportCompanyResearch')?.addEventListener('click', event => {
          event.preventDefault();
          putimportCompanyResearch(document.querySelector('#htmForm_putimportCompanyResearch'), document.querySelector('#htmFormButton_putimportCompanyResearch'));
          return false;
        });

        var submitForm_searchpageCompanyResearch = document.querySelector('#htmForm_searchpageCompanyResearch')?.addEventListener('submit', event => {
          event.preventDefault();
          return false;
        });
        document.querySelector('#htmFormButton_searchpageCompanyResearch')?.addEventListener('click', event => {
          event.preventDefault();
          searchpageCompanyResearch();
          return false;
        });
      });
    </script>
{%- endblock htmScriptCompanyResearchPage %}
{%- endblock htmScriptPageLayout %}

{%- block websocketPageLayout %}
{%- block websocketCompanyResearchPage %}
        window.eventBus = new EventBus('/eventbus');
        window.eventBus.enableReconnect(true);
        websocketCompanyResearch(websocketCompanyResearchInner);
{%- endblock websocketCompanyResearchPage %}
{%- endblock websocketPageLayout %}

{%- block htmUrlCompanyResearchPage %}{{pageUri}}?q={{query.q}}&amp;rows={% if rows is defined %}{{rows}}{% else %}{{pagination.rows}}{% endif %}&amp;rows={% if start is defined %}{{start}}{% else %}{{pagination.start}}{% endif %}{% for item query.fq %}{% if fq == item %}{% else %}&fq={{fq}}:{{val}}{% endif %}{% endfor %}{% for item in query.sort %}{% if sort == item %}{% else %}&sort={{var}} {{order}}{% endif %}{% endfor %}{%- endblock htmUrlCompanyResearchPage %}

{%- block htmBodyStartPageLayout %}
{{ super() }}
{%- block htmBodyStartCompanyResearchPage %}
{%- endblock htmBodyStartCompanyResearchPage %}
{%- endblock htmBodyStartPageLayout %}

{%- block htmBodyMiddlePageLayout %}
{%- block htmBodyMiddleCompanyResearchPage %}
{%- include research/CompanyResearchSidebar.htm %}
{%- include research/CompanyResearchSuggestedSearch.htm %}
{% if resultCount == 0 %}
        <div>
          <sl-tooltip content="back to all research">
            <sl-button href="{{ SITE_BASE_URL }}{{ pageUri }}">
              <i class="fa-solid fa-angle-left"></i>
              all research
            </sl-button>
          </sl-tooltip>
        </div>
        <h1>
          <i class="fa-duotone fa-solid fa-school"></i>
          <span>research</span>
        </h1>
{% include research/CompanyResearchSearchButtons.htm %}
{% include research/CompanyResearchSearchForm.htm %}
        <h2>
          <span>
  {% if classIconCssClasses is defined %}
            <i class="{{ classIconCssClasses }}  site-menu-icon "></i>
  {% endif %}
            <span class="">no research found</span>
          </span>
        </h2>
{% else %}
        <div class="pageContent ">
          <div id="site-calendar-box">
            <div id="site-calendar"><!-- // --></div>
          </div>
          <div>
            <sl-tooltip content="back to all research">
              <sl-button href="{{ SITE_BASE_URL }}{{ pageUri }}">
                <i class="fa-solid fa-angle-left"></i>
                all research
              </sl-button>
            </sl-tooltip>
          </div>
          <h1>
            <a href="{{pageUri}}">
              <i class="fa-duotone fa-solid fa-school"></i>
              <span>research</span>
            </a>
          </h1>
{% include research/CompanyResearchSearchButtons.htm %}
{% include research/CompanyResearchSearchForm.htm %}
{% include research/CompanyResearchPaginationButtons.htm %}
          <div class="grid-mode-details border-radius-x-large" id="site-results-grid">
            <div>
              <sl-dropdown id="htmDropdown_name">
                <sl-button slot="trigger" caret>research name</sl-button>
                <sl-menu>
                  <sl-menu-item type="checkbox" data-action="sort">
                    <i class="fa-solid fa-arrow-down-a-z"></i>
                    sort by research name ascending
                  </sl-menu-item>
                  <sl-menu-item type="checkbox" data-action="sort">
                    <i class="fa-solid fa-arrow-down-z-a"></i>
                    sort by research name descending
                  </sl-menu-item>
                </sl-menu>
              </sl-dropdown>
              <sl-dropdown id="htmDropdown_description">
                <sl-button slot="trigger" caret>research description</sl-button>
                <sl-menu>
                  <sl-menu-item type="checkbox" data-action="sort">
                    <i class="fa-solid fa-arrow-down-a-z"></i>
                    sort by research description ascending
                  </sl-menu-item>
                  <sl-menu-item type="checkbox" data-action="sort">
                    <i class="fa-solid fa-arrow-down-z-a"></i>
                    sort by research description descending
                  </sl-menu-item>
                </sl-menu>
              </sl-dropdown>
            </div>
            {% for item in listCompanyResearch%}
            <div>
              <a href="{{ item.pageUrlPk }}">
                <i class="fa-duotone fa-solid fa-school"></i>
              {{ item.name }}
              </a>
              <a href="{{ item.pageUrlPk }}">
              {{ item.description }}
              </a>
            </div>
            {% endfor %}
              {% if getColumnName is defined %}
                <div>
                </div>
              {% endif %}
              {% if getColumnDescription is defined %}
                <div>
                </div>
              {% endif %}
          </div>
{% endif %}
{%- endblock htmBodyMiddleCompanyResearchPage %}
{%- endblock htmBodyMiddlePageLayout %}

{%- block htmBodyEndPageLayout %}
  {{ super() }}
{%- block htmBodyEndCompanyResearchPage %}
{%- endblock htmBodyEndCompanyResearchPage %}
{%- endblock htmBodyEndPageLayout %}
