{% extends "en-us/PageLayout.htm" %}
{%- block htmTitlePageLayout %}
{%- block htmTitleIotServicePage %}
    <title>{{ result.objectTitle }}</title>
{%- endblock htmTitleIotServicePage %}
{%- endblock htmTitlePageLayout %}

{%- block htmStylesPageLayout %}
{{ super() }}
    <link rel="stylesheet" href="{{ staticBaseUrl }}/css/en-us/search/iot-service/IotService.css"/>
{%- block htmStylesIotServicePage %}
{%- endblock htmStylesIotServicePage %}
{%- endblock htmStylesPageLayout %}

{%- block htmStylePageLayout %}
{{ super() }}
{%- block htmStyleIotServicePage %}
{%- endblock htmStyleIotServicePage %}
{%- endblock htmStylePageLayout %}

{%- block htmScriptsPageLayout %}
{{ super() }}
{%- block htmScriptsIotServicePage %}
    <script src="{{staticBaseUrl}}/js/en-us/search/iot-service/IotService.js"></script>
    <script type="module" src="{{staticBaseUrl}}/js/en-us/search/iot-service/IotServiceSearch.js"></script>
    <script type="module" src="{{staticBaseUrl}}/js/en-us/search/iot-service/IotServiceEdit.js"></script>
{%- endblock htmScriptsIotServicePage %}
{%- endblock htmScriptsPageLayout %}

{%- block htmScriptPageLayout %}
{%- block htmScriptIotServicePage %}
    <script>

      function jsWebsocketIotService(pk, vars, $response) {
{%- block jsWebsocketIotServicePage %}{%- endblock %}
      }

      function jsTooltipIotService(e, feature) {
{%- block jsTooltipIotServicePage %}{%- endblock %}
      }

      function htmTooltipIotService(feature, layer) {
        return `{%- block htmTooltipIotServicePage %}
<h3><i class="{{ classIconCssClasses }}  "></i><a href="${quoteattr(feature.properties.pageUrlPk)}">${feature.properties.objectTitle}</a></h3>
{%- endblock htmTooltipIotServicePage %}`;
      }
    </script>
    <script type="module">
{% if DEFAULT_MAP_LOCATION is defined %}
      window.DEFAULT_MAP_LOCATION = { lat: {{ DEFAULT_MAP_LOCATION.lat }}, lon: {{ DEFAULT_MAP_LOCATION.lon }} };
{% endif %}
{% if DEFAULT_MAP_ZOOM is defined %}
      window.DEFAULT_MAP_ZOOM = {{ DEFAULT_MAP_ZOOM }};
{% endif %}
      window.DEFAULT_ZONE_ID = '{{ defaultZoneId }}';
      Promise.all([
        customElements.whenDefined('sl-button')
        , customElements.whenDefined('sl-input')
      ]).then(() => {

        var pk = {% if pk is defined %}{{ pk }}{% else %}null{% endif %};

        if(pk == null) {
          document.querySelector('#grid-toggle-details')?.addEventListener('click', () => {
            document.querySelector('#site-results-grid').classList.remove('grid-mode-list', 'grid-mode-card');
            document.querySelector('#site-results-grid').classList.add('grid-mode-details');
          });
          document.querySelector('#grid-toggle-list')?.addEventListener('click', () => {
            document.querySelector('#site-results-grid').classList.remove('grid-mode-details', 'grid-mode-card');
            document.querySelector('#site-results-grid').classList.add('grid-mode-list');
          });
          document.querySelector('#grid-toggle-card')?.addEventListener('click', () => {
            document.querySelector('#site-results-grid').classList.remove('grid-mode-details', 'grid-mode-list');
            document.querySelector('#site-results-grid').classList.add('grid-mode-card');
          });
        } else {
          var o = document.querySelector('.pageForm .result')?.value;
          if(o)
            window.result = JSON.parse(o);
        {% if pk is defined %}
        {% endif %}
        }
        var l = document.querySelector('.pageForm .listIotService')?.value;
        if(l)
          window.listIotService = JSON.parse(l);
        window.varsFq = JSON.parse('{{ toJsonObjectStringInApostrophes(varsFq) }}');
        window.varsRange = JSON.parse('{{ toJsonObjectStringInApostrophes(varsRange) }}');
        window.defaultRangeVar = '{{ defaultRangeVar }}';
        pageGraphIotService();
        {% for key, value in varsQ.items() %}

        document.querySelector('#qIotService_{{ key }}')?.addEventListener('sl-{% if var == 'objectSuggest' %}keyup{% else %}change{% endif %}', event => {
          qChange('IotService', event.target, document.querySelector('#qIotServiceDiv_{{ key }}'));
        });
        {% endfor %}

        document.querySelector('#qIotService_rows')?.addEventListener('sl-change', event => {
          paramChange('IotService', event.target, document.querySelector('#qIotServiceDiv_rows'));
        });

        document.querySelector('#qIotService_start')?.addEventListener('sl-change', event => {
          paramChange('IotService', event.target, document.querySelector('#qIotServiceDiv_start'));
        });


        var submitForm_patchIotService = document.querySelector('#htmForm_patchIotService')?.addEventListener('submit', event => {
          event.preventDefault();
          return false;
        });
        document.querySelector('#htmFormButton_patchIotService')?.addEventListener('click', event => {
          event.preventDefault();
          patchIotService(null, document.querySelector('#htmForm_patchIotService'), document.querySelector('#htmFormButton_patchIotService'), event.target.getAttribute('data-pk'));
          return false;
        });

        var submitForm_postIotService = document.querySelector('#htmForm_postIotService')?.addEventListener('submit', event => {
          event.preventDefault();
          return false;
        });
        document.querySelector('#htmFormButton_postIotService')?.addEventListener('click', event => {
          event.preventDefault();
          postIotService(document.querySelector('#htmForm_postIotService'), document.querySelector('#htmFormButton_postIotService'), (response, target) => { response.json().then((json) => { window.location.href = json.pageUrlPk; }); });
          return false;
        });

        var submitForm_deleteIotService = document.querySelector('#htmForm_deleteIotService')?.addEventListener('submit', event => {
          event.preventDefault();
          return false;
        });
        document.querySelector('#htmFormButton_deleteIotService')?.addEventListener('click', event => {
          event.preventDefault();
          deleteIotService(null, document.querySelector('#htmForm_deleteIotService'), document.querySelector('#htmFormButton_deleteIotService'), event.target.getAttribute('data-pk'));
          return false;
        });

        var submitForm_putimportIotService = document.querySelector('#htmForm_putimportIotService')?.addEventListener('submit', event => {
          event.preventDefault();
          return false;
        });
        document.querySelector('#htmFormButton_putimportIotService')?.addEventListener('click', event => {
          event.preventDefault();
          putimportIotService(document.querySelector('#htmForm_putimportIotService'), document.querySelector('#htmFormButton_putimportIotService'));
          return false;
        });

        var submitForm_searchpageIotService = document.querySelector('#htmForm_searchpageIotService')?.addEventListener('submit', event => {
          event.preventDefault();
          return false;
        });
        document.querySelector('#htmFormButton_searchpageIotService')?.addEventListener('click', event => {
          event.preventDefault();
          searchpageIotService();
          return false;
        });
      });
    </script>
{%- endblock htmScriptIotServicePage %}
{%- endblock htmScriptPageLayout %}

{%- block websocketPageLayout %}
{%- block websocketIotServicePage %}
        window.eventBus = new EventBus('/eventbus');
        window.eventBus.enableReconnect(true);
        websocketIotService(websocketIotServiceInner);
{%- endblock websocketIotServicePage %}
{%- endblock websocketPageLayout %}

{%- block htmUrlIotServicePage %}{{pageUri}}?q={{query.q}}&amp;rows={% if rows is defined %}{{rows}}{% else %}{{pagination.rows}}{% endif %}&amp;rows={% if start is defined %}{{start}}{% else %}{{pagination.start}}{% endif %}{% for item query.fq %}{% if fq == item %}{% else %}&fq={{fq}}:{{val}}{% endif %}{% endfor %}{% for item in query.sort %}{% if sort == item %}{% else %}&sort={{var}} {{order}}{% endif %}{% endfor %}{%- endblock htmUrlIotServicePage %}

{%- block htmBodyStartPageLayout %}
    {{ super() }}
{%- block htmBodyStartIotServicePage %}
{%- endblock htmBodyStartIotServicePage %}
{%- endblock htmBodyStartPageLayout %}

{%- block htmBodyMiddlePageLayout %}
{%- block htmBodyMiddleIotServicePage %}
{%- include en-us/search/iot-service/IotServiceSidebar.htm %}
{%- include en-us/search/iot-service/IotServiceSuggestedSearch.htm %}
{% if resultCount == 0 %}
        <div>
          <sl-tooltip content="back to all IoT services">
            <sl-button href="{{ SITE_BASE_URL }}{{ pageUri }}">
              <i class="fa-solid fa-angle-left"></i>
              all IoT services
            </sl-button>
          </sl-tooltip>
        </div>
        <h1>
          <i class="fa-solid fa-tower-cell"></i>
          <span>IoT services</span>
        </h1>
{% include en-us/search/iot-service/IotServiceSearchButtons.htm %}
{% include en-us/search/iot-service/IotServiceSearchForm.htm %}
        <h2>
          <span>
  {% if classIconCssClasses is defined %}
            <i class="{{ classIconCssClasses }}  site-menu-icon "></i>
  {% endif %}
            <span class="">no IoT service found</span>
          </span>
        </h2>
{% else %}
  {% if resultCount == 1 %}
    {% if id is defined %}
        <div>
          <sl-tooltip content="back to all IoT services">
            <sl-button href="{{ SITE_BASE_URL }}{{ pageUri }}">
              <i class="fa-solid fa-angle-left"></i>
              all IoT services
            </sl-button>
          </sl-tooltip>
        </div>
{% include en-us/search/iot-service/IotServiceSearchButtons.htm %}
{% include en-us/search/iot-service/IotServiceSearchForm.htm %}
        <h1>
          <i class="fa-solid fa-tower-cell"></i>
          {{result.objectTitle}}
        </h1>
    {% else %}
        <div>
          <sl-tooltip content="back to all IoT services">
            <sl-button href="{{ SITE_BASE_URL }}{{ pageUri }}">
              <i class="fa-solid fa-angle-left"></i>
              all IoT services
            </sl-button>
          </sl-tooltip>
        </div>
        <h1>
          <i class="fa-solid fa-tower-cell"></i>
          <span>IoT services</span>
        </h1>
{% include en-us/search/iot-service/IotServiceSearchButtons.htm %}
{% include en-us/search/iot-service/IotServiceSearchForm.htm %}
        <h2>
          <span>
  {% if classIconCssClasses is defined %}
            <i class="{{ classIconCssClasses }}  site-menu-icon "></i>
  {% endif %}
            <span class="">no IoT service found</span>
          </span>
        </h2>
    {% endif %}
  {% else %}
        <div>
          <sl-tooltip content="back to all IoT services">
            <sl-button href="{{ SITE_BASE_URL }}{{ pageUri }}">
              <i class="fa-solid fa-angle-left"></i>
              all IoT services
            </sl-button>
          </sl-tooltip>
        </div>
        <h1>
          <i class="fa-solid fa-tower-cell"></i>
          <span>IoT services</span>
        </h1>
{% include en-us/search/iot-service/IotServiceSearchButtons.htm %}
{% include en-us/search/iot-service/IotServiceSearchForm.htm %}
        <h2>
          <span>
  {% if classIconCssClasses is defined %}
            <i class="{{ classIconCssClasses }}  site-menu-icon "></i>
  {% endif %}
            <span class="">no IoT service found</span>
          </span>
        </h2>
  {% endif %}
{% endif %}
{%- block htmFormIotServicePage %}
        <form action="/en-us/api/iot-service" id="IotServiceForm" class="pageForm " style="" onsubmit="event.preventDefault(); return false; ">
{% if pk is defined %}
          <input name="pk" class="valuePk" type="hidden" value="{{pk}}"/>
          {% endif %}
          <input name="focusId" type="hidden"/>
          <input name="pageResponse" id="pageResponse" class="pageResponse"  value='{{ toJsonObjectStringInApostrophes(pageResponse) }}' type="hidden"/>
          <input name="result" id="result" class="result"  value='{{ toJsonObjectStringInApostrophes(result_) }}' type="hidden"/>
          <input name="listIotService" id="listIotService" class="listIotService"  value='{{ toJsonArrayStringInApostrophes(listIotService) }}' type="hidden"/>
        </form>
  {% if id is defined %}
        {{ htmButton_searchpageIotService() }}
        {{ htmForm_searchpageIotService() }}
  {% endif %}
{%- endblock htmFormIotServicePage %}
{%- endblock htmBodyMiddleIotServicePage %}
{%- endblock htmBodyMiddlePageLayout %}

{%- block htmBodyEndPageLayout %}
      {{ super() }}
{%- block htmBodyEndIotServicePage %}
{%- endblock htmBodyEndIotServicePage %}
{%- endblock htmBodyEndPageLayout %}
{%- macro inputPkIotServicePage(classApiMethodMethod, authForWrite=authForWrite, authForRead=authForRead) %}
  {%- if 'Page' == classApiMethodMethod %}
                <form class="subgrid-2col " id="PageForm_pk">
  {%- endif %}
                  <sl-input
                      readonly
                      placeholder="[Long] primary key"
                      label="primary key"
                      help-text="
The primary key of this object in the database"
                      id="{{classApiMethodMethod}}_pk"
  {%- if "Page" == classApiMethodMethod %}
                      data-pk="{{ pk }}"
                      class="label-on-left {{classApiMethodMethod}}_pk setPk classIotService inputIotService{{pk}}Pk "
                      name="setPk"
  {%- else %}
    {%- if "PATCH" == classApiMethodMethod %}
                      class="label-on-left {{classApiMethodMethod}}_pk setPk classIotService inputIotService{{pk}}Pk "
                      name="setPk"
    {%- else %}
                      class="label-on-left {{classApiMethodMethod}}_pk valuePk classIotService inputIotService{{pk}}Pk "
                      name="pk"
    {%- endif %}
  {%- endif %}
  {%- if "Page" == classApiMethodMethod %}
                      value="{{iotService_.pk | e }}"
  {%- endif %}
                      ></sl-input>

  {%- if 'Page' == classApiMethodMethod %}
                </form>
  {%- endif %}
{%- endmacro %}

{%- macro htmPkIotServicePage(classApiMethodMethod, authForWriteBool=false, authForReadBool=false) %}
                            {{ inputPkIotServicePage(classApiMethodMethod=classApiMethodMethod, authForWrite=authForWrite, authForRead=authForRead) }}
{%- endmacro %}
{%- macro inputObjectIdIotServicePage(classApiMethodMethod, authForWrite=authForWrite, authForRead=authForRead) %}
  {%- if 'Page' == classApiMethodMethod %}
                <form class="subgrid-2col " id="PageForm_objectId">
  {%- endif %}
                  <sl-input
                      {% if authForWriteBool == true %}clearable{% else %}readonly{% endif %}
                      placeholder="[String] ID"
                      label="ID"
                      help-text="
A URL friendly unique ID for this object"
                      id="{{classApiMethodMethod}}_objectId"
  {%- if "Page" == classApiMethodMethod %}
                      data-pk="{{ pk }}"
                      class="label-on-left {{classApiMethodMethod}}_objectId setObjectId classIotService inputIotService{{pk}}ObjectId "
                      name="setObjectId"
  {%- else %}
    {%- if "PATCH" == classApiMethodMethod %}
                      class="label-on-left {{classApiMethodMethod}}_objectId setObjectId classIotService inputIotService{{pk}}ObjectId "
                      name="setObjectId"
    {%- else %}
                      class="label-on-left {{classApiMethodMethod}}_objectId valueObjectId classIotService inputIotService{{pk}}ObjectId "
                      name="objectId"
    {%- endif %}
  {%- endif %}
  {%- if "Page" == classApiMethodMethod %}
                      value="{{iotService_.objectId | e }}"
  {%- endif %}
                      ></sl-input>

  {%- if 'Page' == classApiMethodMethod %}
                </form>
  {%- endif %}
{%- endmacro %}

{%- macro htmObjectIdIotServicePage(classApiMethodMethod, authForWriteBool=false, authForReadBool=false) %}
                            {{ inputObjectIdIotServicePage(classApiMethodMethod=classApiMethodMethod, authForWrite=authForWrite, authForRead=authForRead) }}
{%- endmacro %}
{%- macro inputCreatedIotServicePage(classApiMethodMethod, authForWrite=authForWrite, authForRead=authForRead) %}
  {%- if 'Page' == classApiMethodMethod %}
                <form class="subgrid-2col " id="PageForm_created">
  {%- endif %}
                  <sl-input
                      type="text"
                      readonly
                      placeholder="created"
                      help-text="A created timestamp for this record in the database"
                      label="created"
                      class="label-on-left {{classApiMethodMethod}}_created datetimepicker setCreated classIotService inputIotService{{pk}}Created "
                      placeholder="MM/dd/yyyy h:mm a '['VV']'"
                      data-timeformat="MM/dd/yyyy h:mm a '['VV']'"
                      id="{{classApiMethodMethod}}_created"
                      value="{%- if iotService_.created is defined %}{{ formatZonedDateTime(iotService_.created, "MM/dd/yyyy h:mm a '['VV']'", defaultLocaleId, defaultZoneId) | e }}{%- endif %}"
  {%- if 'Page' == classApiMethodMethod %}
  {%- endif %}
                      data-pk="{{ pk }}"
                      >
                  </sl-input>
  {%- if 'Page' == classApiMethodMethod %}
                </form>
  {%- endif %}
{%- endmacro %}

{%- macro htmCreatedIotServicePage(classApiMethodMethod, authForWriteBool=false, authForReadBool=false) %}
                            {{ inputCreatedIotServicePage(classApiMethodMethod=classApiMethodMethod, authForWrite=authForWrite, authForRead=authForRead) }}
{%- endmacro %}
{%- macro inputModifiedIotServicePage(classApiMethodMethod, authForWrite=authForWrite, authForRead=authForRead) %}
  {%- if 'Page' == classApiMethodMethod %}
                <form class="subgrid-2col " id="PageForm_modified">
  {%- endif %}
                  <sl-input
                      type="text"
                      readonly
                      placeholder="modified"
                      help-text="A modified timestamp for this record in the database"
                      label="modified"
                      class="label-on-left {{classApiMethodMethod}}_modified datetimepicker setModified classIotService inputIotService{{pk}}Modified "
                      placeholder="MM/dd/yyyy h:mm a '['VV']'"
                      data-timeformat="MM/dd/yyyy h:mm a '['VV']'"
                      id="{{classApiMethodMethod}}_modified"
                      value="{%- if iotService_.modified is defined %}{{ formatZonedDateTime(iotService_.modified, "MM/dd/yyyy h:mm a '['VV']'", defaultLocaleId, defaultZoneId) | e }}{%- endif %}"
  {%- if 'Page' == classApiMethodMethod %}
  {%- endif %}
                      data-pk="{{ pk }}"
                      >
                  </sl-input>
  {%- if 'Page' == classApiMethodMethod %}
                </form>
  {%- endif %}
{%- endmacro %}

{%- macro htmModifiedIotServicePage(classApiMethodMethod, authForWriteBool=false, authForReadBool=false) %}
                            {{ inputModifiedIotServicePage(classApiMethodMethod=classApiMethodMethod, authForWrite=authForWrite, authForRead=authForRead) }}
{%- endmacro %}
{%- macro inputArchivedIotServicePage(classApiMethodMethod, authForWrite=authForWrite, authForRead=authForRead) %}
  {%- if 'Page' == classApiMethodMethod %}
                <form class="subgrid-2col " id="PageForm_archived">
  {%- endif %}
  {%- if 'Page' == classApiMethodMethod %}
                  <sl-button
                      id="{{classApiMethodMethod}}_archived"
                      placeholder="archive"
                      label="archive"
                      help-text="For archiving this record"
                      class="label-on-left {{classApiMethodMethod}}_archived classIotService inputIotService{{pk}}Archived "
                      name="setArchived"
                      data-pk="{{ pk }}"
                      data-val="{{ iotService_.archived | e }}"
                      >archive</sl-button>
  {%- else %}
  {%- if 'Page' == classApiMethodMethod %}
                  <sl-checkbox
                      id="{{classApiMethodMethod}}_archived"
                      value="true"
  {%- else %}
                  <sl-select
                      id="{{classApiMethodMethod}}_archived"
  {%- endif %}
                      {% if authForWriteBool == true %}clearable{% else %}readonly{% endif %}
                      placeholder="archive"
                      label="archive"
                      help-text="For archiving this record"
  {%- if 'Page' == classApiMethodMethod %}
                      class="label-on-left {{classApiMethodMethod}}_archived classIotService inputIotService{{pk}}Archived "
                      name="setArchived"
  {%- else %}
    {%- if 'Page' == classApiMethodMethod %}
                      class="label-on-left {{classApiMethodMethod}}_archived classIotService inputIotService{{pk}}Archived "
                      name="setArchived"
    {%- else %}
                      class="label-on-left {{classApiMethodMethod}}_archived setArchived valueArchived classIotService inputIotService{{pk}}Archived "
                      name="setArchived"
    {%- endif %}
  {%- endif %}
  {%- if 'Page' == classApiMethodMethod %}
    {%- if iotService_.archived == true %}
                      checked
    {%- endif %}
                      data-pk="{{ pk }}"
                      >archive</sl-checkbox>
  {%- else %}
                      >
                    <sl-option value="" selected="selected"></sl-option>
                    <sl-option value="true">true</sl-option>
                    <sl-option value="false">false</sl-option>
                  </sl-select>
  {%- endif %}
  {%- endif %}
  {%- if 'Page' == classApiMethodMethod %}
                </form>
  {%- endif %}
{%- endmacro %}

{%- macro htmArchivedIotServicePage(classApiMethodMethod, authForWriteBool=false, authForReadBool=false) %}
                            {{ inputArchivedIotServicePage(classApiMethodMethod=classApiMethodMethod, authForWrite=authForWrite, authForRead=authForRead) }}
{%- endmacro %}
{%- macro inputEntityTypeIotServicePage(classApiMethodMethod, authForWrite=authForWrite, authForRead=authForRead) %}
  {%- if 'Page' == classApiMethodMethod %}
                <form class="subgrid-2col " id="PageForm_entityType">
  {%- endif %}
                  <sl-input
                      {% if authForWriteBool == true %}clearable{% else %}readonly{% endif %}
                      placeholder="[String] entity type"
                      label="entity type"
                      help-text="
The NGSI-LD entity type"
                      id="{{classApiMethodMethod}}_entityType"
  {%- if "Page" == classApiMethodMethod %}
                      data-pk="{{ pk }}"
                      class="label-on-left {{classApiMethodMethod}}_entityType setEntityType classIotService inputIotService{{pk}}EntityType "
                      name="setEntityType"
  {%- else %}
    {%- if "PATCH" == classApiMethodMethod %}
                      class="label-on-left {{classApiMethodMethod}}_entityType setEntityType classIotService inputIotService{{pk}}EntityType "
                      name="setEntityType"
    {%- else %}
                      class="label-on-left {{classApiMethodMethod}}_entityType valueEntityType classIotService inputIotService{{pk}}EntityType "
                      name="entityType"
    {%- endif %}
  {%- endif %}
  {%- if "Page" == classApiMethodMethod %}
                      value="{{iotService_.entityType | e }}"
  {%- endif %}
                      ></sl-input>

  {%- if 'Page' == classApiMethodMethod %}
                </form>
  {%- endif %}
{%- endmacro %}

{%- macro htmEntityTypeIotServicePage(classApiMethodMethod, authForWriteBool=false, authForReadBool=false) %}
                            {{ inputEntityTypeIotServicePage(classApiMethodMethod=classApiMethodMethod, authForWrite=authForWrite, authForRead=authForRead) }}
{%- endmacro %}
{%- macro inputApiKeyIotServicePage(classApiMethodMethod, authForWrite=authForWrite, authForRead=authForRead) %}
  {%- if 'Page' == classApiMethodMethod %}
                <form class="subgrid-2col " id="PageForm_apiKey">
  {%- endif %}
                  <sl-input
                      {% if authForWriteBool == true %}clearable{% else %}readonly{% endif %}
                      placeholder="[String] API key"
                      label="API key"
                      help-text="
The NGSI-LD API Key"
                      id="{{classApiMethodMethod}}_apiKey"
  {%- if "Page" == classApiMethodMethod %}
                      data-pk="{{ pk }}"
                      class="label-on-left {{classApiMethodMethod}}_apiKey setApiKey classIotService inputIotService{{pk}}ApiKey "
                      name="setApiKey"
  {%- else %}
    {%- if "PATCH" == classApiMethodMethod %}
                      class="label-on-left {{classApiMethodMethod}}_apiKey setApiKey classIotService inputIotService{{pk}}ApiKey "
                      name="setApiKey"
    {%- else %}
                      class="label-on-left {{classApiMethodMethod}}_apiKey valueApiKey classIotService inputIotService{{pk}}ApiKey "
                      name="apiKey"
    {%- endif %}
  {%- endif %}
  {%- if "Page" == classApiMethodMethod %}
                      value="{{iotService_.apiKey | e }}"
  {%- endif %}
                      ></sl-input>

  {%- if 'Page' == classApiMethodMethod %}
                </form>
  {%- endif %}
{%- endmacro %}

{%- macro htmApiKeyIotServicePage(classApiMethodMethod, authForWriteBool=false, authForReadBool=false) %}
                            {{ inputApiKeyIotServicePage(classApiMethodMethod=classApiMethodMethod, authForWrite=authForWrite, authForRead=authForRead) }}
{%- endmacro %}
{%- macro inputResourceIotServicePage(classApiMethodMethod, authForWrite=authForWrite, authForRead=authForRead) %}
  {%- if 'Page' == classApiMethodMethod %}
                <form class="subgrid-2col " id="PageForm_resource">
  {%- endif %}
                  <sl-input
                      {% if authForWriteBool == true %}clearable{% else %}readonly{% endif %}
                      placeholder="[String] resource"
                      label="resource"
                      help-text="
The NGSI-LD resource"
                      id="{{classApiMethodMethod}}_resource"
  {%- if "Page" == classApiMethodMethod %}
                      data-pk="{{ pk }}"
                      class="label-on-left {{classApiMethodMethod}}_resource setResource classIotService inputIotService{{pk}}Resource "
                      name="setResource"
  {%- else %}
    {%- if "PATCH" == classApiMethodMethod %}
                      class="label-on-left {{classApiMethodMethod}}_resource setResource classIotService inputIotService{{pk}}Resource "
                      name="setResource"
    {%- else %}
                      class="label-on-left {{classApiMethodMethod}}_resource valueResource classIotService inputIotService{{pk}}Resource "
                      name="resource"
    {%- endif %}
  {%- endif %}
  {%- if "Page" == classApiMethodMethod %}
                      value="{{iotService_.resource | e }}"
  {%- endif %}
                      ></sl-input>

  {%- if 'Page' == classApiMethodMethod %}
                </form>
  {%- endif %}
{%- endmacro %}

{%- macro htmResourceIotServicePage(classApiMethodMethod, authForWriteBool=false, authForReadBool=false) %}
                            {{ inputResourceIotServicePage(classApiMethodMethod=classApiMethodMethod, authForWrite=authForWrite, authForRead=authForRead) }}
{%- endmacro %}
{%- macro inputNgsildTenantIotServicePage(classApiMethodMethod, authForWrite=authForWrite, authForRead=authForRead) %}
  {%- if 'Page' == classApiMethodMethod %}
                <form class="subgrid-2col " id="PageForm_ngsildTenant">
  {%- endif %}
                  <sl-input
                      {% if authForWriteBool == true %}clearable{% else %}readonly{% endif %}
                      placeholder="[String] NGSILD-Tenant"
                      label="NGSILD-Tenant"
                      help-text="
The NGSILD-Tenant or Fiware-Service"
                      id="{{classApiMethodMethod}}_ngsildTenant"
  {%- if "Page" == classApiMethodMethod %}
                      data-pk="{{ pk }}"
                      class="label-on-left {{classApiMethodMethod}}_ngsildTenant setNgsildTenant classIotService inputIotService{{pk}}NgsildTenant "
                      name="setNgsildTenant"
  {%- else %}
    {%- if "PATCH" == classApiMethodMethod %}
                      class="label-on-left {{classApiMethodMethod}}_ngsildTenant setNgsildTenant classIotService inputIotService{{pk}}NgsildTenant "
                      name="setNgsildTenant"
    {%- else %}
                      class="label-on-left {{classApiMethodMethod}}_ngsildTenant valueNgsildTenant classIotService inputIotService{{pk}}NgsildTenant "
                      name="ngsildTenant"
    {%- endif %}
  {%- endif %}
  {%- if "Page" == classApiMethodMethod %}
                      value="{{iotService_.ngsildTenant | e }}"
  {%- endif %}
                      ></sl-input>

  {%- if 'Page' == classApiMethodMethod %}
                </form>
  {%- endif %}
{%- endmacro %}

{%- macro htmNgsildTenantIotServicePage(classApiMethodMethod, authForWriteBool=false, authForReadBool=false) %}
                            {{ inputNgsildTenantIotServicePage(classApiMethodMethod=classApiMethodMethod, authForWrite=authForWrite, authForRead=authForRead) }}
{%- endmacro %}
{%- macro inputNgsildPathIotServicePage(classApiMethodMethod, authForWrite=authForWrite, authForRead=authForRead) %}
  {%- if 'Page' == classApiMethodMethod %}
                <form class="subgrid-2col " id="PageForm_ngsildPath">
  {%- endif %}
                  <sl-input
                      {% if authForWriteBool == true %}clearable{% else %}readonly{% endif %}
                      placeholder="[String] NGSILD-Path"
                      label="NGSILD-Path"
                      help-text="
The NGSILD-Path or Fiware-ServicePath"
                      id="{{classApiMethodMethod}}_ngsildPath"
  {%- if "Page" == classApiMethodMethod %}
                      data-pk="{{ pk }}"
                      class="label-on-left {{classApiMethodMethod}}_ngsildPath setNgsildPath classIotService inputIotService{{pk}}NgsildPath "
                      name="setNgsildPath"
  {%- else %}
    {%- if "PATCH" == classApiMethodMethod %}
                      class="label-on-left {{classApiMethodMethod}}_ngsildPath setNgsildPath classIotService inputIotService{{pk}}NgsildPath "
                      name="setNgsildPath"
    {%- else %}
                      class="label-on-left {{classApiMethodMethod}}_ngsildPath valueNgsildPath classIotService inputIotService{{pk}}NgsildPath "
                      name="ngsildPath"
    {%- endif %}
  {%- endif %}
  {%- if "Page" == classApiMethodMethod %}
                      value="{{iotService_.ngsildPath | e }}"
  {%- endif %}
                      ></sl-input>

  {%- if 'Page' == classApiMethodMethod %}
                </form>
  {%- endif %}
{%- endmacro %}

{%- macro htmNgsildPathIotServicePage(classApiMethodMethod, authForWriteBool=false, authForReadBool=false) %}
                            {{ inputNgsildPathIotServicePage(classApiMethodMethod=classApiMethodMethod, authForWrite=authForWrite, authForRead=authForRead) }}
{%- endmacro %}
{%- macro inputCbHostIotServicePage(classApiMethodMethod, authForWrite=authForWrite, authForRead=authForRead) %}
  {%- if 'Page' == classApiMethodMethod %}
                <form class="subgrid-2col " id="PageForm_cbHost">
  {%- endif %}
                  <sl-input
                      {% if authForWriteBool == true %}clearable{% else %}readonly{% endif %}
                      placeholder="[String] context broker host"
                      label="context broker host"
                      help-text="
The NGSI-LD Context Broker host"
                      id="{{classApiMethodMethod}}_cbHost"
  {%- if "Page" == classApiMethodMethod %}
                      data-pk="{{ pk }}"
                      class="label-on-left {{classApiMethodMethod}}_cbHost setCbHost classIotService inputIotService{{pk}}CbHost "
                      name="setCbHost"
  {%- else %}
    {%- if "PATCH" == classApiMethodMethod %}
                      class="label-on-left {{classApiMethodMethod}}_cbHost setCbHost classIotService inputIotService{{pk}}CbHost "
                      name="setCbHost"
    {%- else %}
                      class="label-on-left {{classApiMethodMethod}}_cbHost valueCbHost classIotService inputIotService{{pk}}CbHost "
                      name="cbHost"
    {%- endif %}
  {%- endif %}
  {%- if "Page" == classApiMethodMethod %}
                      value="{{iotService_.cbHost | e }}"
  {%- endif %}
                      ></sl-input>

  {%- if 'Page' == classApiMethodMethod %}
                </form>
  {%- endif %}
{%- endmacro %}

{%- macro htmCbHostIotServicePage(classApiMethodMethod, authForWriteBool=false, authForReadBool=false) %}
                            {{ inputCbHostIotServicePage(classApiMethodMethod=classApiMethodMethod, authForWrite=authForWrite, authForRead=authForRead) }}
{%- endmacro %}
{%- macro inputAttributesIotServicePage(classApiMethodMethod, authForWrite=authForWrite, authForRead=authForRead) %}
  {%- if 'Page' == classApiMethodMethod %}
                <form class="subgrid-2col " id="PageForm_attributes">
  {%- endif %}
                  <sl-input
                      {% if authForWriteBool == true %}clearable{% else %}readonly{% endif %}
                      placeholder="[JsonArray] attributes"
                      label="attributes"
                      help-text="
The NGSI-LD attributes"
                      id="{{classApiMethodMethod}}_attributes"
  {%- if "Page" == classApiMethodMethod %}
                      data-pk="{{ pk }}"
                      class="label-on-left {{classApiMethodMethod}}_attributes setAttributes classIotService inputIotService{{pk}}Attributes "
                      name="setAttributes"
  {%- else %}
    {%- if "PATCH" == classApiMethodMethod %}
                      class="label-on-left {{classApiMethodMethod}}_attributes setAttributes classIotService inputIotService{{pk}}Attributes "
                      name="setAttributes"
    {%- else %}
                      class="label-on-left {{classApiMethodMethod}}_attributes valueAttributes classIotService inputIotService{{pk}}Attributes "
                      name="attributes"
    {%- endif %}
  {%- endif %}
  {%- if "Page" == classApiMethodMethod %}
                      value="{{ toJsonArrayString(iotService_.attributes) | e }}"
  {%- endif %}
                      ></sl-input>

  {%- if 'Page' == classApiMethodMethod %}
                </form>
  {%- endif %}
{%- endmacro %}

{%- macro htmAttributesIotServicePage(classApiMethodMethod, authForWriteBool=false, authForReadBool=false) %}
                            {{ inputAttributesIotServicePage(classApiMethodMethod=classApiMethodMethod, authForWrite=authForWrite, authForRead=authForRead) }}
{%- endmacro %}
{%- macro inputPageIdIotServicePage(classApiMethodMethod, authForWrite=authForWrite, authForRead=authForRead) %}
  {%- if 'Page' == classApiMethodMethod %}
                <form class="subgrid-2col " id="PageForm_pageId">
  {%- endif %}
                  <sl-input
                      {% if authForWriteBool == true %}clearable{% else %}readonly{% endif %}
                      placeholder="[String] Page ID"
                      label="Page ID"
                      help-text="
The ID for this page. "
                      id="{{classApiMethodMethod}}_pageId"
  {%- if "Page" == classApiMethodMethod %}
                      data-pk="{{ pk }}"
                      class="label-on-left {{classApiMethodMethod}}_pageId setPageId classIotService inputIotService{{pk}}PageId "
                      name="setPageId"
  {%- else %}
    {%- if "PATCH" == classApiMethodMethod %}
                      class="label-on-left {{classApiMethodMethod}}_pageId setPageId classIotService inputIotService{{pk}}PageId "
                      name="setPageId"
    {%- else %}
                      class="label-on-left {{classApiMethodMethod}}_pageId valuePageId classIotService inputIotService{{pk}}PageId "
                      name="pageId"
    {%- endif %}
  {%- endif %}
  {%- if "Page" == classApiMethodMethod %}
                      value="{{iotService_.pageId | e }}"
  {%- endif %}
                      ></sl-input>

  {%- if 'Page' == classApiMethodMethod %}
                </form>
  {%- endif %}
{%- endmacro %}

{%- macro htmPageIdIotServicePage(classApiMethodMethod, authForWriteBool=false, authForReadBool=false) %}
                            {{ inputPageIdIotServicePage(classApiMethodMethod=classApiMethodMethod, authForWrite=authForWrite, authForRead=authForRead) }}
{%- endmacro %}
{%- macro inputUriIotServicePage(classApiMethodMethod, authForWrite=authForWrite, authForRead=authForRead) %}
  {%- if 'Page' == classApiMethodMethod %}
                <form class="subgrid-2col " id="PageForm_uri">
  {%- endif %}
                  <sl-input
                      {% if authForWriteBool == true %}clearable{% else %}readonly{% endif %}
                      placeholder="[String] URI"
                      label="URI"
                      help-text="
The relative URI for this page. "
                      id="{{classApiMethodMethod}}_uri"
  {%- if "Page" == classApiMethodMethod %}
                      data-pk="{{ pk }}"
                      class="label-on-left {{classApiMethodMethod}}_uri setUri classIotService inputIotService{{pk}}Uri "
                      name="setUri"
  {%- else %}
    {%- if "PATCH" == classApiMethodMethod %}
                      class="label-on-left {{classApiMethodMethod}}_uri setUri classIotService inputIotService{{pk}}Uri "
                      name="setUri"
    {%- else %}
                      class="label-on-left {{classApiMethodMethod}}_uri valueUri classIotService inputIotService{{pk}}Uri "
                      name="uri"
    {%- endif %}
  {%- endif %}
  {%- if "Page" == classApiMethodMethod %}
                      value="{{iotService_.uri | e }}"
  {%- endif %}
                      ></sl-input>

  {%- if 'Page' == classApiMethodMethod %}
                </form>
  {%- endif %}
{%- endmacro %}

{%- macro htmUriIotServicePage(classApiMethodMethod, authForWriteBool=false, authForReadBool=false) %}
                            {{ inputUriIotServicePage(classApiMethodMethod=classApiMethodMethod, authForWrite=authForWrite, authForRead=authForRead) }}
{%- endmacro %}
{%- macro inputUrlIotServicePage(classApiMethodMethod, authForWrite=authForWrite, authForRead=authForRead) %}
  {%- if 'Page' == classApiMethodMethod %}
                <form class="subgrid-2col " id="PageForm_url">
  {%- endif %}
                  <sl-input
                      {% if authForWriteBool == true %}clearable{% else %}readonly{% endif %}
                      placeholder="[String] URL"
                      label="URL"
                      help-text="
The URL for this page. "
                      id="{{classApiMethodMethod}}_url"
  {%- if "Page" == classApiMethodMethod %}
                      data-pk="{{ pk }}"
                      class="label-on-left {{classApiMethodMethod}}_url setUrl classIotService inputIotService{{pk}}Url "
                      name="setUrl"
  {%- else %}
    {%- if "PATCH" == classApiMethodMethod %}
                      class="label-on-left {{classApiMethodMethod}}_url setUrl classIotService inputIotService{{pk}}Url "
                      name="setUrl"
    {%- else %}
                      class="label-on-left {{classApiMethodMethod}}_url valueUrl classIotService inputIotService{{pk}}Url "
                      name="url"
    {%- endif %}
  {%- endif %}
  {%- if "Page" == classApiMethodMethod %}
                      value="{{iotService_.url | e }}"
  {%- endif %}
                      ></sl-input>

  {%- if 'Page' == classApiMethodMethod %}
                </form>
  {%- endif %}
{%- endmacro %}

{%- macro htmUrlIotServicePage(classApiMethodMethod, authForWriteBool=false, authForReadBool=false) %}
                            {{ inputUrlIotServicePage(classApiMethodMethod=classApiMethodMethod, authForWrite=authForWrite, authForRead=authForRead) }}
{%- endmacro %}
