{% extends "en-us/PageLayout.htm" %}
{%- block htmTitlePageLayout %}
{%- block htmTitleCompanyAboutPage %}
    <title>{{ result.objectTitle }}</title>
{%- endblock htmTitleCompanyAboutPage %}
{%- endblock htmTitlePageLayout %}

{%- block htmStylesPageLayout %}
{{ super() }}
    <link rel="stylesheet" href="{{ staticBaseUrl }}/css/en-us/search/about/CompanyAbout.css"/>
{%- block htmStylesCompanyAboutPage %}
{%- endblock htmStylesCompanyAboutPage %}
{%- endblock htmStylesPageLayout %}

{%- block htmStylePageLayout %}
{{ super() }}
{%- block htmStyleCompanyAboutPage %}
{%- endblock htmStyleCompanyAboutPage %}
{%- endblock htmStylePageLayout %}

{%- block htmScriptsPageLayout %}
{{ super() }}
{%- block htmScriptsCompanyAboutPage %}
    <script src="{{staticBaseUrl}}/js/en-us/search/about/CompanyAbout.js"></script>
    <script type="module" src="{{staticBaseUrl}}/js/en-us/search/about/CompanyAboutSearchPage.js"></script>
    <script type="module" src="{{staticBaseUrl}}/js/en-us/search/about/CompanyAboutEditPage.js"></script>
{%- endblock htmScriptsCompanyAboutPage %}
{%- endblock htmScriptsPageLayout %}

{%- block htmScriptPageLayout %}
{%- block htmScriptCompanyAboutPage %}
    <script>

      function jsWebsocketCompanyAbout(solrId, vars, $response) {
{%- block jsWebsocketCompanyAboutPage %}{%- endblock %}
      }

      function jsTooltipCompanyAbout(e, feature) {
{%- block jsTooltipCompanyAboutPage %}{%- endblock %}
      }

      function htmTooltipCompanyAbout(feature, layer) {
        return `{%- block htmTooltipCompanyAboutPage %}
<h3><i class="{{ classIconCssClasses }}  "></i><a href="${quoteattr(feature.properties.editPage)}">${feature.properties.title}</a></h3>
{%- endblock htmTooltipCompanyAboutPage %}`;
      }
    </script>
    <script type="module">
{% if DEFAULT_MAP_LOCATION is defined %}
      window.DEFAULT_MAP_LOCATION = { lat: {{ DEFAULT_MAP_LOCATION.lat }}, lon: {{ DEFAULT_MAP_LOCATION.lon }} };
{% endif %}
{% if DEFAULT_MAP_ZOOM is defined %}
      window.DEFAULT_MAP_ZOOM = {{ DEFAULT_MAP_ZOOM }};
{% endif %}
      window.DEFAULT_ZONE_ID = '{{ defaultZoneId }}';
      Promise.all([
        customElements.whenDefined('sl-button')
        , customElements.whenDefined('sl-input')
      ]).then(() => {

        var pageId = {% if result.pageId is defined %}{{ result.pageId | tojson }}{% else %}null{% endif %};

        if(pageId == null) {
          document.querySelector('#grid-toggle-details')?.addEventListener('click', () => {
            document.querySelector('#site-results-grid').classList.remove('grid-mode-list', 'grid-mode-card');
            document.querySelector('#site-results-grid').classList.add('grid-mode-details');
          });
          document.querySelector('#grid-toggle-list')?.addEventListener('click', () => {
            document.querySelector('#site-results-grid').classList.remove('grid-mode-details', 'grid-mode-card');
            document.querySelector('#site-results-grid').classList.add('grid-mode-list');
          });
          document.querySelector('#grid-toggle-card')?.addEventListener('click', () => {
            document.querySelector('#site-results-grid').classList.remove('grid-mode-details', 'grid-mode-list');
            document.querySelector('#site-results-grid').classList.add('grid-mode-card');
          });
        } else {
          var o = document.querySelector('.pageForm .result')?.value;
          if(o)
            window.result = JSON.parse(o);
        {% if pageId is defined %}
        {% endif %}
        }
        var l = document.querySelector('.pageForm .listCompanyAbout')?.value;
        if(l)
          window.listCompanyAbout = JSON.parse(l);
        window.varsFq = JSON.parse('{{ toJsonObjectStringInApostrophes(varsFq) }}');
        window.varsRange = JSON.parse('{{ toJsonObjectStringInApostrophes(varsRange) }}');
        window.defaultRangeVar = '{{ defaultRangeVar }}';
        pageGraphCompanyAbout();
        {% for key, value in varsQ.items() %}

        document.querySelector('#qCompanyAbout_{{ key }}')?.addEventListener('sl-{% if var == 'objectSuggest' %}keyup{% else %}change{% endif %}', event => {
          qChange('CompanyAbout', event.target, document.querySelector('#qCompanyAboutDiv_{{ key }}'));
        });
        {% endfor %}

        document.querySelector('#qCompanyAbout_rows')?.addEventListener('sl-change', event => {
          paramChange('CompanyAbout', event.target, document.querySelector('#qCompanyAboutDiv_rows'));
        });

        document.querySelector('#qCompanyAbout_start')?.addEventListener('sl-change', event => {
          paramChange('CompanyAbout', event.target, document.querySelector('#qCompanyAboutDiv_start'));
        });


        var submitForm_patchCompanyAbout = document.querySelector('#htmForm_patchCompanyAbout')?.addEventListener('submit', event => {
          event.preventDefault();
          return false;
        });
        document.querySelector('#htmFormButton_patchCompanyAbout')?.addEventListener('click', event => {
          event.preventDefault();
          patchCompanyAbout(null, document.querySelector('#htmForm_patchCompanyAbout'), document.querySelector('#htmFormButton_patchCompanyAbout'), event.target.getAttribute('data-pageId'));
          return false;
        });

        var submitForm_postCompanyAbout = document.querySelector('#htmForm_postCompanyAbout')?.addEventListener('submit', event => {
          event.preventDefault();
          return false;
        });
        document.querySelector('#htmFormButton_postCompanyAbout')?.addEventListener('click', event => {
          event.preventDefault();
          postCompanyAbout(document.querySelector('#htmForm_postCompanyAbout'), document.querySelector('#htmFormButton_postCompanyAbout'), (response, target) => { response.json().then((json) => { window.location.href = json.editPage; }); });
          return false;
        });

        var submitForm_deleteCompanyAbout = document.querySelector('#htmForm_deleteCompanyAbout')?.addEventListener('submit', event => {
          event.preventDefault();
          return false;
        });
        document.querySelector('#htmFormButton_deleteCompanyAbout')?.addEventListener('click', event => {
          event.preventDefault();
          deleteCompanyAbout(event.target, event.target.getAttribute('data-pageId'));
          return false;
        });

        var submitForm_putimportCompanyAbout = document.querySelector('#htmForm_putimportCompanyAbout')?.addEventListener('submit', event => {
          event.preventDefault();
          return false;
        });
        document.querySelector('#htmFormButton_putimportCompanyAbout')?.addEventListener('click', event => {
          event.preventDefault();
          putimportCompanyAbout(document.querySelector('#htmForm_putimportCompanyAbout'), document.querySelector('#htmFormButton_putimportCompanyAbout'));
          return false;
        });

        var submitForm_searchpageCompanyAbout = document.querySelector('#htmForm_searchpageCompanyAbout')?.addEventListener('submit', event => {
          event.preventDefault();
          return false;
        });
        document.querySelector('#htmFormButton_searchpageCompanyAbout')?.addEventListener('click', event => {
          event.preventDefault();
          searchpageCompanyAbout();
          return false;
        });
      });
    </script>
{%- endblock htmScriptCompanyAboutPage %}
{%- endblock htmScriptPageLayout %}

{%- block websocketPageLayout %}
{%- block websocketCompanyAboutPage %}
        window.eventBus = new EventBus('/eventbus');
        window.eventBus.enableReconnect(true);
        websocketCompanyAbout(websocketCompanyAboutInner);
{%- endblock websocketCompanyAboutPage %}
{%- endblock websocketPageLayout %}

{%- block htmUrlCompanyAboutPage %}{{pageUri}}?q={{query.q}}&amp;rows={% if rows is defined %}{{rows}}{% else %}{{pagination.rows}}{% endif %}&amp;rows={% if start is defined %}{{start}}{% else %}{{pagination.start}}{% endif %}{% for item query.fq %}{% if fq == item %}{% else %}&fq={{fq}}:{{val}}{% endif %}{% endfor %}{% for item in query.sort %}{% if sort == item %}{% else %}&sort={{var}} {{order}}{% endif %}{% endfor %}{%- endblock htmUrlCompanyAboutPage %}

{%- block htmBodyStartPageLayout %}
    {{ super() }}
{%- block htmBodyStartCompanyAboutPage %}
{%- endblock htmBodyStartCompanyAboutPage %}
{%- endblock htmBodyStartPageLayout %}

{%- block htmBodyMiddlePageLayout %}
{%- block htmBodyMiddleCompanyAboutPage %}
{%- include en-us/search/about/CompanyAboutSidebar.htm %}
{%- include en-us/search/about/CompanyAboutSuggestedSearch.htm %}
{% if resultCount == 0 %}
        <div>
          <sl-tooltip content="back to all about">
            <sl-button href="{{ SITE_BASE_URL }}{{ pageUri }}">
              <i class="fa-solid fa-angle-left"></i>
              all about
            </sl-button>
          </sl-tooltip>
        </div>
        <h1>
          <i class="fa-solid fa-address-card"></i>
          <span>about</span>
        </h1>
{% include en-us/search/about/CompanyAboutSearchButtons.htm %}
{% include en-us/search/about/CompanyAboutSearchForm.htm %}
        <h2>
          <span>
  {% if classIconCssClasses is defined %}
            <i class="{{ classIconCssClasses }}  site-menu-icon "></i>
  {% endif %}
            <span class="">no about page found</span>
          </span>
        </h2>
{% else %}
  {% if resultCount == 1 %}
    {% if solrId is defined %}
        <div>
          <sl-tooltip content="back to all about">
            <sl-button href="{{ SITE_BASE_URL }}{{ pageUri }}">
              <i class="fa-solid fa-angle-left"></i>
              all about
            </sl-button>
          </sl-tooltip>
        </div>
{% include en-us/search/about/CompanyAboutSearchButtons.htm %}
{% include en-us/search/about/CompanyAboutSearchForm.htm %}
        <h1>
          <i class="fa-solid fa-address-card"></i>
          {{result.objectTitle}}
        </h1>
    {% else %}
        <div>
          <sl-tooltip content="back to all about">
            <sl-button href="{{ SITE_BASE_URL }}{{ pageUri }}">
              <i class="fa-solid fa-angle-left"></i>
              all about
            </sl-button>
          </sl-tooltip>
        </div>
        <h1>
          <i class="fa-solid fa-address-card"></i>
          <span>about</span>
        </h1>
{% include en-us/search/about/CompanyAboutSearchButtons.htm %}
{% include en-us/search/about/CompanyAboutSearchForm.htm %}
        <h2>
          <span>
  {% if classIconCssClasses is defined %}
            <i class="{{ classIconCssClasses }}  site-menu-icon "></i>
  {% endif %}
            <span class="">no about page found</span>
          </span>
        </h2>
    {% endif %}
  {% else %}
        <div>
          <sl-tooltip content="back to all about">
            <sl-button href="{{ SITE_BASE_URL }}{{ pageUri }}">
              <i class="fa-solid fa-angle-left"></i>
              all about
            </sl-button>
          </sl-tooltip>
        </div>
        <h1>
          <i class="fa-solid fa-address-card"></i>
          <span>about</span>
        </h1>
{% include en-us/search/about/CompanyAboutSearchButtons.htm %}
{% include en-us/search/about/CompanyAboutSearchForm.htm %}
        <h2>
          <span>
  {% if classIconCssClasses is defined %}
            <i class="{{ classIconCssClasses }}  site-menu-icon "></i>
  {% endif %}
            <span class="">no about page found</span>
          </span>
        </h2>
  {% endif %}
{% endif %}
{%- block htmFormCompanyAboutPage %}
        <form action="/en-us/api/about" id="CompanyAboutForm" class="pageForm " style="" onsubmit="event.preventDefault(); return false; ">
{% if pageId is defined %}
          <input name="pageId" class="valuePageId" type="hidden" value="{{pageId}}"/>
          {% endif %}
          <input name="focusId" type="hidden"/>
          <input name="pageResponse" id="pageResponse" class="pageResponse"  value='{{ toJsonObjectStringInApostrophes(pageResponse) }}' type="hidden"/>
          <input name="result" id="result" class="result"  value='{{ toJsonObjectStringInApostrophes(result_) }}' type="hidden"/>
          <input name="listCompanyAbout" id="listCompanyAbout" class="listCompanyAbout"  value='{{ toJsonArrayStringInApostrophes(listCompanyAbout) }}' type="hidden"/>
        </form>
  {% if solrId is defined %}
        {{ htmButton_searchpageCompanyAbout() }}
        {{ htmForm_searchpageCompanyAbout() }}
  {% endif %}
{%- endblock htmFormCompanyAboutPage %}
{%- endblock htmBodyMiddleCompanyAboutPage %}
{%- endblock htmBodyMiddlePageLayout %}

{%- block htmBodyEndPageLayout %}
      {{ super() }}
{%- block htmBodyEndCompanyAboutPage %}
{%- endblock htmBodyEndCompanyAboutPage %}
{%- endblock htmBodyEndPageLayout %}
{%- macro inputCreatedCompanyAboutPage(classApiMethodMethod, authForWrite=authForWrite, authForRead=authForRead) %}
  {%- if 'Page' == classApiMethodMethod %}
                <form class="subgrid-2col " id="PageForm_created">
  {%- endif %}
                  <sl-input
                      type="text"
                      readonly
                      help-text="A created timestamp for this record in the database"
                      label="created"
                      class="label-on-left {{classApiMethodMethod}}_created datetimepicker setCreated classCompanyAbout inputCompanyAbout{{pageId}}Created "
                      placeholder="MM/dd/yyyy h:mm a '['VV']'"
                      data-timeformat="MM/dd/yyyy h:mm a '['VV']'"
                      id="{{classApiMethodMethod}}_created"
                      value="{%- if result.created is defined %}{{ formatZonedDateTime(result.created, "MM/dd/yyyy h:mm a '['VV']'", defaultLocaleId, defaultZoneId) | e }}{%- endif %}"
  {%- if 'Page' == classApiMethodMethod %}
  {%- endif %}
                      data-pageId={{ result.pageId | tojson }}
                      >
                  </sl-input>
  {%- if 'Page' == classApiMethodMethod %}
                </form>
  {%- endif %}
{%- endmacro %}

{%- macro htmCreatedCompanyAboutPage(classApiMethodMethod, authForWriteBool=false, authForReadBool=false) %}
                            {{ inputCreatedCompanyAboutPage(classApiMethodMethod=classApiMethodMethod, authForWrite=authForWrite, authForRead=authForRead) }}
{%- endmacro %}
{%- macro inputModifiedCompanyAboutPage(classApiMethodMethod, authForWrite=authForWrite, authForRead=authForRead) %}
  {%- if 'Page' == classApiMethodMethod %}
                <form class="subgrid-2col " id="PageForm_modified">
  {%- endif %}
                  <sl-input
                      type="text"
                      readonly
                      help-text="A modified timestamp for this record in the database"
                      label="modified"
                      class="label-on-left {{classApiMethodMethod}}_modified datetimepicker setModified classCompanyAbout inputCompanyAbout{{pageId}}Modified "
                      placeholder="MM/dd/yyyy h:mm a '['VV']'"
                      data-timeformat="MM/dd/yyyy h:mm a '['VV']'"
                      id="{{classApiMethodMethod}}_modified"
                      value="{%- if result.modified is defined %}{{ formatZonedDateTime(result.modified, "MM/dd/yyyy h:mm a '['VV']'", defaultLocaleId, defaultZoneId) | e }}{%- endif %}"
  {%- if 'Page' == classApiMethodMethod %}
  {%- endif %}
                      data-pageId={{ result.pageId | tojson }}
                      >
                  </sl-input>
  {%- if 'Page' == classApiMethodMethod %}
                </form>
  {%- endif %}
{%- endmacro %}

{%- macro htmModifiedCompanyAboutPage(classApiMethodMethod, authForWriteBool=false, authForReadBool=false) %}
                            {{ inputModifiedCompanyAboutPage(classApiMethodMethod=classApiMethodMethod, authForWrite=authForWrite, authForRead=authForRead) }}
{%- endmacro %}
{%- macro inputArchivedCompanyAboutPage(classApiMethodMethod, authForWrite=authForWrite, authForRead=authForRead) %}
  {%- if 'Page' == classApiMethodMethod %}
                <form class="subgrid-2col " id="PageForm_archived">
  {%- endif %}
  {%- if 'Page' == classApiMethodMethod %}
                  <sl-button
                      id="{{classApiMethodMethod}}_archived"
                      placeholder="archived"
                      label="archived"
                      help-text="For archiving this record"
                      class="label-on-left {{classApiMethodMethod}}_archived classCompanyAbout inputCompanyAbout{{pageId}}Archived "
                      name="setArchived"
                      data-pageId={{ result.pageId | tojson }}
                      data-val="{{ result.archived | e }}"
                      >archived</sl-button>
  {%- else %}
  {%- if 'Page' == classApiMethodMethod %}
                  <sl-checkbox
                      id="{{classApiMethodMethod}}_archived"
                      value="true"
  {%- else %}
                  <sl-select
                      id="{{classApiMethodMethod}}_archived"
  {%- endif %}
                      {% if authForWriteBool == true %}clearable{% else %}readonly{% endif %}
                      placeholder="archived"
                      label="archived"
                      help-text="For archiving this record"
  {%- if 'Page' == classApiMethodMethod %}
                      class="label-on-left {{classApiMethodMethod}}_archived classCompanyAbout inputCompanyAbout{{pageId}}Archived "
                      name="setArchived"
  {%- else %}
    {%- if 'Page' == classApiMethodMethod %}
                      class="label-on-left {{classApiMethodMethod}}_archived classCompanyAbout inputCompanyAbout{{pageId}}Archived "
                      name="setArchived"
    {%- else %}
                      class="label-on-left {{classApiMethodMethod}}_archived setArchived valueArchived classCompanyAbout inputCompanyAbout{{pageId}}Archived "
                      name="setArchived"
    {%- endif %}
  {%- endif %}
  {%- if 'Page' == classApiMethodMethod %}
    {%- if result.archived == true %}
                      checked
    {%- endif %}
                      data-pageId={{ result.pageId | tojson }}
                      >archived</sl-checkbox>
  {%- else %}
                      >
                    <sl-option value="" selected="selected"></sl-option>
                    <sl-option value="true">true</sl-option>
                    <sl-option value="false">false</sl-option>
                  </sl-select>
  {%- endif %}
  {%- endif %}
  {%- if 'Page' == classApiMethodMethod %}
                </form>
  {%- endif %}
{%- endmacro %}

{%- macro htmArchivedCompanyAboutPage(classApiMethodMethod, authForWriteBool=false, authForReadBool=false) %}
                            {{ inputArchivedCompanyAboutPage(classApiMethodMethod=classApiMethodMethod, authForWrite=authForWrite, authForRead=authForRead) }}
{%- endmacro %}
{%- macro inputNameCompanyAboutPage(classApiMethodMethod, authForWrite=authForWrite, authForRead=authForRead) %}
  {%- if 'Page' == classApiMethodMethod %}
                <form class="subgrid-2col " id="PageForm_name">
  {%- endif %}
                  <sl-input
                      {% if authForWriteBool == true %}clearable{% else %}readonly{% endif %}
                      placeholder="[String] about name"
                      label="about name"
                      help-text="
The about name. "
                      id="{{classApiMethodMethod}}_name"
  {%- if "Page" == classApiMethodMethod %}
                      data-pageId={{ result.pageId | tojson }}
                      class="label-on-left {{classApiMethodMethod}}_name setName classCompanyAbout inputCompanyAbout{{pageId}}Name "
                      name="setName"
  {%- else %}
    {%- if "PATCH" == classApiMethodMethod %}
                      class="label-on-left {{classApiMethodMethod}}_name setName classCompanyAbout inputCompanyAbout{{pageId}}Name "
                      name="setName"
    {%- else %}
                      class="label-on-left {{classApiMethodMethod}}_name valueName classCompanyAbout inputCompanyAbout{{pageId}}Name "
                      name="name"
    {%- endif %}
  {%- endif %}
  {%- if "Page" == classApiMethodMethod %}
                      value="{{result.name | e }}"
  {%- endif %}
                      ></sl-input>

  {%- if 'Page' == classApiMethodMethod %}
                </form>
  {%- endif %}
{%- endmacro %}

{%- macro htmNameCompanyAboutPage(classApiMethodMethod, authForWriteBool=false, authForReadBool=false) %}
                            {{ inputNameCompanyAboutPage(classApiMethodMethod=classApiMethodMethod, authForWrite=authForWrite, authForRead=authForRead) }}
{%- endmacro %}
{%- macro inputDescriptionCompanyAboutPage(classApiMethodMethod, authForWrite=authForWrite, authForRead=authForRead) %}
  {%- if 'Page' == classApiMethodMethod %}
                <form class="subgrid-2col " id="PageForm_description">
  {%- endif %}
                  <sl-input
                      {% if authForWriteBool == true %}clearable{% else %}readonly{% endif %}
                      placeholder="[String] about description"
                      label="about description"
                      help-text="
The about description. "
                      id="{{classApiMethodMethod}}_description"
  {%- if "Page" == classApiMethodMethod %}
                      data-pageId={{ result.pageId | tojson }}
                      class="label-on-left {{classApiMethodMethod}}_description setDescription classCompanyAbout inputCompanyAbout{{pageId}}Description "
                      name="setDescription"
  {%- else %}
    {%- if "PATCH" == classApiMethodMethod %}
                      class="label-on-left {{classApiMethodMethod}}_description setDescription classCompanyAbout inputCompanyAbout{{pageId}}Description "
                      name="setDescription"
    {%- else %}
                      class="label-on-left {{classApiMethodMethod}}_description valueDescription classCompanyAbout inputCompanyAbout{{pageId}}Description "
                      name="description"
    {%- endif %}
  {%- endif %}
  {%- if "Page" == classApiMethodMethod %}
                      value="{{result.description | e }}"
  {%- endif %}
                      ></sl-input>

  {%- if 'Page' == classApiMethodMethod %}
                </form>
  {%- endif %}
{%- endmacro %}

{%- macro htmDescriptionCompanyAboutPage(classApiMethodMethod, authForWriteBool=false, authForReadBool=false) %}
                            {{ inputDescriptionCompanyAboutPage(classApiMethodMethod=classApiMethodMethod, authForWrite=authForWrite, authForRead=authForRead) }}
{%- endmacro %}
{%- macro inputPageIdCompanyAboutPage(classApiMethodMethod, authForWrite=authForWrite, authForRead=authForRead) %}
  {%- if 'Page' == classApiMethodMethod %}
                <form class="subgrid-2col " id="PageForm_pageId">
  {%- endif %}
                  <sl-input
                      {% if authForWriteBool == true %}clearable{% else %}readonly{% endif %}
                      placeholder="[String] Page ID"
                      label="Page ID"
                      help-text="
The ID for this page. "
                      id="{{classApiMethodMethod}}_pageId"
  {%- if "Page" == classApiMethodMethod %}
                      data-pageId={{ result.pageId | tojson }}
                      class="label-on-left {{classApiMethodMethod}}_pageId setPageId classCompanyAbout inputCompanyAbout{{pageId}}PageId "
                      name="setPageId"
  {%- else %}
    {%- if "PATCH" == classApiMethodMethod %}
                      class="label-on-left {{classApiMethodMethod}}_pageId setPageId classCompanyAbout inputCompanyAbout{{pageId}}PageId "
                      name="setPageId"
    {%- else %}
                      class="label-on-left {{classApiMethodMethod}}_pageId valuePageId classCompanyAbout inputCompanyAbout{{pageId}}PageId "
                      name="pageId"
    {%- endif %}
  {%- endif %}
  {%- if "Page" == classApiMethodMethod %}
                      value="{{result.pageId | e }}"
  {%- endif %}
                      ></sl-input>

  {%- if 'Page' == classApiMethodMethod %}
                </form>
  {%- endif %}
{%- endmacro %}

{%- macro htmPageIdCompanyAboutPage(classApiMethodMethod, authForWriteBool=false, authForReadBool=false) %}
                            {{ inputPageIdCompanyAboutPage(classApiMethodMethod=classApiMethodMethod, authForWrite=authForWrite, authForRead=authForRead) }}
{%- endmacro %}
{%- macro inputDisplayPageCompanyAboutPage(classApiMethodMethod, authForWrite=authForWrite, authForRead=authForRead) %}
  {%- if 'Page' == classApiMethodMethod %}
                <form class="subgrid-2col " id="PageForm_displayPage">
  {%- endif %}
  {%- if 'Page' == classApiMethodMethod %}
                  <sl-button
                      id="{{classApiMethodMethod}}_displayPage"
                      placeholder="[String] product page"
                      label="product page"
                      help-text="Visit this product's landing page. "
                      class="button-on-left {{classApiMethodMethod}}_displayPage classCompanyAbout inputCompanyAbout{{pageId}}DisplayPage "
                      name="setDisplayPage"
                      href="{{ result.displayPage | e }}"
                      >
                    product page
                  </sl-button>
                  <div class="button-description-on-right ">Visit this product's landing page. </div>
  {%- else %}
                  <sl-input
                      {% if authForWriteBool == true %}clearable{% else %}readonly{% endif %}
                      placeholder="[String] product page"
                      label="product page"
                      help-text="
Visit this product's landing page. "
                      id="{{classApiMethodMethod}}_displayPage"
  {%- if "Page" == classApiMethodMethod %}
                      data-pageId={{ result.pageId | tojson }}
                      class="label-on-left {{classApiMethodMethod}}_displayPage setDisplayPage classCompanyAbout inputCompanyAbout{{pageId}}DisplayPage "
                      name="setDisplayPage"
  {%- else %}
    {%- if "PATCH" == classApiMethodMethod %}
                      class="label-on-left {{classApiMethodMethod}}_displayPage setDisplayPage classCompanyAbout inputCompanyAbout{{pageId}}DisplayPage "
                      name="setDisplayPage"
    {%- else %}
                      class="label-on-left {{classApiMethodMethod}}_displayPage valueDisplayPage classCompanyAbout inputCompanyAbout{{pageId}}DisplayPage "
                      name="displayPage"
    {%- endif %}
  {%- endif %}
  {%- if "Page" == classApiMethodMethod %}
                      value="{{result.displayPage | e }}"
  {%- endif %}
                      ></sl-input>

  {%- endif %}
  {%- if 'Page' == classApiMethodMethod %}
                </form>
  {%- endif %}
{%- endmacro %}

{%- macro htmDisplayPageCompanyAboutPage(classApiMethodMethod, authForWriteBool=false, authForReadBool=false) %}
                            {{ inputDisplayPageCompanyAboutPage(classApiMethodMethod=classApiMethodMethod, authForWrite=authForWrite, authForRead=authForRead) }}
{%- endmacro %}
