{% extends "en-us/PageLayout.htm" %}
{%- block htmTitlePageLayout %}
{%- block htmTitleCompanyServicePage %}
    <title>{{ result.title }}</title>
{%- endblock htmTitleCompanyServicePage %}
{%- endblock htmTitlePageLayout %}

{%- block htmStylesPageLayout %}
{{ super() }}
    <link rel="stylesheet" href="{{ staticBaseUrl }}/css/en-us/search/service/CompanyService.css"/>
{%- block htmStylesCompanyServicePage %}
{%- endblock htmStylesCompanyServicePage %}
{%- endblock htmStylesPageLayout %}

{%- block htmStylePageLayout %}
{{ super() }}
{%- block htmStyleCompanyServicePage %}
{%- endblock htmStyleCompanyServicePage %}
{%- endblock htmStylePageLayout %}

{%- block htmScriptsPageLayout %}
{{ super() }}
{%- block htmScriptsCompanyServicePage %}
    <script src="{{staticBaseUrl}}/js/en-us/search/service/CompanyService.js"></script>
    <script type="module" src="{{staticBaseUrl}}/js/en-us/search/service/CompanyServiceSearchPage.js"></script>
    <script type="module" src="{{staticBaseUrl}}/js/en-us/search/service/CompanyServiceEditPage.js"></script>
{%- endblock htmScriptsCompanyServicePage %}
{%- endblock htmScriptsPageLayout %}

{%- block htmScriptPageLayout %}
{%- block htmScriptCompanyServicePage %}
    <script>

      function jsWebsocketCompanyService(pageId, vars, $response) {
{%- block jsWebsocketCompanyServicePage %}{%- endblock %}
      }

      function jsTooltipCompanyService(e, feature) {
{%- block jsTooltipCompanyServicePage %}{%- endblock %}
      }

      function htmTooltipCompanyService(feature, layer) {
        return `{%- block htmTooltipCompanyServicePage %}
<h3><i class="{{ classIconCssClasses }}  "></i><a href="${quoteattr(feature.properties.editPage)}">${feature.properties.title}</a></h3>
{%- endblock htmTooltipCompanyServicePage %}`;
      }
    </script>
    <script type="module">
{% if DEFAULT_MAP_LOCATION is defined %}
      window.DEFAULT_MAP_LOCATION = { lat: {{ DEFAULT_MAP_LOCATION.lat }}, lon: {{ DEFAULT_MAP_LOCATION.lon }} };
{% endif %}
{% if DEFAULT_MAP_ZOOM is defined %}
      window.DEFAULT_MAP_ZOOM = {{ DEFAULT_MAP_ZOOM }};
{% endif %}
      window.DEFAULT_ZONE_ID = '{{ defaultZoneId }}';
      Promise.all([
        customElements.whenDefined('sl-button')
        , customElements.whenDefined('sl-input')
      ]).then(() => {

        var pageId = {% if result.pageId is defined %}{{ result.pageId | tojson }}{% else %}null{% endif %};

        if(pageId == null) {
          document.querySelector('#grid-toggle-details')?.addEventListener('click', () => {
            document.querySelector('#site-results-grid').classList.remove('grid-mode-list', 'grid-mode-card');
            document.querySelector('#site-results-grid').classList.add('grid-mode-details');
          });
          document.querySelector('#grid-toggle-list')?.addEventListener('click', () => {
            document.querySelector('#site-results-grid').classList.remove('grid-mode-details', 'grid-mode-card');
            document.querySelector('#site-results-grid').classList.add('grid-mode-list');
          });
          document.querySelector('#grid-toggle-card')?.addEventListener('click', () => {
            document.querySelector('#site-results-grid').classList.remove('grid-mode-details', 'grid-mode-list');
            document.querySelector('#site-results-grid').classList.add('grid-mode-card');
          });
        } else {
          var o = document.querySelector('.pageForm .result')?.value;
          if(o)
            window.result = JSON.parse(o);
        {% if pageId is defined %}
        {% endif %}
        }
        var l = document.querySelector('.pageForm .listCompanyService')?.value;
        if(l)
          window.listCompanyService = JSON.parse(l);
        window.varsFq = JSON.parse('{{ toJsonObjectStringInApostrophes(varsFq) }}');
        window.varsRange = JSON.parse('{{ toJsonObjectStringInApostrophes(varsRange) }}');
        window.defaultRangeVar = '{{ defaultRangeVar }}';
        pageGraphCompanyService();
        {% for key, value in varsQ.items() %}

        document.querySelector('#qCompanyService_{{ key }}')?.addEventListener('sl-{% if var == 'objectSuggest' %}keyup{% else %}change{% endif %}', event => {
          qChange('CompanyService', event.target, document.querySelector('#qCompanyServiceDiv_{{ key }}'));
        });
        {% endfor %}

        document.querySelector('#qCompanyService_rows')?.addEventListener('sl-change', event => {
          paramChange('CompanyService', event.target, document.querySelector('#qCompanyServiceDiv_rows'));
        });

        document.querySelector('#qCompanyService_start')?.addEventListener('sl-change', event => {
          paramChange('CompanyService', event.target, document.querySelector('#qCompanyServiceDiv_start'));
        });


        var submitForm_patchCompanyService = document.querySelector('#htmForm_patchCompanyService')?.addEventListener('submit', event => {
          event.preventDefault();
          return false;
        });
        document.querySelector('#htmFormButton_patchCompanyService')?.addEventListener('click', event => {
          event.preventDefault();
          patchCompanyService(null, document.querySelector('#htmForm_patchCompanyService'), document.querySelector('#htmFormButton_patchCompanyService'), event.target.getAttribute('data-pageId'));
          return false;
        });

        var submitForm_postCompanyService = document.querySelector('#htmForm_postCompanyService')?.addEventListener('submit', event => {
          event.preventDefault();
          return false;
        });
        document.querySelector('#htmFormButton_postCompanyService')?.addEventListener('click', event => {
          event.preventDefault();
          postCompanyService(document.querySelector('#htmForm_postCompanyService'), document.querySelector('#htmFormButton_postCompanyService'), (response, target) => { response.json().then((json) => { window.location.href = json.editPage; }); });
          return false;
        });

        var submitForm_putimportCompanyService = document.querySelector('#htmForm_putimportCompanyService')?.addEventListener('submit', event => {
          event.preventDefault();
          return false;
        });
        document.querySelector('#htmFormButton_putimportCompanyService')?.addEventListener('click', event => {
          event.preventDefault();
          putimportCompanyService(document.querySelector('#htmForm_putimportCompanyService'), document.querySelector('#htmFormButton_putimportCompanyService'));
          return false;
        });

        var submitForm_searchpageCompanyService = document.querySelector('#htmForm_searchpageCompanyService')?.addEventListener('submit', event => {
          event.preventDefault();
          return false;
        });
        document.querySelector('#htmFormButton_searchpageCompanyService')?.addEventListener('click', event => {
          event.preventDefault();
          searchpageCompanyService();
          return false;
        });
      });
    </script>
{%- endblock htmScriptCompanyServicePage %}
{%- endblock htmScriptPageLayout %}

{%- block websocketPageLayout %}
{%- block websocketCompanyServicePage %}
        window.eventBus = new EventBus('/eventbus');
        window.eventBus.enableReconnect(true);
        websocketCompanyService(websocketCompanyServiceInner);
{%- endblock websocketCompanyServicePage %}
{%- endblock websocketPageLayout %}

{%- block htmUrlCompanyServicePage %}{{pageUri}}?q={{query.q}}&amp;rows={% if rows is defined %}{{rows}}{% else %}{{pagination.rows}}{% endif %}&amp;rows={% if start is defined %}{{start}}{% else %}{{pagination.start}}{% endif %}{% for item query.fq %}{% if fq == item %}{% else %}&fq={{fq}}:{{val}}{% endif %}{% endfor %}{% for item in query.sort %}{% if sort == item %}{% else %}&sort={{var}} {{order}}{% endif %}{% endfor %}{%- endblock htmUrlCompanyServicePage %}

{%- block htmBodyStartPageLayout %}
    {{ super() }}
{%- block htmBodyStartCompanyServicePage %}
{%- endblock htmBodyStartCompanyServicePage %}
{%- endblock htmBodyStartPageLayout %}

{%- block htmBodyMiddlePageLayout %}
{%- block htmBodyMiddleCompanyServicePage %}
{%- include en-us/search/service/CompanyServiceSidebar.htm %}
{%- include en-us/search/service/CompanyServiceSuggestedSearch.htm %}
        <div class="main-content">
{% if resultCount == 0 %}
        <sl-tooltip for="return-to-CompanyService">back to all services</sl-tooltip>
          <sl-button id="return-to-CompanyService" variant="primary" href="{{ SITE_BASE_URL }}{{ pageUri }}">
            <i class="fa-solid fa-angle-left"></i>
            all services
          </sl-button>
        </sl-tooltip>
        <h1><i class="fa-regular fa-conveyor-belt"></i> <span>services</span></h1>
{% include en-us/search/service/CompanyServiceSearchButtons.htm %}
{% include en-us/search/service/CompanyServiceSearchForm.htm %}
        <h2>
          <span>
  {% if classIconCssClasses is defined %}
            <i class="{{ classIconCssClasses }}  site-menu-icon "></i>
  {% endif %}
            <span class="">no service found</span>
          </span>
        </h2>
{% else %}
  {% if resultCount == 1 %}
    {% if solrId is defined %}
          <div class="margin-block">
            <sl-tooltip for="return-to-CompanyService">back to all services</sl-tooltip>
            <sl-button id="return-to-CompanyService" variant="primary" href="{{ SITE_BASE_URL }}{{ pageUri }}">
              <i class="fa-solid fa-angle-left"></i>
              all services
            </sl-button>
          </div>
{% include en-us/search/service/CompanyServiceSearchButtons.htm %}
{% include en-us/search/service/CompanyServiceSearchForm.htm %}
          <h1 class="Page_title"><i class="fa-regular fa-conveyor-belt"></i> {{ result.title | e }}</h1>
    {% else %}
        <sl-tooltip for="return-to-CompanyService">back to all services</sl-tooltip>
          <sl-button id="return-to-CompanyService" variant="primary" href="{{ SITE_BASE_URL }}{{ pageUri }}">
            <i class="fa-solid fa-angle-left"></i>
            all services
          </sl-button>
        </sl-tooltip>
        <h1><i class="fa-regular fa-conveyor-belt"></i> <span>services</span></h1>
{% include en-us/search/service/CompanyServiceSearchButtons.htm %}
{% include en-us/search/service/CompanyServiceSearchForm.htm %}
        <h2>
          <span>
  {% if classIconCssClasses is defined %}
            <i class="{{ classIconCssClasses }}  site-menu-icon "></i>
  {% endif %}
            <span class="">no service found</span>
          </span>
        </h2>
    {% endif %}
  {% else %}
        <sl-tooltip for="return-to-CompanyService">back to all services</sl-tooltip>
          <sl-button id="return-to-CompanyService" variant="primary" href="{{ SITE_BASE_URL }}{{ pageUri }}">
            <i class="fa-solid fa-angle-left"></i>
            all services
          </sl-button>
        </sl-tooltip>
        <h1><i class="fa-regular fa-conveyor-belt"></i> <span>services</span></h1>
{% include en-us/search/service/CompanyServiceSearchButtons.htm %}
{% include en-us/search/service/CompanyServiceSearchForm.htm %}
        <h2>
          <span>
  {% if classIconCssClasses is defined %}
            <i class="{{ classIconCssClasses }}  site-menu-icon "></i>
  {% endif %}
            <span class="">no service found</span>
          </span>
        </h2>
  {% endif %}
{% endif %}
{%- block htmFormCompanyServicePage %}
          <form action="/en-us/api/service" id="CompanyServiceForm" class="pageForm " onsubmit="event.preventDefault(); return false; ">
{% if pageId is defined %}
            <input name="pageId" class="valuePageId" type="hidden" value="{{pageId}}"/>
            {% endif %}
            <input name="focusId" type="hidden"/>
            <input name="pageResponse" id="pageResponse" class="pageResponse"  value='{{ toJsonObjectStringInApostrophes(pageResponse) }}' type="hidden"/>
            <input name="result" id="result" class="result"  value='{{ toJsonObjectStringInApostrophes(result) }}' type="hidden"/>
            <input name="listCompanyService" id="listCompanyService" class="listCompanyService"  value='{{ toJsonArrayStringInApostrophes(listCompanyService) }}' type="hidden"/>
          </form>
  {% if solrId is defined %}
          {{ htmButton_searchpageCompanyService() }}
          {{ htmForm_searchpageCompanyService() }}
  {% endif %}
{%- endblock htmFormCompanyServicePage %}
        </div>
{%- endblock htmBodyMiddleCompanyServicePage %}
{%- endblock htmBodyMiddlePageLayout %}

{%- block htmBodyEndPageLayout %}
      {{ super() }}
{%- block htmBodyEndCompanyServicePage %}
{%- endblock htmBodyEndCompanyServicePage %}
{%- endblock htmBodyEndPageLayout %}
{%- macro inputCreatedCompanyServicePage(classApiMethodMethod, authForWrite=authForWrite, authForRead=authForRead) %}
  {%- if 'Page' == classApiMethodMethod %}
                <form class="subgrid-2col " id="PageForm_created">
  {%- endif %}
                  <sl-input
                      type="text"
                      readonly
                      help-text="A created timestamp for this record in the database"
                      label="created"
                      class="label-on-left {{classApiMethodMethod}}_created datetimepicker setCreated classCompanyService inputCompanyService{{pageId}}Created "
                      placeholder="MM/dd/yyyy h:mm a '['VV']'"
                      data-timeformat="MM/dd/yyyy h:mm a '['VV']'"
                      id="{{classApiMethodMethod}}_created"
                      value="{%- if result.created is defined %}{{ formatZonedDateTime(result.created, "MM/dd/yyyy h:mm a '['VV']'", defaultLocaleId, defaultZoneId) | e }}{%- endif %}"
  {%- if 'Page' == classApiMethodMethod %}
  {%- endif %}
                      data-pageId={{ result.pageId | tojson }}
                      >
                  </sl-input>
  {%- if 'Page' == classApiMethodMethod %}
                </form>
  {%- endif %}
{%- endmacro %}

{%- macro htmCreatedCompanyServicePage(classApiMethodMethod, authForWriteBool=false, authForReadBool=false) %}
                            {{ inputCreatedCompanyServicePage(classApiMethodMethod=classApiMethodMethod, authForWrite=authForWrite, authForRead=authForRead) }}
{%- endmacro %}
{%- macro inputModifiedCompanyServicePage(classApiMethodMethod, authForWrite=authForWrite, authForRead=authForRead) %}
  {%- if 'Page' == classApiMethodMethod %}
                <form class="subgrid-2col " id="PageForm_modified">
  {%- endif %}
                  <sl-input
                      type="text"
                      readonly
                      help-text="A modified timestamp for this record in the database"
                      label="modified"
                      class="label-on-left {{classApiMethodMethod}}_modified datetimepicker setModified classCompanyService inputCompanyService{{pageId}}Modified "
                      placeholder="MM/dd/yyyy h:mm a '['VV']'"
                      data-timeformat="MM/dd/yyyy h:mm a '['VV']'"
                      id="{{classApiMethodMethod}}_modified"
                      value="{%- if result.modified is defined %}{{ formatZonedDateTime(result.modified, "MM/dd/yyyy h:mm a '['VV']'", defaultLocaleId, defaultZoneId) | e }}{%- endif %}"
  {%- if 'Page' == classApiMethodMethod %}
  {%- endif %}
                      data-pageId={{ result.pageId | tojson }}
                      >
                  </sl-input>
  {%- if 'Page' == classApiMethodMethod %}
                </form>
  {%- endif %}
{%- endmacro %}

{%- macro htmModifiedCompanyServicePage(classApiMethodMethod, authForWriteBool=false, authForReadBool=false) %}
                            {{ inputModifiedCompanyServicePage(classApiMethodMethod=classApiMethodMethod, authForWrite=authForWrite, authForRead=authForRead) }}
{%- endmacro %}
{%- macro inputArchivedCompanyServicePage(classApiMethodMethod, authForWrite=authForWrite, authForRead=authForRead) %}
  {%- if 'Page' == classApiMethodMethod %}
                <form class="subgrid-2col " id="PageForm_archived">
  {%- endif %}
  {%- if 'Page' == classApiMethodMethod %}
                  <sl-button variant="primary"
                      id="{{classApiMethodMethod}}_archived"
                      placeholder="archived"
                      label="archived"
                      help-text="For archiving this record"
                      class="label-on-left {{classApiMethodMethod}}_archived classCompanyService inputCompanyService{{pageId}}Archived "
                      name="setArchived"
                      data-pageId={{ result.pageId | tojson }}
                      data-val="{{ result.archived | e }}"
                      >archived</sl-button>
  {%- else %}
  {%- if 'Page' == classApiMethodMethod %}
                  <sl-checkbox
                      id="{{classApiMethodMethod}}_archived"
                      value="true"
  {%- else %}
                  <sl-select
                      id="{{classApiMethodMethod}}_archived"
  {%- endif %}
                      {% if authForWriteBool == true %}clearable{% else %}readonly{% endif %}
                      placeholder="archived"
                      label="archived"
                      help-text="For archiving this record"
  {%- if 'Page' == classApiMethodMethod %}
                      class="label-on-left {{classApiMethodMethod}}_archived classCompanyService inputCompanyService{{pageId}}Archived "
                      name="setArchived"
  {%- else %}
    {%- if 'Page' == classApiMethodMethod %}
                      class="label-on-left {{classApiMethodMethod}}_archived classCompanyService inputCompanyService{{pageId}}Archived "
                      name="setArchived"
    {%- else %}
                      class="label-on-left {{classApiMethodMethod}}_archived setArchived valueArchived classCompanyService inputCompanyService{{pageId}}Archived "
                      name="setArchived"
    {%- endif %}
  {%- endif %}
  {%- if 'Page' == classApiMethodMethod %}
    {%- if result.archived == true %}
                      checked
    {%- endif %}
                      data-pageId={{ result.pageId | tojson }}
                      >archived</sl-checkbox>
  {%- else %}
                      >
                    <sl-option value="" selected="selected"></sl-option>
                    <sl-option value="true">true</sl-option>
                    <sl-option value="false">false</sl-option>
                  </sl-select>
  {%- endif %}
  {%- endif %}
  {%- if 'Page' == classApiMethodMethod %}
                </form>
  {%- endif %}
{%- endmacro %}

{%- macro htmArchivedCompanyServicePage(classApiMethodMethod, authForWriteBool=false, authForReadBool=false) %}
                            {{ inputArchivedCompanyServicePage(classApiMethodMethod=classApiMethodMethod, authForWrite=authForWrite, authForRead=authForRead) }}
{%- endmacro %}
{%- macro inputNameCompanyServicePage(classApiMethodMethod, authForWrite=authForWrite, authForRead=authForRead) %}
  {%- if 'Page' == classApiMethodMethod %}
                <form class="subgrid-2col " id="PageForm_name">
  {%- endif %}
                  <sl-input
                      {% if authForWriteBool == true %}clearable{% else %}readonly{% endif %}
                      placeholder="[String] service name"
                      label="service name"
                      help-text="
The service name. "
                      id="{{classApiMethodMethod}}_name"
  {%- if "Page" == classApiMethodMethod %}
                      data-pageId={{ result.pageId | tojson }}
                      class="label-on-left {{classApiMethodMethod}}_name setName classCompanyService inputCompanyService{{pageId}}Name "
                      name="setName"
  {%- else %}
    {%- if "PATCH" == classApiMethodMethod %}
                      class="label-on-left {{classApiMethodMethod}}_name setName classCompanyService inputCompanyService{{pageId}}Name "
                      name="setName"
    {%- else %}
                      class="label-on-left {{classApiMethodMethod}}_name valueName classCompanyService inputCompanyService{{pageId}}Name "
                      name="name"
    {%- endif %}
  {%- endif %}
  {%- if "Page" == classApiMethodMethod %}
                      value="{{result.name | e }}"
  {%- endif %}
                      ></sl-input>

  {%- if 'Page' == classApiMethodMethod %}
                </form>
  {%- endif %}
{%- endmacro %}

{%- macro htmNameCompanyServicePage(classApiMethodMethod, authForWriteBool=false, authForReadBool=false) %}
                            {{ inputNameCompanyServicePage(classApiMethodMethod=classApiMethodMethod, authForWrite=authForWrite, authForRead=authForRead) }}
{%- endmacro %}
{%- macro inputDescriptionCompanyServicePage(classApiMethodMethod, authForWrite=authForWrite, authForRead=authForRead) %}
  {%- if 'Page' == classApiMethodMethod %}
                <form class="subgrid-2col " id="PageForm_description">
  {%- endif %}
                  <sl-input
                      {% if authForWriteBool == true %}clearable{% else %}readonly{% endif %}
                      placeholder="[String] service description"
                      label="service description"
                      help-text="
The service description. "
                      id="{{classApiMethodMethod}}_description"
  {%- if "Page" == classApiMethodMethod %}
                      data-pageId={{ result.pageId | tojson }}
                      class="label-on-left {{classApiMethodMethod}}_description setDescription classCompanyService inputCompanyService{{pageId}}Description "
                      name="setDescription"
  {%- else %}
    {%- if "PATCH" == classApiMethodMethod %}
                      class="label-on-left {{classApiMethodMethod}}_description setDescription classCompanyService inputCompanyService{{pageId}}Description "
                      name="setDescription"
    {%- else %}
                      class="label-on-left {{classApiMethodMethod}}_description valueDescription classCompanyService inputCompanyService{{pageId}}Description "
                      name="description"
    {%- endif %}
  {%- endif %}
  {%- if "Page" == classApiMethodMethod %}
                      value="{{result.description | e }}"
  {%- endif %}
                      ></sl-input>

  {%- if 'Page' == classApiMethodMethod %}
                </form>
  {%- endif %}
{%- endmacro %}

{%- macro htmDescriptionCompanyServicePage(classApiMethodMethod, authForWriteBool=false, authForReadBool=false) %}
                            {{ inputDescriptionCompanyServicePage(classApiMethodMethod=classApiMethodMethod, authForWrite=authForWrite, authForRead=authForRead) }}
{%- endmacro %}
{%- macro inputPageIdCompanyServicePage(classApiMethodMethod, authForWrite=authForWrite, authForRead=authForRead) %}
  {%- if 'Page' == classApiMethodMethod %}
                <form class="subgrid-2col " id="PageForm_pageId">
  {%- endif %}
                  <sl-input
                      {% if authForWriteBool == true %}clearable{% else %}readonly{% endif %}
                      placeholder="[String] Page ID"
                      label="Page ID"
                      help-text="
The ID for this page. "
                      id="{{classApiMethodMethod}}_pageId"
  {%- if "Page" == classApiMethodMethod %}
                      data-pageId={{ result.pageId | tojson }}
                      class="label-on-left {{classApiMethodMethod}}_pageId setPageId classCompanyService inputCompanyService{{pageId}}PageId "
                      name="setPageId"
  {%- else %}
    {%- if "PATCH" == classApiMethodMethod %}
                      class="label-on-left {{classApiMethodMethod}}_pageId setPageId classCompanyService inputCompanyService{{pageId}}PageId "
                      name="setPageId"
    {%- else %}
                      class="label-on-left {{classApiMethodMethod}}_pageId valuePageId classCompanyService inputCompanyService{{pageId}}PageId "
                      name="pageId"
    {%- endif %}
  {%- endif %}
  {%- if "Page" == classApiMethodMethod %}
                      value="{{result.pageId | e }}"
  {%- endif %}
                      ></sl-input>

  {%- if 'Page' == classApiMethodMethod %}
                </form>
  {%- endif %}
{%- endmacro %}

{%- macro htmPageIdCompanyServicePage(classApiMethodMethod, authForWriteBool=false, authForReadBool=false) %}
                            {{ inputPageIdCompanyServicePage(classApiMethodMethod=classApiMethodMethod, authForWrite=authForWrite, authForRead=authForRead) }}
{%- endmacro %}
{%- macro inputDisplayPageCompanyServicePage(classApiMethodMethod, authForWrite=authForWrite, authForRead=authForRead) %}
  {%- if 'Page' == classApiMethodMethod %}
                <form class="subgrid-2col " id="PageForm_displayPage">
  {%- endif %}
  {%- if 'Page' == classApiMethodMethod %}
                  <sl-button variant="primary"
                      id="{{classApiMethodMethod}}_displayPage"
                      placeholder="[String] product page"
                      label="product page"
                      help-text="Visit this product's landing page. "
                      class="button-on-left {{classApiMethodMethod}}_displayPage classCompanyService inputCompanyService{{pageId}}DisplayPage "
                      name="setDisplayPage"
                      href="{{ result.displayPage | e }}"
                      >
                    product page
                  </sl-button>
                  <div class="button-description-on-right ">Visit this product's landing page. </div>
  {%- else %}
                  <sl-input
                      {% if authForWriteBool == true %}clearable{% else %}readonly{% endif %}
                      placeholder="[String] product page"
                      label="product page"
                      help-text="
Visit this product's landing page. "
                      id="{{classApiMethodMethod}}_displayPage"
  {%- if "Page" == classApiMethodMethod %}
                      data-pageId={{ result.pageId | tojson }}
                      class="label-on-left {{classApiMethodMethod}}_displayPage setDisplayPage classCompanyService inputCompanyService{{pageId}}DisplayPage "
                      name="setDisplayPage"
  {%- else %}
    {%- if "PATCH" == classApiMethodMethod %}
                      class="label-on-left {{classApiMethodMethod}}_displayPage setDisplayPage classCompanyService inputCompanyService{{pageId}}DisplayPage "
                      name="setDisplayPage"
    {%- else %}
                      class="label-on-left {{classApiMethodMethod}}_displayPage valueDisplayPage classCompanyService inputCompanyService{{pageId}}DisplayPage "
                      name="displayPage"
    {%- endif %}
  {%- endif %}
  {%- if "Page" == classApiMethodMethod %}
                      value="{{result.displayPage | e }}"
  {%- endif %}
                      ></sl-input>

  {%- endif %}
  {%- if 'Page' == classApiMethodMethod %}
                </form>
  {%- endif %}
{%- endmacro %}

{%- macro htmDisplayPageCompanyServicePage(classApiMethodMethod, authForWriteBool=false, authForReadBool=false) %}
                            {{ inputDisplayPageCompanyServicePage(classApiMethodMethod=classApiMethodMethod, authForWrite=authForWrite, authForRead=authForRead) }}
{%- endmacro %}
