{% extends "en-us/PageLayout.htm" %}
{% block htmMetaPageLayout %}
    <meta name="site:pageId" content="open-data-policing"/>
    <meta name="site:uri" content="/en-us/website/{{ pageId }}"/>
    <meta name="site:url" content="https://www.opendatapolicingnc.com/"/>
    <meta name="site:name" content="Open Data Policing — Southern Coalition for Social Justice"/>
    <meta name="site:title" content="{{ name }}"/>
    <meta name="site:description" content="The site currently aggregates, visualizes, and publishes public records related to all known traffic stops to have occurred in North Carolina since 2002"/>
    <meta name="site:websiteNum" content="3"/>
{% endblock htmMetaPageLayout %}
{% block htmStylePageLayout %}
{% endblock htmStylePageLayout %}
{% block htmTitlePageLayout %}
    <title>{{ title }}</title>
{% endblock htmTitlePageLayout %}
{% block htmBodyMiddlePageLayout %}
{% endblock %}
