{% extends "en-us/PageLayout.htm" %}
{% block htmMetaPageLayout %}
    <meta property="site:pageId" content="ratial-equity-report-cards"/>
    <meta property="site:uri" content="/en-us/website/{{ pageId }}"/>
    <meta property="site:url" content="https://rerc.southerncoalition.org/"/>
    <meta property="site:name" content="Ratial Equity Report Cards — Southern Coalition for Social Justice"/>
    <meta property="site:title" content="{{ name }}"/>
    <meta property="site:description" content=""/>
    <meta property="site:websiteNum" content="2"/>
{% endblock htmMetaPageLayout %}
{% block htmStylePageLayout %}
{% endblock htmStylePageLayout %}
{% block htmTitlePageLayout %}
    <title>{{ title }}</title>
{% endblock htmTitlePageLayout %}
{% block htmBodyMiddlePageLayout %}
{% endblock %}
