{% extends "en-us/PageLayout.htm" %}
{% block htmMetaPageLayout %}
    <meta property="site:pageId" content="trail-blaze-hunt"/>
    <meta property="site:uri" content="/en-us/website/{{ pageId }}"/>
    <meta property="site:url" content="https://www.trailblazehunt.com/"/>
    <meta property="site:name" content="Trail Blaze Hunting Consultants"/>
    <meta property="site:title" content="{{ name }}"/>
    <meta property="site:description" content=""/>
    <meta property="site:websiteNum" content="1"/>
{% endblock htmMetaPageLayout %}
{% block htmStylePageLayout %}
{% endblock htmStylePageLayout %}
{% block htmTitlePageLayout %}
    <title>{{ title }}</title>
{% endblock htmTitlePageLayout %}
{% block htmBodyMiddlePageLayout %}
{% endblock %}
