{% extends "PageLayout.htm" %}
{% block htmTitle %}
    <title>computate.org</title>
{% endblock %}
{% block htmBodyMiddle %}
      <main>
        <sl-card with-image with-footer>
          <img slot="image" src="https://github.com/smartabyar-smartvillage/smartabyar-smartvillage-static/blob/main/jpg/meet-our-team.jpg?raw=true" alt="boston-university fiware redhat">
          <h1>COMPUTATE</h1>
          Christopher Tate is a Red Hat Principal Software Engineer and a forever open source software developer that advocates for open standards together with Red Hat software in the Cloud.
          He is a lead software engineer for logging, metrics, alerts, and AI/ML smart data research projects in the New England Research Cloud environment. 
          Creator of the Smart Village Operator and Smart Village Platform on Red Hat OpenShift, deploying all things FIWARE including Orion-LD, IoT Agents, and Smart Data Models.
          Architect of the Red Hat Social Innovation Program
          Founder of the Smarta Byar Smart Village Community FIWARE Innovation Hub
          <footer slot="footer">
            <img class="max-width-100" src="https://computate.neocities.org/svg/computate.org-keys.svg" alt="computate.org logo">
          </footer>
        </sl-card>
      </main>
<!-- <div class="w3-content w3-row w3-padding ">
	<div>
		<h3>Search the articles: </h3>
		<div class="">
			<form id="ArticleForm" style="display: inline-block; " method="GET" action="/page" onsubmit="event.preventDefault(); search($('#searchArticlesInput')); return false; ">
				<div class="w3-bar ">
					<input type="text" placeholder="search articles" title="" class="recherchePageRecherche_enUS w3-input w3-border w3-bar-item " name="objectText" id="searchArticlesInput">
					<button class="w3-btn w3-round w3-border w3-border-black w3-ripple w3-padding w3-bar-item w3-vivid-greenish-blue ">
						<i class="fas fa-search "></i>
					</button>
				</div>
			</form>
		</div>
		<div class="masonry-container ">
{% for sitePage in listSitePage %}
			<div class="masonry-item w3-padding-top-32 ">
				<a href="{{ url }}">
					<div class="w3-card w3-padding ">
{% if pageImageUri is defined %}
						<img class="w3-image w3-border " src="{{ STATIC_BASE_URL }}{{ pageImageUri }}"/>
{% endif %}
						<div class="font-weight-bold ">{{ h1 }}</div>
						<div class="font-style-italic ">{{ h2 }}</div>
					</div>
				</a>
			</div>
{% endfor %}
		</div>
	</div>
</div> -->
{% endblock %}
