<!DOCTYPE html>
<html lang="en-US">
  <head>
{% block htmHead %}
{% block htmTitle %}
    <title>computate-smart-laptop-challenge</title>
{% endblock htmTitle %}
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
{% block htmMeta %}
{% endblock htmMeta %}
{% block htmStyle %}
    <link rel="icon" href="{{ STATIC_BASE_URL }}/favicon.ico" />
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin=""/>
    <!-- <link rel="stylesheet" href="https://early.webawesome.com/webawesome@3.0.0-alpha.2/dist/themes/default.css" />
    <script type="module" src="https://early.webawesome.com/webawesome@3.0.0-alpha.2/dist/webawesome.loader.js"></script> -->

        <link
          rel="stylesheet"
          media="(prefers-color-scheme:light)"
          href="https://cdn.jsdelivr.net/npm/@shoelace-style/shoelace@2.15.1/cdn/themes/light.css"
        />
        <link
          rel="stylesheet"
          media="(prefers-color-scheme:dark)"
          href="https://cdn.jsdelivr.net/npm/@shoelace-style/shoelace@2.15.1/cdn/themes/dark.css"
          onload="document.documentElement.classList.add('sl-theme-dark');"
        />
        <script type="module" src="https://cdn.jsdelivr.net/npm/@shoelace-style/shoelace@2.15.1/cdn/shoelace-autoloader.js"></script>


    <link rel="stylesheet" href="{{ STATIC_BASE_URL }}/css/site-enUS.css"/>
{% endblock htmStyle %}
{% block htmScripts %}
{% if FONTAWESOME_KIT is defined %}
    <script src="{{ FONTAWESOME_KIT }}"></script>
{% endif %}
    <!-- <script src="{{ STATIC_BASE_URL }}/js/site-enUS.js"></script> -->
    <script src="{{ STATIC_BASE_URL }}/js/sockjs.js"></script>
    <script src="{{ STATIC_BASE_URL }}/js/vertx-eventbus.js"></script>
    <script src="{{ STATIC_BASE_URL }}/js/plotly-2.9.0.min.js"></script>
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js" integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>
    <!-- from web awesome documentation page -->
    <script type="module" src="https://backers.webawesome.com/assets/scripts/color-scheme.js"></script>
{% endblock htmScripts %}
{% block htmScript %}
{% endblock htmScript %}
{% endblock htmHead %}
  </head>
  <body>
    <div id="sl-page">
{% block htmBody %}
{% block htmBodyStart %}
      <header id="top-bar">
        <sl-button data-toggle-nav class="only-mobile" label="open menu" appearance="text" size="small">
          <sl-icon name="bars"></sl-icon>
        </sl-button>
        <sl-input placeholder="search" size="small">
          <sl-icon name="magnifying-glass" slot="prefix"></sl-icon>
        </sl-input>
        <sl-dropdown id="color-scheme-selector">
          <sl-button slot="trigger" caret appearance="tinted" variant="brand" size="small">
            <sl-icon class="only-light" slot="prefix" name="sun" variant="regular"></sl-icon>
            <sl-icon class="only-dark" slot="prefix" name="moon" variant="regular"></sl-icon>
            <span class="only-light only-desktop">Light</span>
            <span class="only-dark only-desktop">Dark</span>
          </sl-button>
          <sl-menu>
            <sl-menu-item type="checkbox" value="light">
              Light
            </sl-menu-item>
            <sl-menu-item type="checkbox" value="dark">
              Dark
            </sl-menu-item>
            <sl-divider></sl-divider>
            <sl-menu-item type="checkbox" value="auto">
              System
            </sl-menu-item>
          </sl-menu>
        </sl-dropdown>
      </header>
{% block htmBodyMenu %}
      <aside slot="navigation" id="sidebar">
        <a id="img-keys-a" href="/">
          <img id="img-keys-img" src="https://computate.neocities.org/svg/computate-keys.svg"/>
        </a>
        <sl-icon-button id="sidebar-close-button" name="xmark" label="Close" data-drawer="close" class="only-mobile"></sl-icon-button>
        <ul>
          <li>
            <a href="{{ SITE_BASE_URL }}">home</a>
          </li>
          <li>
            <a href="/en-us/events">events</a>
          </li>
          <li>
            <a href="/en-us/hackathons">hackathons</a>
          </li>
          <li>
            <a href="/en-us/courses">courses</a>
          </li>
          <li>
            <a href="">Youtube</a>
          </li>
          <li>
            <a href="https://github.com/computate/">Github</a>
          </li>
          <li>
            <a href="/">research</a>
          </li>
          <li>
            <a href="/">websites</a>
          </li>
        </ul>
{% block htmMenuItems %}
{% if userKey is defined %}
        <sl-dropdown id="user-dropdown">
          <sl-button slot="trigger" caret variant="brand">
            <sl-icon slot="prefix" name="house-user" variant="duotone"></sl-icon>
            <span>{{userName}}</span>
          </sl-button>
          <sl-menu>
            <sl-menu-item type="checkbox" value="light">
              <sl-button variant="brand" href="/user/{{ userKey }}">
                <sl-icon slot="prefix" name="house-user" variant="duotone"></sl-icon>
                <span>my user page</span>
              </sl-button>
            </sl-menu-item>
            <sl-menu-item type="checkbox" value="dark">
              <sl-button variant="brand" href="{{ logoutUrl }}">
                <sl-icon slot="prefix" name="sign-out-alt" variant="duotone"></sl-icon>
                <span>sign out</span>
              </sl-button>
            </sl-menu-item>
          </sl-menu>
        </sl-dropdown>
{% else %}
        <sl-button href="{{ SITE_BASE_URL }}/user">
          <i class="fad fa-house-user "></i> login
        </sl-button>
{% endif %}
{% endblock htmMenuItems %}
      </aside>
{% endblock htmBodyMenu %}
{% endblock htmBodyStart %}
{% block htmBodyMiddle %}
      <main>override htmBodyMiddle</main>
{% endblock htmBodyMiddle %}
{% block htmBodyEnd %}
{% if GITHUB_ORG is defined %}
    <footer class="opposite-color " id="footer-open-source" class="display-flex">
      <sl-icon name="square-github" family="brands" style="size: 10rem; "></sl-icon>
      <div>
        <span>This site is open source. </span>
      </div>
      <div class="flex-align-center">
        <a href="https://github.com/{{ GITHUB_ORG }}/{{ SITE_NAME }}/" target="_blank">View the source code here on Github. </a>
      </div>
    </footer>
{% endif %}
    <footer id="footer-powered-by">
{% if SITE_POWERED_BY_URL is defined %}
      <div>
        <a href="{{ SITE_POWERED_BY_URL }}" target="_blank">
          <span>Powered by </span>
          <span>{{ SITE_POWERED_BY_NAME }}</span>
          <img src="{{ STATIC_BASE_URL }}{{ SITE_POWERED_BY_IMAGE_URI }}" class="inline-image"/>
        </a>
      </div>
{% endif %}
      <div>
        <a href="https://www.computate.org/" target="_blank">
          <span>Generated with </span>
          <img src="{{ STATIC_BASE_URL }}/svg/computate-keys.svg" class="inline-image"/>
        </a>
      </div>
    </footer>
{% endblock htmBodyEnd %}
{% endblock htmBody %}
    </div>
  </body>
</html>
