{% extends "en-us/PageLayout.htm" %}
{% block htmMetaPageLayout %}
    <meta property="site:pageId" content="computate-smart-website-builder"/>
    <meta property="site:uri" content="/en-us/product/{{ pageId }}"/>
    <meta property="site:userUri" content="/en-us/user/product/{{ pageId }}"/>
    <meta property="site:storeUrl" content="https://store.computate.org/product/computate-smart-website-builder/12"/>
    <meta property="site:downloadUri" content="/download/en-us/product/{{ pageId }}"/>
    <meta property="site:emailTemplate" content="/en-us/email/order-details.htm"/>
    <meta property="site:name" content="Computate Smart Website Builder"/>
    <meta property="site:title" content="{{ name }}"/>
    <meta property="site:description" content="Build a custom data-driven website for your own ideas with the {{ name}}"/>
{% endblock htmMetaPageLayout %}
{% block htmStylePageLayout %}
{% endblock htmStylePageLayout %}
{% block htmTitlePageLayout %}
    <title>{{ title }}</title>
{% endblock htmTitlePageLayout %}
{% block htmBodyMiddlePageLayout %}

        <div class="pink-purple-background">
          <div class="intro-content">
            <div class="wa-crown">
              <i class="fa-duotone fa-solid fa-browser fa-5x "></i>
            </div>
            <h1 class="brand-font">
              Build a custom data-driven website for your own ideas
            </h1>
            <h2 class="brand-font">
              with the {{ name }}
            </h2>
            <div class="intro-details">
              {% if userName is defined %}
              {% if scope is defined and scope == "GET" %}
              <div>
                <div>Download your own customizable website building toolkit to launch your own data-driven website with the {{ name }} here! </div>
                <sl-button id="order-button" class="gradient-button pink-purple-background" href="{{ SITE_BASE_URL }}{{ downloadUri }}" variant="neutral">
                  <i class="fa-solid fa-person-running-fast"></i>
                  Download
                </sl-button>
              </div>
              {% else %}
              <div>
                <div>You will use your GitHub username shown in the menu during checkout. </div>
                <sl-button id="order-button" class="gradient-button pink-purple-background" href="{{ storeUrl }}" variant="neutral">
                  <i class="fa-solid fa-person-running-fast"></i>
                  Order here
                </sl-button>
              </div>
              {% endif %}
              {% else %}
              <div>Want to get started with the {{ name }}? Start by logging into computate.org with your GitHub account. </div>
              <sl-button id="order-button" class="gradient-button pink-purple-background" href="{{ SITE_BASE_URL }}{{ userUri }}" variant="neutral">
                <i class="fa-duotone fa-right-to-bracket"></i>
                Log in with GitHub
              </sl-button>
              {% endif %}
            </div>
          </div>
        </div>

        <div class="summary-wrapper">
          <div class="summary">
            <h2 class="brand-font anchor-heading" id="whats-web-awesome">
              What is the {{ name }}?
            </h2>
            <p>
              Teaching tools and automation for easily building a custom website with the models and data that you care about using the best in open source software. 
            </p>

            <div class="summary-grid">
              <div>
                <div class="icon-heading">
                  <i class="fa-solid fa-code"></i>
                  <h3>
                    Modern development tools
                  </h3>
                </div>
                <p>
                  Learn how to install all the latest software development tools on your own computer like VSCode, Jupyter, Ansible, OpenJDK, Helm, and OpenShift, 
                  and start writing code like a real cloud-native developer. 
                </p>
              </div>

              <div>
                <div class="icon-heading">
                  <i class="fa-solid fa-cloud-arrow-up"></i>
                  <h3>
                    Cloud-native microservices
                  </h3>
                </div>
                <p>
                  Deploy cloud microservices in a Red Hat OpenShift Local cloud environment on your own computer 
                  for certificate management, event bus application clustering, databases, a search engine, and single sign-on server for securing and scaling your data-driven website. 
                </p>
              </div>
            </div>

          </div>
        </div>
{% endblock %}
