{% extends "en-us/PageLayout.htm" %}
{% block htmMetaPageLayout %}
    <meta property="site:pageId" content="smart-device-platform-builder"/>
    <meta property="site:uri" content="/en-us/product/{{ pageId }}"/>
    <meta property="site:title" content="Computate Smart Device Platform Builder 3"/>
{% endblock htmMetaPageLayout %}
{% block htmTitlePageLayout %}
    <title>{{ title }}</title>
{% endblock htmTitlePageLayout %}
{% block htmBodyMiddlePageLayout %}
      <main>
        <h1>{{ title }}</h1>
        Smart Device
      </main>
{% endblock %}
