{% extends "en-us/PageLayout.htm" %}
{% block htmMetaPageLayout %}
    <meta name="site:pageId" content="ai-telemetry"/>
    <meta name="site:uri" content="/en-us/research/{{ pageId }}"/>
    <meta name="site:url" content="https://github.com/OCP-on-NERC/ai-telemetry"/>
    <meta name="site:name" content="AI Telemetry open source project"/>
    <meta name="site:title" content="{{ name }}"/>
    <meta name="site:description" content="Develop a platform for reporting on AI/ML cluster and GPU device usage data and performing telemetry on AI/ML workloads through a secure dashboard and API."/>
{% endblock htmMetaPageLayout %}
{% block htmStylePageLayout %}
{% endblock htmStylePageLayout %}
{% block htmTitlePageLayout %}
    <title>{{ title }}</title>
{% endblock htmTitlePageLayout %}
{% block htmBodyMiddlePageLayout %}
{% endblock %}
