{% extends "en-us/PageLayout.htm" %}
{% block htmMetaPageLayout %}
    <meta property="site:pageId" content="observability-in-nerc"/>
    <meta property="site:uri" content="/en-us/research/{{ pageId }}"/>
    <meta property="site:url" content="https://github.com/OCP-on-NERC/docs/tree/main/architecture/observability"/>
    <meta property="site:name" content="Observability in the New England Research Cloud"/>
    <meta property="site:title" content="{{ name }}"/>
    <meta property="site:description" content=""/>
{% endblock htmMetaPageLayout %}
{% block htmStylePageLayout %}
{% endblock htmStylePageLayout %}
{% block htmTitlePageLayout %}
    <title>{{ title }}</title>
{% endblock htmTitlePageLayout %}
{% block htmBodyMiddlePageLayout %}
{% endblock %}
