{% extends "en-us/PageLayout.htm" %}
{% block htmMetaPageLayout %}
    <meta name="site:pageId" content="pecan-ecological-forecasting-in-the-cloud"/>
    <meta name="site:uri" content="/en-us/research/{{ pageId }}"/>
    <meta name="site:url" content="https://research.redhat.com/blog/research_project/prototyping-a-distributed-asynchronous-workflow-for-iterative-near-term-ecological-forecasting/"/>
    <meta name="site:name" content="PEcAn Ecological Forecasting in the Cloud"/>
    <meta name="site:title" content="{{ name }}"/>
    <meta name="site:description" content="Prototyping a Distributed, Asynchronous Workflow for Iterative Near-Term Ecological Forecasting"/>
{% endblock htmMetaPageLayout %}
{% block htmStylePageLayout %}
{% endblock htmStylePageLayout %}
{% block htmTitlePageLayout %}
    <title>{{ title }}</title>
{% endblock htmTitlePageLayout %}
{% block htmBodyMiddlePageLayout %}
{% endblock %}
