{% extends "en-us/PageLayout.htm" %}
{% block htmMetaPageLayout %}
    <meta property="site:pageId" content="smarta-byar-smart-village"/>
    <meta property="site:uri" content="/en-us/research/{{ pageId }}"/>
    <meta property="site:url" content="https://research.redhat.com/blog/research_project/creating-a-global-open-research-platform-to-better-understand-social-sustainability-using-data-from-a-real-life-smart-village/"/>
    <meta property="site:name" content="Smarta Byar Smart Village"/>
    <meta property="site:title" content="{{ name }}"/>
    <meta property="site:description" content="Creating a global open research platform to better understand social sustainability using data from a real-life smart village"/>
{% endblock htmMetaPageLayout %}
{% block htmStylePageLayout %}
{% endblock htmStylePageLayout %}
{% block htmTitlePageLayout %}
    <title>{{ title }}</title>
{% endblock htmTitlePageLayout %}
{% block htmBodyMiddlePageLayout %}
{% endblock %}
