{% extends "en-us/PageLayout.htm" %}
{% block htmMetaPageLayout %}
    <meta property="site:pageId" content="fiware-kubernetes-deployment-at-fiware-summit-2024"/>
    <meta property="site:uri" content="/en-us/event/{{ pageId }}"/>
    <meta property="site:name" content="FIWARE Kubernetes deployment at FIWARE Summit 2024 in Naples, Italy"/>
    <meta property="site:title" content="{{ name }}"/>
    <meta property="site:description" content="Learn how to deploy FIWARE microservices and Smart Data Models on Red Hat OpenShift and Kubernetes at the FIWARE Summit 2024 in Naples, italy"/>
{% endblock htmMetaPageLayout %}
{% block htmStylePageLayout %}
{% endblock htmStylePageLayout %}
{% block htmTitlePageLayout %}
    <title>{{ title }}</title>
{% endblock htmTitlePageLayout %}
{% block htmBodyMiddlePageLayout %}
{% endblock %}
